/****************** Add fonts ***************/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

/******************* Main css ****************/
.light-personalized-input {
    margin-bottom: 15px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    height: 45px;
    border: none;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 3px 10px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 3px 10px 0px rgba(50, 50, 50, 0.5);
    boder: 1px solid #939393;
    font-size: 15px;
    padding-right: 36px;
}
.light-personalized-input:focus {
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid #fff;
    color: #fff;
    font-size: 15px;
}
.personalized-alert-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #bc3836;
}
.content-container {
    padding-top: 80px;
}
.logo-header img {
    height: 85px;
}
.logo-header .navbar-brand {
    margin: 0;
    padding: 0;
}
.content-container .fixed-top {
    height: 80px;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 3px 0px rgba(222,222,222,0.61);
    -moz-box-shadow: 0px 5px 3px 0px rgba(222,222,222,0.61);
    box-shadow: 0px 5px 3px 0px rgba(222,222,222,0.61);
    z-index: 900;
}
.header-right-icons {
    margin: 0;
    padding: 0;
    list-style: none;
}
.header-right-icons span {
    color: #6F508D;
    font-size: 30px;
    cursor: pointer;
}
.header-right-icons li {
    display: inline;
}
.header-right-icons .notification-icon {
    margin: 0 40px;
}
.personalized-select {
    border: none;
    color: #6F508D;
    font-weight: bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    z-index: 10;
    background: transparent;
    padding-left: 38px;
    cursor: pointer;
}
.personalized-select:focus {
    color: #6F508D;
    border: none;
    box-shadow: none;
    background: transparent;
}
.company-select {
    position: relative;
}
.company-select .mazar-icon-puce {
    color: #6F508D;
    font-size: 28px;
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 1;
}
/******************** Menu css *******************/
.menu-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-content li {
    height: 53px;
}
.menu-content li.active, .menu-content li:hover {
    border-left: 4px solid #814a94;
    background-color: #3e4071;
}
.menu-content li.active a, .menu-content li:hover a {
    padding-left: 32px;
}
.menu-content li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 53px;
    padding-left: 36px;
    display: block;
    cursor: pointer;
    height: 53px;
    text-decoration: none;
}
.menu-content li a label {
    cursor: pointer;
    margin-left: 8px;
    margin-bottom: 0;
}
.menu-seprator {
    width: 254px;
    margin: 0 auto;
    background: rgba(255,255,255,0.5);
}
.menu-content.sub-menu li {
    height: 36px;
}
.menu-content.sub-menu li a {
    text-transform: inherit;
    font-weight: normal;
    height: 36px;
    line-height: 36px;
}
.contact-container {
    margin-top: 60px;
    padding-left: 37px;
    min-height: 390px;
}
.contact-body-container {
    max-height: 350px;
    overflow-y: auto;
}
.contact-tiltle {
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    padding-left: 32px;
}
.contact-tiltle .mazar-icon-contacts {
    font-size: 22px;
    position: absolute;
    top: 0;
    left: 0;
}
.contact-body {
    margin-top: 20px;
    margin-left: 32px;
    font-size: 14px;
}
.contact-body .contact-user {
    position: relative;
    padding-left: 40px;
}
.contact-body .contact-user .mazar-icon-utilisateur {
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 0px;
}
.contact-body .contact-user-text span {
    display: block;
}
.contact-user, .contact-email, .contact-phone, .contact-skype{
    margin-bottom: 10px;
}
.contact-email .contact-email-text, .contact-phone .contact-phone-text, .contact-skype .contact-skype-text{
    padding-left: 17px;
}
.contact-email .contact-email-text a {
    color: #fff;
}
.contact-email .mazar-icon-email{
    font-size: 18px;
    font-family: 'arial', sans-serif !important;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #888;
}
::-webkit-scrollbar-thumb {
    background: #6F508D;
}
.homepage-container .box-title {
    background-color: #fff;
    padding: 0 !important;
    position: relative;
}
.homepage-container .box-title img {
    margin: 0; height: 80px;width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.homepage-container .card {
    border: none;
}
.homepage-container .box-body {
    background-color: #2d3e5e;
    padding: 20px;
}
.homepage-container .box-body .box-body-title {
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
}
.box-container {
    margin-bottom: 17px;
}
.homepage-container .box-body .box-body-content {
    margin: 0;
    font-size: 14px;
    margin-top: 4px;
}
@media (min-width: 1200px) {
    .homepage-container .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}
@media (max-width: 1199px) {
    .homepage-container .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media (max-width: 768px) {
    .homepage-container .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}
.banner-img {
    text-align: center;
    margin-bottom: 15px;
    max-height: 277px;
}
.banner-img img {
    width: 100%;
    height: 100%;
}
/******************* user page css *****************/
.page-header {
    margin: 15px 0;
}
.page-header h2 {
    color: #6F508D;
}
.personalized-table thead {
    background-color: #fff;
    color: #6F508D;
    text-transform: uppercase;
    text-align: center;
}
.personalized-table thead th {
    font-weight: 500;
}
.personalized-table.table-striped tbody tr {
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}
.personalized-table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #e6dbe9;
    color: #000;
    text-align: center;
    font-weight: 500;
}
.personalized-table ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*********************** Company css **************/
.company-container .company-title {
    color: #6F508D;
    font-weight: 500;
    font-size: 15px;
}
.company-container .company-content {
    color: #000;
    font-weight: 500;
    font-size: 15px;
}
.company-container .company-info {
    padding-left: 20px;
}
.company-container .company-info .row {
    margin-bottom: 20px;
}
.company-container .img-wrap {
    height: 150px;
    width: 150px;
    background-color: #ccc;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    border: 5px solid #6F508D;
}
.company-container .img-wrap img {
    margin-top: 0px;
    height: 100%;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
}
.company-container .img-wrap img:focus {
    border: none;
    outline: 0;
}
.company-container .img-description-layer {
    text-align: center;
    color: #000;
    font-size: 15px;
    margin-top: 15px;
}
/********************* Upload Image css *************/
.company-container .example-avatar {
    margin-top: 20px;
}
.drop-active {
    color: #000;
    text-align: center;
}
.drop-active h3 {
    font-weight: 300;
}
.avatar-upload h4 {
    color: #000;
    font-weight: 300;
}
.avatar-upload img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}
.v--modal .fa-close {
    color: #6F508D;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
}
/*********************** Loader css ***************/
.myloader {
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
}

.loader {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height:100vh;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    /*max-width: 400px;  Don't work with IE11*/
    -webkit-animation-delay: 2s;
}

@-webkit-keyframes loader {
    from {
        opacity:1.0;
        -webkit-transform:translateY(0);
        transform:translateY(0);
    }
    to {
        opacity:0.15;
        -webkit-transform:
                translateY(-10px)
                scale(0.75);
        transform:
                translateY(-10px)
                scale(0.75);
    }
}

@keyframes loader {
    from {
        opacity:1.0;
        -webkit-transform:translateY(0);
        transform:translateY(0);
    }
    to {
        opacity:0.15;
        -webkit-transform:
                translateY(-10px)
                scale(0.75);
        transform:
                translateY(-10px)
                scale(0.75);
    }
}

.loader__line {
    height:1em;
    width:1em;
    display:inline-block;
    background-color: #6F508D;
    border-radius:50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-animation:loader 0.6s infinite alternate;
    animation:loader 0.6s infinite alternate;
    margin: 0 4px;
}

.loader__line:nth-of-type(2) {
    -webkit-animation-delay:0.15s;
    animation-delay:0.15s;
}

.loader__line:nth-of-type(3) {
    -webkit-animation-delay:0.3s;
    animation-delay:0.3s;
}

.loader__line:nth-of-type(4) {
    -webkit-animation-delay:0.45s;
    animation-delay:0.45s;
}

/********************** modal css *********************/
.help-modal h4, .notifications-modal h4, .user-modal h4 {
    color: #6F508D;
    margin: 0;
}
.help-modal .contact-number, .help-modal a, .help-modal .online-contact, .user-modal a{
    color: #000;
    margin-bottom: 20px;
    display: block;
}
.help-modal i, .user-modal i {
    font-size: 25px;
    margin-right: 10px;
    color: #6F508D;
}
.user-modal .user-text-bloc {
    color: #000;
    line-height: 50px;
    height: 50px;
    overflow: hidden;
    font-size: 15px;
}
.user-modal .img-user-bloc {
    height: 50px;
    width: 50px;
    margin-right: 15px;
}
.user-modal .img-user-bloc img {
    height: 100%;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
}
.notifications-modal .filter-container {
    color: #000;
    position: relative;
}
.personalized-check label {
    font-size: 12px;
    font-weight: 300;
    position: relative;
    padding-left: 18px;
    cursor: pointer;
}
.personalized-check input[type="checkbox"] + label::before{
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #000;
    position: absolute;
    left: 0;
    top: 3px;
}
.personalized-check input[type="checkbox"]:checked + label::before{
    background:#6F508D;
}
.personalized-check input {
    display: none;
}
.notifications-modal .filter-container .filter-header {
    position: relative;
    border: 1px solid #6F508D;
    height: 25px;
    line-height: 30px;
    padding-left: 15px;
    width: 100%;
    height: 30px;
    border-radius: 3px;
}
.notifications-modal .filter-container .filter-header .fa-angle-down {
    position: absolute;
    right: 4px;
    top: 0px;
    font-size: 25px;
    color: #000;
}
.notifications-modal .filter-container .filter-body {
    border: 1px solid #6F508D;
    position: absolute;
    width: 100%;
    background-color: #f9f9f9;
    z-index: 100;
    border-radius: 3px;
}

.notifications-modal .filter-container .filter-body .check-all{
    border-bottom: 1px solid #6F508D;
    padding-left: 10px;
    padding-top: 5px;
}
.notifications-modal .filter-container .filter-body .check-info,
.notifications-modal .filter-container .filter-body .check-event {
    width: 50%;
    float: left;
    padding-left: 10px;
    padding-top: 5px;
}
.notifications-modal .filter-container .filter-body .check-maintenance {
    padding-left: 10px;
}
.notifications-modal .notification-btn {
    height: 30px;
    line-height: 16px;
    font-size: 14px;
}
.notif-show-more {
    color: #000;
    text-align: center;
    display: block;
    padding-top: 25px;
    font-size: 18px;
}
.notification-filter-btn-bloc {
    margin: 5px 0 10px 40px;
}
.notification-filter-btn-bloc .btn {
    font-size: 12px;
}
/******************** user edit css *****************/
.user-edit-container .user-edit-img {
    height: 150px;
    width: 150px;
}
.user-edit-container .user-edit-img img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    height: 100%;
}
.user-edit-container .user-edit-name .user-static-fullname {
    color: #6F508D;
    height: 50px;
    line-height: 50px;
    margin-left: 15px;
    font-size: 15px;
    font-weight: 500;
}
.user-edit-name {
    position: relative;
}
.user-edit-name .user-dynamic-fullname input {
    width: 264px;
    margin-bottom: 5px;
    font-size: 15px;
    color: #000;
    font-weight: 500;
}
.user-edit-container .user-edit-name .user-static-fullname .fa-pencil {
    color: #a3a0ad;
    margin-left: 5px;
}
.phone-edit-bloc, .preference-bloc, .language-edit-bloc {
    margin-top: 20px;
}
.language-edit-bloc .fa-info-circle {
    color: #a3a0ad;
    margin-left: 78px;
}
.phone-edit-bloc .fa-info-circle {
    color: #a3a0ad;
    margin-left: 70px;
}
.phone-edit-bloc input, .email-edit-bloc .email-input, .sms-edit-bloc .sms-input, .fullname-edit-bloc input {
    width: 264px;
    color: #000;
    font-size: 15px;
    font-weight: 500;
}
.language-edit-bloc select, .company-edit-bloc select {
    width: 262px;
}
.user-edit-select {
    width: 262px;
    position: relative;
}
.user-edit-select select {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    z-index: 10;
    background: transparent;
    cursor: pointer;
}
.user-edit-select select:focus {
    color: #6F508D;
    box-shadow: none;
    background: transparent;
}
.user-edit-select .mazar-icon-puce {
    color: #6F508D;
    font-size: 28px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
}
.user-edit-select .select-bg {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 260px;
    z-index: 0;
    background-color: #fff;
    height: 36px;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
}
.company-edit-bloc .company-edit-bloc-title, .user-edit-name .user-edit-name-title,
.language-edit-bloc .language-edit-bloc-title, .phone-edit-bloc .phone-edit-bloc-title,
.email-edit-bloc .email-edit-bloc-title, .sms-edit-bloc .sms-edit-bloc-title{
    color: #6F508D;
    font-size: 15px;
    font-weight: 500;
    height: 38px;
    line-height: 38px;
    display: block;
    float: left;
}
.email-edit-bloc .switch, .sms-edit-bloc .switch {
    margin-right: 40px;
}
.email-edit-bloc .switch, .sms-edit-bloc .switch,
.email-edit-bloc .email-input, .sms-edit-bloc .sms-input{
    float: left;
}
.email-edit-bloc, .sms-edit-bloc {
    margin-top: 20px;
}
.user-edit-btn-bloc {
    margin: 40px auto 0;
    width: 170px;
}
.user-edit-btn-bloc a {
    background: #ccc;
    color: #595959;
}
.user-edit-btn-bloc a:hover {
    background: #a5a5a5;
}
/*********************** Switch checkbox css *************/
.switch {
    font-size: 1rem;
    position: relative;
}
.switch input {
    position: absolute;
    height: 1px;
    width: 1px;
    background: none;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    padding: 0;
}
.switch input + label {
    position: relative;
    min-width: calc(calc(2.375rem * .8) * 2);
    border-radius: calc(2.375rem * .8);
    -webkit-border-radius: calc(2.375rem * .8);
    -moz-border-radius: calc(2.375rem * .8);
    height: calc(2.375rem * .8);
    line-height: calc(2.375rem * .8);
    display: inline-block;
    cursor: pointer;
    outline: none;
    user-select: none;
    vertical-align: middle;
    text-indent: calc(calc(calc(2.375rem * .8) * 2) + .5rem);
}
.switch input + label::before,
.switch input + label::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(calc(2.375rem * .8) * 2);
    bottom: 0;
    display: block;
}
.switch input + label::before {
    right: 0;
    background-color: #a3a0ad;
    border-radius: calc(2.375rem * .8);
    -webkit-border-radius: calc(2.375rem * .8);
    -moz-border-radius: calc(2.375rem * .8);
    transition: 0.2s all;
}
.switch input + label::after {
    top: 2px;
    left: 2px;
    width: calc(calc(2.375rem * .8) - calc(2px * 2));
    height: calc(calc(2.375rem * .8) - calc(2px * 2));
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-color: white;
    transition: 0.2s all;
}
.switch input:checked + label::before {
    background-color: #6F508D;
}
.switch input:checked + label::after {
    margin-left: calc(2.375rem * .8);
}
.switch input:focus + label::before {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(111, 80, 141, 0.25);
}
.switch input:disabled + label {
    color: #868e96;
    cursor: not-allowed;
}
.switch input:disabled + label::before {
    background-color: #e9ecef;
}
.switch.switch-sm {
    font-size: 0.875rem;
}
.switch.switch-sm input + label {
    min-width: calc(calc(1.9375rem * .8) * 2);
    height: calc(1.9375rem * .8);
    line-height: calc(1.9375rem * .8);
    text-indent: calc(calc(calc(1.9375rem * .8) * 2) + .5rem);
}
.switch.switch-sm input + label::before {
    width: calc(calc(1.9375rem * .8) * 2);
}
.switch.switch-sm input + label::after {
    width: calc(calc(1.9375rem * .8) - calc(2px * 2));
    height: calc(calc(1.9375rem * .8) - calc(2px * 2));
}
.switch.switch-sm input:checked + label::after {
    margin-left: calc(1.9375rem * .8);
}
.switch.switch-lg {
    font-size: 1.25rem;
}
.switch.switch-lg input + label {
    min-width: calc(calc(3rem * .8) * 2);
    height: calc(3rem * .8);
    line-height: calc(3rem * .8);
    text-indent: calc(calc(calc(3rem * .8) * 2) + .5rem);
}
.switch.switch-lg input + label::before {
    width: calc(calc(3rem * .8) * 2);
}
.switch.switch-lg input + label::after {
    width: calc(calc(3rem * .8) - calc(2px * 2));
    height: calc(calc(3rem * .8) - calc(2px * 2));
}
.switch.switch-lg input:checked + label::after {
    margin-left: calc(3rem * .8);
}
.switch + .switch {
    margin-left: 1rem;
}
/************************* edit use image modal *****************/
.user-edit-img-container {
    height: 150px;
    width: 150px;
    margin: 0 auto;
}
.avatar-edit-image {
    height: 150px;
    width: 150px;
    margin: 0 auto;
}


/******************** Notification modal css *************/
.load-more-btn {
    margin: 15px auto 0;
}
.load-more-btn .fa-refresh {
    color: #6F508D;
    font-size: 40px;
    margin-right: 13px;
    display: block;
    float: left;
}
.notification-content-bloc {
    height: 300px;
    margin-top: 15px;
    overflow-y: scroll;
}
.notification-bloc {
    margin-bottom: 15px;
}
.notification-icon-bloc {
    font-size: 30px;
    color: #6F508D;
    float: left;
}
.notification-body {
    float: left;
    color: #000;
    width: 90%;
    margin-top: 10px;
    margin-left: 15px;
}
.notification-name {
    float: left;
}
.notification-date {
    float: right;
    position: relative;
}
.notification-body-content {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}
.notification-dot {
    height: 15px;
    width: 15px;
    background-color: #3B3056;
    display: block;
    position: absolute;
    left: -20px;
    top: 4px;
    border-radius: 50%;
}

.custom-page-header {
    margin: 40px 0;
}

.header-user-img {
    height: 35px;
    border-radius: 50% !important;
    width: 35px;
    margin-top: -16px;
}
/******************** badge css ****************/
.badge1 {
    position:relative;
}
.badge1[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    top: 0px;
    right: -5px;
    font-size: .7em;
    background: #b9070c;
    color: white;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    box-shadow: 0 0 1px #333;
    color: #fff;
    font-size: 12px;
    font-family : Roboto;
}
.badge1 img
{
    width: 27px;
    height: 47px;
}
/************************* Notif message css ********************/
.cxlt-toastr-container.toast-top-right {
    position: absolute;
    top: 81px;
    right: 0;
    color: #fff;
    z-index: 1000;
}
.toast.toast-success {
    background-color: #A3A0AD;
}
.toast.toast-error {
    background-color: #9C1917;
}
.cxlt-toastr-container.toast-top-right .toast {
    padding-bottom: 16px;
    padding-right: 30px;
}
.cxlt-toastr-container.toast-top-right .toast .toast-close-button {
    background: none;
    border: none;
    font-size: 30px;
    position: absolute;
    right: 0;
    color: #fff;
}
.cxlt-toastr-container.toast-top-right .toast .toast-icon {
    height: 30px;
    width: 30px;
    float: left;
    margin: 10px 0 0 10px;
}
.cxlt-toastr-container.toast-top-right .toast .toast-icon img{
    height: 100%;
    width: 100%;
}
.cxlt-toastr-container.toast-top-right .toast-title {
    float: left;
    margin: 15px 0 0 10px;
}
.cxlt-toastr-container.toast-top-right .toast-message {
    clear: both;
    margin-left: 15px;
    padding-top: 7px;
}
/******************** masonry css ****************/
.homepage-container .container-fluid {
    width: 397px;
}
.item {
    margin-right: 15px;
    margin-bottom: 15px;
}
.item:nth-child(3n) {
    margin-right: 0px;
}

.disabledSerice
{
    background-color: #A3A0AD !important;
    cursor: auto;
}

.disabledSericeImage
{
    cursor: auto;
}
.deniedIcon
{
    cursor: auto;
    pointer-events: none;
}
/************* phone flag css ***********/
.flag-container {
  width: 264px;
}
.flag-container ul[data-v-00867bb8]{
  z-index: 100;
  left: -13px;
  top: 39px;
  width: 486px;
}
.modal-message {
    color: black;
    text-align: center;
}

.twilio-input {
    text-align: center;
    margin-bottom: 15px;
}

.isDenied {
    background-color: #A3A0AD !important;
    cursor: auto;
    pointer-events: none;
}