@media (max-width: 890px) {
    .col-md-12.items-container {
        margin: 0 auto;
    }
}
@media (max-width: 670px) {
    #wrapper.toggled {
        padding-left: 0;
    }
}
@media (max-width: 587px) {
    .header-right-icons .notification-icon {
        margin: 0 10px;
    }
}
@media (max-width: 576px) {
    .notifications-modal .notification-btn {
        margin-top: 15px;
    }
  .flag-container ul[data-v-00867bb8]{
    width: 300px;
  }
}
@media (max-width: 526px) {
    .header-right-icons .notification-icon {
        margin: 0 10px;
    }
    .content-container .fixed-top.navbar {
        height: auto;
        flex-direction: column;
    }
    .content-container {
        padding-top: 175px;
    }
    .contact-container {
        min-height: 480px;
    }
}
@media (max-width: 500px) {
    .notification-modal-responsive .v--modal-box {
        width: 100% !important;
        height: auto !important;
    }
}
@media screen and (max-width: 900px) and (orientation: landscape) {
    .notification-modal-responsive .v--modal-box {
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: auto !important;
    }
    .notification-content-bloc {
        height: 105px;
    }
}
@media (max-width: 360px) {
    .guide-online span, .contact-number, .request-contact span, .online-contact span{
        font-size: 14px;
    }
}
@media (max-width: 380px) {
    .help-modal-responsive .v--modal-box {
        width: 100% !important;
        height: auto !important;
    }
    .homepage-container .container-fluid {
        width: 250px;
    }
}
@media (max-width: 450px) {
    .homepage-container .container-fluid {
        width: 315px;
    }
}
@media (max-width: 450px) {
    .user-modal-responsive .v--modal-box {
        width: 100% !important;
        height: auto !important;
    }
}
@media (max-width: 600px) {
    .edit-image-modal-responsive .v--modal-box, .upload-image-modal-responsive .v--modal-box{
        width: 100% !important;
        height: auto !important;
    }
}
