{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Edit companyService
{% endblock %}

{% block main %}
    <div class="container">
        <div id="top" class="row">
            <div class="page-header">
                <h2>Edit companyService <span class="glyphicon glyphicon-file" aria-hidden="true"></span></h2>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    {% for type, flashMessages in app.session.flashbag.all() %}
                        {% for flashMessage in flashMessages %}
                            <div class="alert alert-{{ type }}">
                                {{ flashMessage|raw }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            {{ form_start(edit_form) }}
            <div class="form-group">
                {{ form_label(edit_form.externalId,'External Identifier'|trans  ) }}
                {{ form_errors(edit_form.externalId) }}
                {{ form_widget(edit_form.externalId) }}
            </div>
            <div class="form-group">
                {{ form_label(edit_form.startedAt,'Start Date'|trans) }}
                {{ form_errors(edit_form.startedAt) }}
                {{ form_widget(edit_form.startedAt) }}
            </div>
            <div class="form-group">
                {{ form_label(edit_form.endAt,'End Date'|trans) }}
                {{ form_errors(edit_form.endAt) }}
                {{ form_widget(edit_form.endAt) }}
            </div>
            <div class="form-group">
                {{ form_label(edit_form.status,'Status'|trans) }}
                {{ form_errors(edit_form.status) }}
                {{ form_widget(edit_form.status) }}
            </div>
            <div class="form-group">
                {{ form_label(edit_form.company,"Company Identifier"|trans) }}
                {{ form_errors(edit_form.company) }}
                {{ form_widget(edit_form.company) }}
            </div>
            <div class="form-group">
                {{ form_label(edit_form.service,'Service Identifier'|trans) }}
                {{ form_errors(edit_form.service) }}
                {{ form_widget(edit_form.service) }}
            </div>
        </div>
        <p>
            <button type="submit" class="btn btn-primary" style="margin-top: 23px;">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Update
            </button>

        </p>
        {{ form_row(edit_form._token) }}
        {{ form_end(edit_form, {'render_rest': false}) }}
        <hr/>
        <div class="form-group">
            <a class="btn btn-default" href="{{ path('companyservice') }}">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                Back to list
            </a>
            <a class="btn btn-info" href="{{ path('companyservice_new') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                New
            </a>
            <form action="{{ path('companyservice_delete', { 'id': companyService.id }) }}" method="post"
                  style="display: inline-block">
                <input type="hidden" name="_method" value="DELETE"/>
                {{ form_widget(delete_form) }}
                <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    Delete
                </button>
            </form>
        </div>
    </div>
{% endblock %}