{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - New companyService
{% endblock %}

{% block main %}
    <div class="container">
    <div id="top" class="row">
        <div class="page-header">
            <h2>New companyService <span class="glyphicon glyphicon-file" aria-hidden="true"></span></h2>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                {% for type, flashMessages in app.session.flashbag.all() %}
                    {% for flashMessage in flashMessages %}
                        <div class="alert alert-{{ type }}">
                            {{ flashMessage|raw }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.externalId, "External Identifier"|trans) }}
            {{ form_errors(form.externalId) }}
            {{ form_widget(form.externalId) }}
        </div>
        <div class="form-group">
            {{ form_label(form.startedAt, "Date de début de validité") }}
            {{ form_errors(form.startedAt) }}
            {{ form_widget(form.startedAt) }}
        </div>
        <div class="form-group">
            {{ form_label(form.endAt, "Date de fin de validité") }}
            {{ form_errors(form.endAt) }}
            {{ form_widget(form.endAt) }}
        </div>
        <div class="form-group">
            {{ form_label(form.status, 'Statut') }}
            {{ form_errors(form.status) }}
            {{ form_widget(form.status) }}
        </div>
        <div class="form-group">
            {{ form_label(form.company, "Identificant de l'entreprise") }}
            {{ form_errors(form.company) }}
            {{ form_widget(form.company) }}
        </div>
        <div class="form-group">
            {{ form_label(form.service, "Identification Service") }}
            {{ form_errors(form.service) }}
            {{ form_widget(form.service) }}
        </div>
    </div>
    <div style="margin-top: 24px;">
        <p>
            <button type="submit" name="submit" value="save" class="btn btn-primary">
                Save <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
            </button>
            <button type="submit" name="submit" value="saveAndAdd" class="btn btn-info">
                Save and Add <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
        </p>
    </div>
    {{ form_row(form._token) }}
    <hr/>
    <div class="form-group">
        <a class="btn btn-default" href="{{ path('companyservice') }}">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            Back to list
        </a>
    </div>
{% endblock %}