{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - companyService
{% endblock %}

{% block main %}
    <div class="container">
        <div id="top" class="row">
            <div class="page-header">
                <h2>View companyService <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p><strong>Createdat</strong></p>
                <p>
                    {% if companyService.createdAt %}{{ companyService.createdAt|date('Y-m-d H:i:s') }}{% endif %}
                </p>
            </div>
            <div class="col-md-6">
                <p><strong>Created by</strong></p>
                <p>
                    {% if companyService.createdBy %}{{ companyService.createdBy }}{% endif %}
                </p>
            </div>
            <div class="col-md-6">
                <p><strong>Updatedat</strong></p>
                <p>
                    {% if companyService.updatedAt %}{{ companyService.updatedAt|date('Y-m-d H:i:s') }}{% endif %}
                </p>
            </div>
            <div class="col-md-6">
                <p><strong>Update by</strong></p>
                <p>
                    {% if companyService.updatedBy %}{{ companyService.updatedBy }}{% endif %}
                </p>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <a class="btn btn-default" href="{{ path('companyservice') }}">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                Back to list
            </a>
            <a class="btn btn-primary" href="{{ path('companyservice_edit', { 'id':  companyService.id }) }}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                Edit
            </a>
            <a class="btn btn-info" href="{{ path('companyservice_new') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                New
            </a>
            <form action="{{ path('companyservice_delete', { 'id': companyService.id }) }}" method="post"
                  style="display: inline-block">
                <input type="hidden" name="_method" value="DELETE"/>
                {{ form_widget(delete_form) }}
                <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    Delete
                </button>
            </form>
        </div>
    </div>
{% endblock %}