<template>
        <img tabindex="2" v-if="user.thumbnail" class="img-responsive img-circle" :src="avatarSrc" v-on:dblclick="handleDblClick"/>
        <img tabindex="2" v-else class="tool img-responsive img-circle" src="vue/v-frontend/compiled/static/compte-user.svg" v-on:dblclick="handleDblClick"/>
</template>
<script>
export default {
    name : 'UserAvatar',
    props : ['user'],
    data() {
        return {
        };
    },
    computed : {
        avatarSrc(){
            return this.user.thumbnail ? '/uploads/' + this.user.thumbnail.link : 'vue/v-frontend/compiled/static/compte-user.svg';
        }
    },
    methods: {
      handleDblClick(){  
        this.$emit('dblclick')
      }
    }
}
</script>