{{ { 'error': { 'code': status_code, 'message': 'Nous avons rencontré une erreur inattendue. Notre équipe a été notifiée. Merci de votre compréhension et réessayer ultérieurement' } }|json_encode|raw }}