<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <title>Erreur</title>
    <meta name="description" content="User login page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="{{ asset('vue/v-frontend/compiled/main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('vue/v-frontend/compiled/login.css') }}"/>
    <style>
        .error-404 .error-icon {
            font-size: 90px;
            color: #ba2423;
        }

        .detail-erreur {
            line-height: 1.5;
            color: #fff;
        }

        h1, h5 {
            color: #ba2423;
            font-weight: 300;
            font-family: Open Sans, Helvetica, Arial, sans-serif;
            margin: 0 0 15px;
            font-size: 29px;
        }

        .erreur-info {
            margin: 20px 0;

            font-size: 20px;
            font-weight: 300;
        }
    </style>
</head>
<body>
<div class="bg-container">
</div>
<div class="container main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="login-wrapper">
                <div class="login-logo">
                    <img src="{{ asset('/vue/v-frontend/compiled/static/mazars-logo.png') }}"/>
                </div>
                <div align="center">
                    {% block main %}
                        <div class="error-404">
                        <span class="error-icon">
                        <i class="fa fa-exclamation-triangle"></i>
                        </span>
                        </div>
                        <h1 class="entry-title">{{ status_code }} -Page Introuvable</h1>
                        <div class="erreur-info">
                        <span class="detail-erreur">Nous avons rencontré une erreur inattendue. <br>
                        Notre équipe a été notifiée. Merci de votre compréhension et réessayer ultérieurement
                        </span>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>