{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} -  Edit serviceRole
{% endblock %}

{% block main %}
  <div class="container">

<div id="top" class="row">
    <div class="page-header">
        <h2>Edit serviceRole <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></h2>
    </div>
</div>


<div class="row">
    <div class="row">
    <div class="col-md-12">
        {% for type, flashMessages in app.session.flashbag.all() %} 
        {% for flashMessage in flashMessages %}
        <div class="alert alert-{{ type }}">
            {{ flashMessage|raw }}
        </div>
         {% endfor %} 
         {% endfor %} 
    </div>
</div>
    

    {{ form_start(edit_form) }}

     <div class="form-group"> 
                {{ form_label(edit_form.service, 'Identifiant') }}
                {{ form_errors(edit_form.service) }}
                
                    {{ form_widget(edit_form.service) }}
                </div>
    
    
                    <div class="form-group"> 
                {{ form_label(edit_form.shortDesc, 'Desc. Courte') }}
                {{ form_errors(edit_form.shortDesc) }}
              
                    {{ form_widget(edit_form.shortDesc) }}
                </div>
                <div class="form-group">
                {{ form_label(edit_form.longDesc, 'Desc. Longue') }}
                {{ form_errors(edit_form.longDesc) }}
                
                    {{ form_widget(edit_form.longDesc) }}
                </div>
                 <div class="form-group">
                {{ form_label(edit_form.externalId, 'Identifiant Externe') }}
                {{ form_errors(edit_form.externalId) }}
               
                    {{ form_widget(edit_form.externalId) }}
                </div>
                 
                 <div class="form-group">
                {{ form_row(edit_form.isDefault,{'label': 'Défault'}) }}
                {{ form_errors(edit_form.isDefault) }}
                <div class="col-sm-12">
                    {{ form_widget(edit_form.isDefault) }}
                </div></div>
                <div class="form-group">
                {{ form_label(edit_form.position, 'Position') }}
                {{ form_errors(edit_form.position) }}
                
                    {{ form_widget(edit_form.position) }}
                </div>
    
   <p>
        <button type="submit" class="btn btn-primary" style='  margin-top: 12px;'>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Update
        </button>
    </p>
     {{ form_row(edit_form._token) }} 
    {{ form_end(edit_form, {'render_rest': false}) }}


    <hr/>

    
<div class="form-group">
    <a class="btn btn-default" href="{{ path('servicerole') }}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Back to list
    </a>
    <a class="btn btn-info" href="{{ path('servicerole_new') }}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        New
    </a>
    <form action="{{ path('servicerole_delete', { 'id': serviceRole.id }) }}" method="post" style="display: inline-block">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Delete
        </button>
    </form>
</div>

</div>
</div>


{% endblock %}

