{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} - New serviceRole
{% endblock %}

{% block main %}
  <div class="container">

<div id="top" class="row">
    <div class="page-header">
        <h2>New serviceRole <span class="glyphicon glyphicon-file" aria-hidden="true"></span> </h2>
    </div>
</div>
      
    
<div class="row">
    <div class="col-md-12">
        {% for type, flashMessages in app.session.flashbag.all() %} 
        {% for flashMessage in flashMessages %}
        <div class="alert alert-{{ type }}">
            {{ flashMessage|raw }}
        </div>
         {% endfor %} 
         {% endfor %} 
    </div>

    

    {{ form_start(form) }}
    
                 <div class="form-group"> 
                {{ form_label(form.service,'Identifiant') }}
                {{ form_errors(form.service) }}
                
                    {{ form_widget(form.service) }}
                </div>
    
    
                    <div class="form-group"> 
                {{ form_label(form.shortDesc, 'Desc. Courte') }}
                {{ form_errors(form.shortDesc) }}
               
                    {{ form_widget(form.shortDesc) }}
                </div>
                <div class="form-group">
                {{ form_label(form.longDesc, 'Desc. Longue') }}
                {{ form_errors(form.longDesc) }}
              
                    {{ form_widget(form.longDesc) }}
                </div>
                 <div class="form-group">
                {{ form_label(form.externalId, 'Identifiant Externe') }}
                {{ form_errors(form.externalId) }}
                
                    {{ form_widget(form.externalId) }}
                </div>
                 
                 <div class="form-group">
                {{ form_row(form.isDefault,{'label': 'Défault'}) }}
                {{ form_errors(form.isDefault) }}
               
                    {{ form_widget(form.isDefault) }}
                </div>
                <div class="form-group">
                {{ form_label(form.position, 'Position') }}
                {{ form_errors(form.position) }}
                
                    {{ form_widget(form.position) }}
                </div>
               

    <p style="margin-top: 55px;">
        <button type="submit" name="submit" value="save" class="btn btn-primary"> 
            Save <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
        </button>
        <button type="submit" name="submit" value="saveAndAdd" class="btn btn-info"> 
            Save and Add <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </p>


                {{ form_row(form._token) }} 
     

  

<div class="form-group">
    <a class="btn btn-default" href="{{ path('servicerole') }}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Back to list
    </a>
</div>
</div>
</div>
</div>


{% endblock %}

