{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} - serviceRole
{% endblock %}

{% block main %}
  <div class="container">
<div id="top" class="row">
    <div class="page-header">
        <h2>View serviceRole <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p><strong>identifiant</strong></p>
        <p>
             
              {% if serviceRole.service !=null%}{{ serviceRole.service.name}}{% endif %}
            
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Desc. Courte</strong></p>
        <p>
            {{ serviceRole.shortDesc }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Desc. Longue</strong></p>
        <p>
            {{ serviceRole.longDesc }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Identifiant Externe</strong></p>
        <p>
            {{ serviceRole.externalId }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Défault</strong></p>
        <p>
            {% if serviceRole.isDefault %}Yes{% else %}No{% endif %}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Position</strong></p>
        <p>
            {{ serviceRole.position }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Créé le</strong></p>
        <p>
            {% if serviceRole.createdAt %}{{ serviceRole.createdAt|date('Y-m-d H:i:s') }}{% endif %}
        </p>

    </div>
        <div class="col-md-6">
        <p><strong>Créé PAR</strong></p>
        <p>
            {{serviceRole.createdBy }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Mise à jour le </strong></p>
        <p>
            {% if serviceRole.updatedAt %}{{ serviceRole.updatedAt|date('Y-m-d H:i:s') }}{% endif %}
        </p>

    </div>
        <div class="col-md-6">
        <p><strong>Mise à jour par </strong></p>
        <p>
            {{ serviceRole.updatedBy }}
        </p>

    </div>

</div>

<hr/>

<div class="form-group">
    <a class="btn btn-default" href="{{ path('servicerole') }}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Back to list
    </a>
    <a class="btn btn-primary" href="{{ path('servicerole_edit', { 'id':  serviceRole.id }) }}">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        Edit
    </a>
    <a class="btn btn-info" href="{{ path('servicerole_new') }}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        New
    </a>
    <form action="{{ path('servicerole_delete', { 'id': serviceRole.id }) }}" method="post" style="display: inline-block">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Delete
        </button>
    </form>
</div>

</div>
{% endblock %}

