<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <title>Redirection</title>
    <meta name="description" content="User login page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="{{ asset('vue/v-frontend/compiled/main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('vue/v-frontend/compiled/login.css') }}"/>
    <!--[if lte IE 8]>
    <script src="{{ asset('assets/js/html5shiv.min.js')}}"></script>
    <script src="{{ asset('assets/js/respond.min.js')}}"></script>
    <![endif]-->
</head>
<body>
<div class="bg-container"></div>
<div class="container main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="login-wrapper">
                <div class="login-logo"><img src="{{ asset('/vue/v-frontend/compiled/static/mazars-logo.png') }}"/>
                </div>
                <div class="login-info">
                    <p>
                        Si vous n'êtes pas redirigé automatiquement, <a href="{{ path('frontend_homepage') }}">cliquez ici</a>.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--[if !IE]> -->
<script src="{{ asset('assets/bower_components/jquery/dist/jquery.min.js') }}"></script>
<!-- <![endif]-->

<!--[if IE]>
<script src="assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
<script type="text/javascript">
    window.location.replace("{{ path('frontend_homepage') }}");

    if ('ontouchstart' in document.documentElement)
        document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>

<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function ($) {
        window.location.replace("{{ path('frontend_homepage') }}");
    });
</script>
</body>
</html>