{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} - template
{% endblock %}

{% block main %}
  <div class="container">
<div id="top" class="row">
    <div class="page-header">
        <h2>View template <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </h2>
    </div>
</div>

      
<div class="row">
    {#<div class="col-md-6">
        <p><strong>Id</strong></p>
        <p>
            {{ template.id }}
        </p>

    </div>#}
    <div class="col-md-6">
        <p><strong>Configuration</strong></p>
        <p>
            {{ template.name }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Actif</strong></p>
        <p>
            {% if template.enable %}Yes{% else %}No{% endif %}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Configuration par défaut</strong></p>
        <p>
            {% if template.isDefault %}Yes{% else %}No{% endif %}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Position</strong></p>
        <p>
            {{ template.position }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Créé le </strong></p>
        <p>
            {% if template.createdAt %}{{ template.createdAt|date('Y-m-d H:i:s') }}{% endif %}
        </p>
    </div>
        <div class="col-md-6">
        <p><strong>Créé par </strong></p>
        <p>
            {{template.createdBY }}
        </p>
        <br>
    </div>
    <div class="col-md-6">
        <p><strong>Mise à jour le </strong></p>
        <p>
            {% if template.updatedAt %}{{ template.updatedAt|date('Y-m-d H:i:s') }}{% endif %}
        </p>

    </div>

        <div class="col-md-6">
        <p><strong>Mise à jour par </strong></p>
        <p>
            {{template.updatedBy}}
            
        </p>
        
    </div>
        

<hr/>
</div>
        </div>
<div class="form-group" style="margin-top: 31px;">
    <a class="btn btn-default" href="{{ path('template') }}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Back to list
    </a>
    <a class="btn btn-primary" href="{{ path('template_edit', { 'id':  template.id }) }}">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        Edit
    </a>
    <a class="btn btn-info" href="{{ path('template_new') }}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        New
    </a>
    <form action="{{ path('template_delete', { 'id': template.id }) }}" method="post" style="display: inline-block">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Delete
        </button>
    </form>
</div>


{% endblock %}

