.select2-container--default .select2-results__option--highlighted[aria-selected]{background-color:#b70d18 !important;}
.drag-target {
    display: none !important;
    touch-action: pan-y;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 0 !important;
}
body {
    color: rgba(0,0,0,0.54);
    position: relative;
}
body.overflow-no {
    overflow-y: auto;
}
li .icon-not-sel {
    display:inline-block;
}
li .icon-sel {
    display:none;
}
li.active a .icon-sel {
    display:inline-block;
}
li.active a .icon-not-sel  {
    display:none;
}
.menu-links li.active a:after {
    content: '';
    position: absolute;
    width: 0px;
    height: 100%;
    border-width: 2px;
    border-radius: 0;
    border-color: #9f000a;
    border-style: solid;
    top: 0;
    left: 0;
}
.menu-links li.active a{
    color: #757575;
    font-weight: 600;
}
.menu-links li.active i{
    color: #9f000a !important;
}
.menu-links li img[src*=svg] {
    width: 25px;
    margin-right: 13px;
    color: #bababa !important;
}
body, .sidebar {
    background-color:#f5f7fa;
}
.sidebar {
    background-color: #FFFFFF  !important;
}
#logo {
    height: auto;
    width: 129px;
}
#logo img {
    max-width: 100%;
}
aside.sidebar {
    margin-top: 0;
    padding-top: 64px;
}
aside.sidebar ul a:hover, aside.sidebar ul a.active {
    background: #f5f7fa;
}
#sidenav-overlay{
    display: none !important;
}
.brand-logo {
    margin-left: 10px;
    margin-right: 18px;
}
.navbar-fixed-top{
    box-shadow: 0 0 0;
    z-index: 1037;
    border:1px solid #eeeeee;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #757575;
    width: 20px;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 3px;
}
.nav .dropdown.pull-right a.btn.btn-link:hover, .nav .dropdown.pull-right a.btn.btn-link:focus {
    background-color: #eee;
}
.nav .dropdown.pull-right a.btn.btn-link {
    display: flex;
    align-items: center;
    padding: 5px 6px;
}
.nav .dropdown.pull-right a.btn.btn-link span{
    padding-right: 15px;
}
.btn-link.settings_header {
    padding:6px;
}
.btn-link.settings_header:hover, .btn-link.settings_header:focus {
    background-color: #eee;
}
.btn-link.settings_header img {
    padding: 8px 0!important;
    /*color: #f57c00;*/
    height: 42px;
    /*border-radius: 50%;*/
    min-width: 42px;
    justify-content: center;
/*    display: block;*/
/*    font-size: 16px;*/
    /*border: 1px solid;*/
}
/*nav.navbar ul.dropdown-menu.dropdown-menu-right li:nth-child(1):hover, 
nav.navbar ul.dropdown-menu.dropdown-menu-right li:nth-child(1):focus {
    background-color: #eee;
}
.dropdown-menu>li>a.company_name_div{
    padding-top: 0;
    font-size: 13px;
    padding-bottom: 10px;
    line-height: 17px;
}
.dropdown-menu>li>a.company_name_div:hover, .dropdown-menu>li>a.company_name_div:focus {
    background-color: transparent;
    text-decoration:underline;
}
.dropdown-menu>li>a.username_div {
    padding-bottom: 0;    
}
.dropdown-menu>li>a.username_div:hover, .dropdown-menu>li>a.username_div:focus {
    background-color: transparent;
    }*/
.menu-links .sub-menu li img[src*=svg] {
    width: 19px;
    margin-right: 5px;
}
aside.sidebar ul ul.sub-menu a {
    padding: 8px 15px 8px 25px;
}
.menu-links li span{
    font-size: 14px;
    color: #757575;
}
.menu-links li span{
    display:none;
}
body.overflow-no .menu-links li span{
    display:inline-block;
}
/*aside.sidebar ul a { 
    padding: 11.5px 20px;
}*/
.navbar .navbar-right-no-collapse {
    float: right!important;
    margin: 5px 0px 0 ;
    display:flex;
}
.navbar .navbar-right-no-collapse .dropdown-menu {
    right: 0px;
}
.navbar .navbar-header .navbar-right-no-collapse {
    margin: 13px 0 0;
}
.input_search_header input.form-control{
    padding-left:41px;
    box-shadow: inset 0 0px 0 #ddd;
    color: rgba(0,0,0, 0.54);
    font-size: 14px;
    border:1px solid transparent;
}
.btn_search_header{
    position:absolute;
}
.form-group.input_search_header input{
    background: #f5f7fa;
}
.form-group.input_search_header input:focus{
    background: #FFFFFF;
    border:1px solid #b70d18;
}
.btn_search_header button.btn{
    padding: 5px 8px;
}
.btn_search_header button.btn, .btn_search_header button.btn:hover,.btn_search_header button.btn:focus, .btn_search_header button.btn:active {
    background:transparent;
}
.btn_search_header button.btn .f20 {
    font-size: 24px;
    line-height: 8px;
}
.btn_search_header button.btn .f20:hover {
    font-size: 24px;
    line-height: 8px;
    color: #a2aeb8;    
}
ul.dropdown-menu {
    margin-top: 5px !important;
}
/***************** Tabs Header ********************/
.nav.nav-tabs {
    /*position: fixed;*/
    width: calc(100%) !important;
    padding: 0;
    left: 0;
    background-color: #fff !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    height: 52px;
    z-index: 11;
    display: flex;
    /*justify-content: center;*/
    border:0;
}
.nav-tabs li a{
    box-shadow: inset 0 0 0;
    color:rgba(0,0,0, 0.54);
    font-size:16px;
    display:flex;
    height:100%;
    padding:0 24px;
    align-items:center;
}
.nav-tabs li.active a, .nav-tabs li:hover a {
    color:rgba(0,0,0, 0.87) !important;
}
.header-content {
    padding-top: 2em;
}
.tab-content .header-content {
    padding-top: 6em;
}
.list-actions .btn-link .md-keyboard-arrow-down:before{
    color: #444;
    font-size: 23px;
}
.list-actions .btn-link span, .list-actions .btn-link:hover span, .list-actions .btn-link:focus span{
    padding: 2px 0!important;
    background-color: #b70d18 !important;
    color: #fff;
    line-height: 34px;
    border-radius: 50%;
    width: 38px;
    justify-content: center;
    display: flex;
    font-size: 16px;
}
.list-actions .dropdown-menu li:nth-child(1) a{
    text-transform:capitalize;
}
.list-actions .dropdown-menu li:nth-child(1) a span{
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    }
/***************** Group Boutons (Header)) *******************/
.title_header {
    padding:0;
}
.title_header h2{
    margin-top:0;
}
.btns_header {
    display: flex;
    justify-content: flex-end;
    padding: 0;
}
.btns_header .dropdown-menu{
    right:0;
    left: auto;
}
button.btn.btn-theme {
    background-color: #b70d18;
    text-transform: none;
    font-weight: 400;
    color: #fff;
    border-radius: 0;
    padding: 0px 30px;
    border: 1px solid #b70d18;    
    height: 37px;
    margin: 0;
    min-width: 64px;
    font-size: 14px;
    box-shadow: 0 0 0;    
}
button.btn.btn-theme:focus, button.btn.btn-theme:active, button.btn.btn-theme:hover {
    background-color: #9f000a;
    border-color: #9e5000;
}

.btn-group button.btn.btn-theme.icon-toggle {
    margin-left: 5px;    
}
.btn-grou .btn.dropdown-toggle,
.btn-group .btn.icon-toggle {
    height: 30px;
    padding: 0 15px;
    min-width: 30px;
    width: 30px;
    background-color: #fff;
    color: #b70d18;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 0;
    margin-right: 0px !important;
    box-shadow: 0 0 0;    

}    
.btn-group .btn.dropdown-toggle span,
.btn-group .btn.icon-toggle span {
    position: absolute;
    left: 24%;
    top: 6%;
    font-size: 16px;
    vertical-align: middle;
}

.btn-group .btn.dropdown-toggle:focus, .btn-group .btn.dropdown-toggle:active, .btn-group .btn.dropdown-toggle:hover,
.btn-group .btn.icon-toggle:focus, .btn-group .btn.icon-toggle:active, .btn-group .btn.icon-toggle:hover {
    border-color: #b70d18;
    background-color: #b70d18;
    color: #fff;
}
.btns_header .btn-group .btn.dropdown-toggle, .navbar .btn-group .btn.dropdown-toggle, .card_grid .btn-group .btn.dropdown-toggle,
.btns_header .btn-group .btn.icon-toggle, .navbar .btn-group .btn.icon-toggle, .card_grid .btn-group .btn.icon-toggle {
    height: 39px;
    padding: 0 19px;    
    min-width: 32px;
    width: 32px;   
}
.btns_header .btn-group .btn.dropdown-toggle span, .navbar .btn-group .btn.dropdown-toggle span, .card_grid .btn-group .btn.dropdown-toggle span,
.btns_header .btn-group .btn.icon-toggle span, .navbar .btn-group .btn.icon-toggle span, .card_grid .btn-group .btn.icon-toggle span {
    font-size: 18px;
    left: 27%;
    top: 7%;  
}
.nav .btn_search_header .btn-link .md-search:before {
    color: #b70d18;
}
.checkbox input[type=checkbox]:checked:after, .checkbox-inline input[type=checkbox]:checked:after, .radio input[type=radio]:checked:after, .radio-inline input[type=radio]:checked:after, .table-full input[type=checkbox]:checked:after, .theme-border, input[type=checkbox]:checked:after, input[type=radio]:checked:after {
    border-color: #b70d18;
}
#loading-bar .bar, #logo .foot2, #logo .foot4, .btn-primary, .btn-primary:active, .checkbox input[type=checkbox]:checked:after, .checkbox-inline input[type=checkbox]:checked:after, .noUi-base, .noUi-handle, .noUi-handle:before, .noUi-range .noUi-origin:first-child, .radio input[type=radio]:before, .radio-inline input[type=radio]:before, .switch label input[type=checkbox]:checked+.lever:after, .theme, .theme-bg, input[type=checkbox]:checked:after, input[type=radio]:before {
    background-color: #b70d18;
}
/**************************Onglet Filtre***********************/
.filtre_options {
    flex-direction: column;
    padding: 8px 16px;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}
.filtre_options_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    width: 100%;
    background: #ffffff;
}
.filtre_options_container .col-sm-12:first-child {
    padding-left: 0px;
}
.wrap_btns_head_tab_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin: 4px;
    margin-left: 0;
    margin-right: 0;
}
.wrap_btns_head_tab_left {
    display: flex;
    padding-left: 0;
    /*    flex: 1 1 220px;*/
    /*    width: initial;*/
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    padding-right: 15px;
}
.box_filter {
    border-left: 1px solid rgba(0,0,0,.12);
    position: relative;
    display: flex;
}
.box_filter.not_bordered {
   border-left: 0px solid rgba(0,0,0,.12);
}
.box_filter .searchDate i {
    width: 22px;
}
.wrap_btns_head_tab_right .tri_up_down {
    color: rgba(0,0,0,.54);
    text-transform: none;
    font-size: 14px;
    padding: 0 10px;
}
.drop-menu {
    right: 0;
    position: absolute;
    top: 100%;
    left: auto;
    z-index: 10;
    float: left;
    min-width: 160px;
    margin: 2px 0 0;
    list-style: none;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.3);
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    background-clip: padding-box;
}
.tri_dates {
    display: flex;
    justify-content: center;
    padding: 5px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f0f0f0;
    /*    margin-bottom: 6px;*/
}
.tri_dates span {
    padding: 0 4px;
    display: flex;
    align-items: center;
}
.element0{
    width:100%;
}
.element1 {
    width:100%;
}
.element1 input, .element2 input, .element0 input {
    /*    width: 82px;*/
    width:100%;
    border: 1px solid #e5e5e5;
    padding: 5px;
    display: inline-block;
    font-size: 14px;
    background-color: #fff;
    height: 32px;
}

.element0 input.form-control{
    width: 100%;
    font-size: 14px;
    padding: 0 4px;
}
.element3 button {
    margin-top: 0;
    margin-left: 4px;
    display: flex;
    align-items: center;
    height: 32px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    padding: 1px 10px;
}
.wrap_btns_head_tab_right .element3 button i {
    color: #e5e5e5;
    padding-right: 0;
    font-weight: 300;
    font-size: 10px;
}
.wrap_btns_head_tab_right .element3 button:hover i {
    color: #b70d18;
}
.wrap_btns_head_tab_right ul li.active {
    background: #b70d18;
    color: #fff;
}
.tri_option .mdl-menu__item {
    opacity: 1;
    height: 32px;
    line-height: 32px;
    display: block;
    align-items: center;
    font-size: 14px;
    padding: 0 16px;
    color: rgba(0,0,0, 0.87);
    letter-spacing: 0;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.mdl-menu__item:hover {
    background-color: rgb(238,238,238);
}
.separator_item {
    height: 1px;
    /*    margin: 6px 0;*/
    overflow: hidden;
    background-color: #e5e5e5;
}
.wrap_btns_head_tab_right button.tri {
    color: rgba(0,0,0,.54);
    /* border-left: 1px solid rgba(0,0,0,.12); */
    padding: 0px;
    min-width: 35px;
}
.filtre_options_container .mdl-menu__container {
    border: 1px solid #ccc;
}
.view_module {
    color: rgba(0,0,0,.54);
    padding: 0px;
    min-width: 40px;
    margin-left: 0px;
    margin-right:0px;
}
.view_list {
    color: rgba(0,0,0,.54);
    padding: 0px;
    margin-right: 10px;
    min-width: 40px;
}
.box_filter.n4 .selected_view {
    background-color: transparent !important;
    color: #b70d18 !important;
}
.filtre_options button.btn{
    color:rgba(0,0,0,.54);
    line-height:36px;
    height:36px;
}
.filtre_options button.btn, .filtre_options button.btn:hover, .filtre_options button.btn:focus {
    background-color: transparent;
    border: 0;
    box-shadow: 0 0 0;
}
.filtre_options button.btn:hover, .filtre_options button.btn:focus {
    color: #b70d18;
}
.filtre_options .glyphicon.glyphicon-chevron-down, .filtre_options .glyphicon.glyphicon-calendar , .filtre_options .glyphicon.glyphicon-user{
    font-size: 10px;
}
.filtre_options .input_search_header input.form-control{
    background-color: #FFFFFF;        
}
.filtre_options .input_search_header input.form-control:focus{
    box-shadow: inset 0 0 0 !important;  
    border:0;
}    
.wrap_btns_head_tab_right ul li.active i {
    color: #fff;
}
.wrap_btns_head_tab_right ul li i {
    font-size: 10px;
    padding-right: 10px;
    color: transparent;
    font-weight: 300;
}
.dropdown-menu {
    min-width:165px;
}
ul.tri_option {
    padding-left: 0 !important;
    margin-bottom:0;
}
.wrap_btns_head_tab_left .btn_search_header button.btn {
    line-height: 1;
}
/*************************************** Filtre Badge ***************************************/
ul.tabs-list.nav.nav-tabs.droptabs {
    padding-left: 0;
}
.badge_option_grid {
    padding: 8px 16px;
}
.badge_option {
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: space-between;*/
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
}
.badge_option li {
    position:relative;
}
.badge_option .badge {
    padding-right: 4px;
}
.badge {
    position: relative;
    white-space: nowrap;
    margin-right: 24px;
    color: rgb(66,66,66);
    background-color: transparent;
    font-size: 14px;    
}
.badge[data-badge]:after {
    content: attr(data-badge);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: -11px;
    right: -24px;
    font-weight: 600;
    font-size: 12px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: rgb(255,64,129);
    color: rgb(255,255,255);
}
.badge_option .mdl-tabs__tab .badge[data-badge]:after, .badge_option .badge[data-badge]:after {
    top: -3px;
    background: #fff;
    color: #838383;
    border: 1px solid #838383;
    font-size: 12px;
}
.badge_option .mdl-tabs__tab.is-active .badge[data-badge]:after, 
.badge_option .tabs-bar .tabs-list li a.active .badge[data-badge]:after, 
.badge_option .tabs-bar .tabs-list li a:hover .badge[data-badge]:after{
    background: #b70d18;
    color: #ffffff;
    border: 1px solid #b70d18;
}
.badge_option .mdl-tabs__tab .badge[data-badge]:after, .badge_option .badge[data-badge]:after {
    top: 0;
    background: #fff;
    color: #838383;
    border: 1px solid #838383;
    font-size: 12px;
}
li.dropdown.pull-right.plusList {
    position: absolute;
    right: 15px;
    height: 52px;
}
li.dropdown.pull-right.plusList a, li.dropdown.pull-right.plusList a:hover, li.dropdown.pull-right.plusList a:focus{
    background-color:#ffffff !important;
    font-size:14px;
}
.plusList li a {
    padding: 9px 24px;
}
.nav-tabs li a.active, .nav-tabs li a.active:focus {
    webkit-box-shadow: inset 0 -2px 0 #f57c00 !important;
    box-shadow: inset 0 -2px 0 #f57c00 !important;
}
.tabbable ul.nav.nav-tabs {
    justify-content: center;
}
.tabbable .tab-content ul.nav.nav-tabs {
    justify-content: flex-start;
}
/*******************************************************************/
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    position: relative;
    vertical-align: middle;
    height: 48px;
}
.checkbox {
    display: flex;
    align-items: center;
}
.checkbox input[type=checkbox]:after, .checkbox-inline input[type=checkbox]:after, input[type=checkbox]:after{
    width: 18px;
    height: 18px; 
    margin-top: 4px;
}
.modal-footer  .checkbox input[type=checkbox]:after, .modal-footer  .checkbox-inline input[type=checkbox]:after, .modal-footer  input[type=checkbox]:after{
    margin-top: 0px;
}
.checkbox input[type=checkbox]:checked:before, .checkbox-inline input[type=checkbox]:checked:before, input[type=checkbox]:checked:before{
    top: 5px;
    left: 6px;    
}
.modal-footer .checkbox input[type=checkbox]:checked:before, .modal-footer  .checkbox-inline input[type=checkbox]:checked:before, .modal-footer  input[type=checkbox]:checked:before{
    top: 0px; 
}
.attente_stat p, .valide_stat p, .brouillon_stat p, .refuse_stat p, p.attente_stat, p.valide_stat , p.brouillon_stat, p.refuse_stat {
    display: inline-block;
    padding: 0 6px;
    margin:0;
}
.attente_stat p, p.attente_stat {
    color: #5cb85c;
    background-color: rgba(92,184,92,0.15);
}
.brouillon_stat p, p.brouillon_stat {
    color: #b70d18;
    background-color: #bb8e91;
}
.valide_stat p, p.valide_stat {
    color: #3A87AD;
    background-color: #bbdbea;
}
.refuse_stat p, p.refuse_stat {
    color: #F44336;
    background-color: #f6b8b3;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color:#b70d18;
    border-color:#ff9800; 
}
.table, .embedded_costs {
    overflow: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    position: relative;
    white-space: nowrap;
    border-collapse: collapse;
    background:#ffffff;
    padding:15px;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], label input[type=checkbox], .modal-dialog .form-group .checkbox.with_label input[type=checkbox] {
    margin-left: -23px;
}
.space_div{
    height:18px;
    clear:both;
}
/************************************************** Presentation Card ************************/
.card_grid .card {
    width: auto;
    border-radius: 3px;
    overflow: visible;
    z-index: auto;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.14), 0 3px 1px -1px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    border-top: 1px solid rgba(0,0,0,.12);
    min-height: 184px;
    padding-bottom:49px;
}
.card_grid .card-header {
    background: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-grow: initial;
    padding: 16px 20px 26px;
    line-height: normal;
}
.card_grid .card-header span {
    color: rgba(66, 66, 66, 0.56);
    font-size: 14px;
}
.card_grid .card-header h2 , .card_grid .card-header h2 span{
    align-self: initial;
    font-weight: 500;
    font-size: 18px;
    color: #f57c00;
    display: flex;
    overflow: hidden;
    margin: 0;
}
.card-content {
    position:relative;
}
.card_grid .card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}

.card_grid .card-content h4 {
    font-size: 15px;
    color: rgb(97,97,97);
    margin-bottom:0;
}
.card_grid .card-content .p-00 {
    margin-bottom: 11.5px;
}
.card_grid  .card__supporting-text {
    padding: 0px 20px 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: rgba(0,0,0, 0.54);
    font-size: 1rem;
    line-height: 18px;
    overflow: hidden;
}

.card_grid .card__supporting-text p {
    font-size: 12px;
    display: inline-block;
    padding: 2px 6px;
    margin: 0;
    font-weight: 400;
    line-height: 24px;
}
.card__supporting-text h5 {
    margin-left: 12px;
    line-height: 15px;
    text-align: right;
}
.card_grid p.attente_stat, .card_grid p.brouillon_stat, .card_grid p.refuse_stat, .card_grid p.valide_stat {
    font-size: 12px;
    display: inline-block;
    padding: 2px 6px;
    border-radius: 2px;
    margin: 0 0 11.5px;
    font-weight: 400;
    line-height: 24px;
}
.card_grid .card__supporting-text h4 {
    font-weight: bold;
}
.card_grid .card-action {
    display: flex;
    background: #f0f0f0;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 6px 0px;
    justify-content: flex-end; 
}
.card_grid .card__actions_btns {
    display: flex;
    font-size: 16px;
    line-height: normal;
    width: 100%;
    background-color: transparent;
    padding: 8px;
    box-sizing: border-box;
}
.card_grid .card__actions_btns a {
    color: #616161;
    padding: 0 16px;
    background: transparent;
    border: none;
    border-radius: 2px;
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    box-shadow: 0 0 0;
    font-weight: 500;
}
.card_grid .card__menu_btns {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.card_grid .card.bordered .card-header {
    border-bottom: 0px solid #F0F0F0;
}
.mdl-card__menu {
    margin-right: 16px;
}
.card__menu_btns a.example-image {
    height: 36px;
    padding: 0 19px;
    background-color: #fff;
    color: #b70d18;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 0;
    min-width: 32px;
    width: 32px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
}
.card__menu_btns a.example-image span {
    color: rgb(97, 97, 97);
    font-size: 15px;
    left: 30%;
    line-height: 24px;
    position: absolute;
    top: 15%;
    width: 24px;
}
.card_grid .card__actions_btns a:hover, .card_grid .card__actions_btns a:active, .card_grid .card__actions_btns a:focus {
    background-color: rgba(158,158,158, 0.40);
}
/************************************************************************************/
.searchPicker {
    padding:0;
}
.searchPicker .form-group {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    padding: 0;
}
.searchPicker .input-group{
    width:100%;
}
.searchPicker .input-group input{
    padding-left: 10px;
}
.searchPicker .input-group span.search-period{
    padding: 9px 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
}
.searchPicker .input-group-addon i{
    font-size:18px;
}
/***************************************************FORMS**************************************/
.modal-dialog .page-header {
    margin: 0 0 20px;
}
.modal-dialog form {
    padding: 0 25px;
}
.modal-dialog .form-group .checkbox input {
    margin: 0;
}
.modal-dialog form .page-header h4{
    /*    color:#fb5700 !important;*/
    margin-bottom: 0;
}
form .input-group-addon {
    padding: 18px 0 0 16px;
}
form .input-group-addon i {
    font-size: 18px;
}
.btn.action {
    background-color: #b70d18;
    border: 1px solid #b70d18;
    color: #fff;
    border-radius: 1px;
    height: 36px;
    margin: 0;
    min-width: 64px;
    box-shadow: 0 0 0;
    padding: 0 30px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    font-size: 14px;
    text-transform: none;
}
.btn.action:focus, .btn.action:active, .btn.action:hover {
    background-color: #9f000a;
    border-color: #9e5000;
}
.btn.reset {
    background-color: #fff;
    color: #b70d18;
    border-radius: 1px;
    border: 1px solid rgba(0,0,0,0.15);
    margin-right: 10px;
    height: 36px;
    margin: 0;
    min-width: 64px;
    box-shadow: 0 0 0;
    padding: 0 30px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    font-size: 14px;
    text-transform: none;
}
.btn.reset a{
    color:#b70d18;
    background-color: transparent;
}
.btn.reset:focus, .btn.resett:active, .btn.reset:hover{
    border-color: #b70d18;
    background-color: #b70d18;
    color: #fff;
}
.btn.reset:focus a, .btn.resett:active a, .btn.reset:hover a{
    background-color: transparent;
    color: #fff;  
}
.modal-header{
    padding-bottom:0;  
}
.form-horizontal .control-label.long {
    line-height: 1;
}
.modal-dialog .space_div{
    border-bottom: 1px solid #ddd;
    padding-top: 2em;
    margin-bottom: 2em;
    height: 0;    
}
.modal-dialog .space_div.without_border{
    border-bottom: 0px solid #ddd; 
    padding-top:0;
}
.form-actions .btn+.btn{
    margin-left: 5px;
}
.modal-dialog .space_div.btns_actions {
    margin:0;
    margin-bottom: 1em;
}
ul.dropdown-menu li {
    cursor: default;
}
.checkbox.with_label{
    display: inline-block;
    margin: 0;
}
.modal-footer .checkbox.with_label{
    margin-right: 20px;
}
.checkbox label, .checkbox-inline label, .radio label, .radio-inline label {
    line-height: 23px;
    margin-bottom: 0;
}
.form-actions {
    display: flex;
    justify-content: center;
}
/*h2.modal-title {
    color: #b70d18;
}*/
.form-horizontal.show_form {
    padding-bottom: 2.5em;
}
.form-horizontal.show_form .form-control {
    border: 0;
    font-size: 13px;
    box-shadow: 0 0 0;
    margin: 0;
}
.form-horizontal.show_form .form-control p {
    word-wrap: break-word;
}
.form-horizontal.show_form .form-group {
    margin: 0;
}
.form-horizontal.show_form .form-group.m-t-20 {
    margin: 20px;
}
.form-horizontal.show_form .form-group img {
    margin-bottom: 30px;
}
form.settings_user {
    background-color: #fff;
    padding: 2em 15px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    max-width: 127px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*text-align: center;*/
}
.table>tbody>tr>td.btns_actions_table{
    overflow: visible;
}
.icon_attach, .icon_attach:hover, .icon_attach:focus {
    margin-left:10px;
    background-color: #ffffff;
    color: #444444;
    font-size: 20px;
    border-radius: 3px;
    padding: 2px 2px;
    display: inline-block;
    line-height: 1;
}
ul.pagination-sm.pagination {
    border-radius: 0;
    border: 1px solid rgba(0,0,0,0.15);
}
.pagination a, .pagination a:focus,  .pagination span, .pagination span:focus, .pagination-sm>li>a, .pagination-sm>li>span {
    color:rgba(0,0,0,0.54) !important;
    font-size: 14px;
    border:0;
    background-color:#ffffff !important;
}
.pagination a:hover, .pagination span:hover {
    color:#b70d18 !important;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color:#bbbbbb !important;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #b70d18 !important;
    border-color: #ff9800;
    color:#ffffff !important;
}
textarea {
    resize: none;
}

/*************************************************************/
.alert-info,.alert-success, .alert-warning, .alert-danger {
    border-radius:0;
}
.alert-info,.alert-success {
    background-color:#323232;
    /*  color:#fff;*/
}
.alert-info span,.alert-success span{
    color:#ffffff;
}
.alert-info a,.alert-success a{
    color:#b70d18;
}
.alert-info a,.alert-success a, .alert-warning a, .alert-danger a{
    text-transform:uppercase;
}
.alert button.close {
    line-height: 18px !important; 
    font-size: 28px !important;
}
.alert span.glyphicon {
    padding-right:5px !important;
}
.alert{
    bottom: 10px !important;
}
table th.blur{
    color: transparent;
    text-shadow: 0px 0px 2px #333;
}
/**************************************************************Modal fullPage***********************************/
.modal.bd-example-modal-lg button.btn_retour.close {
    display: flex; align-items: center;
}
.modal.bd-example-modal-lg button.btn_retour.close, .modal.bd-example-modal-lg button.btn_retour.close:hover, .modal.bd-example-modal-lg button.btn_retour.close:focus {
    color:#000 !important;
}
.modal.bd-example-modal-lg .btn_retour.close i{
    font-size: 15px;line-height: 15px;display: inline-block;padding-right: 11px;
}
.modal.bd-example-modal-lg .btn_retour.close span{
    font-size: 17px;line-height: 40px;font-weight: 400;text-transform: capitalize;
}
.modal.bd-example-modal-lg .modal-footer:after, 
.modal.bd-example-modal-lg .modal-footer:before, 
.modal.bd-example-modal-lg .modal-header:after, 
.modal.bd-example-modal-lg .modal-header:before {
    display: initial;
    content: none;
}
/*.modal.bd-example-modal-lg h2.modal-title {
    font-size: 20px;
}*/
.modal.bd-example-modal-lg {
    padding: 59px 0 !important;
    background-color: #fff;    
}
.modal.bd-example-modal-lg .modal-dialog {
    display:initial;
    width: 100%;
    top: 0;
    margin: 0;
    right: 0;
    left: 0;
    bottom: 0;
}    
/*.modal.bd-example-modal-lg.fade.in, .modal.bd-example-modal-lg.fade {
    background-color: #f5f7fa !important;
}*/
.modal.bd-example-modal-lg.fade .modal-content,
.modal.bd-example-modal-lg.fade.in .modal-content{
    background-color: transparent !important;
}
.modal.bd-example-modal-lg.fade .modal-body,
.modal.bd-example-modal-lg.fade.in .modal-body{
    max-width: 1000px;
    margin: 0 auto 40px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
}
/*.modal-open .modal-backdrop.in {
    opacity: 0;
}*/
.modal.bd-example-modal-lg .modal-content {
    box-shadow: 0 0 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
    padding: 0 !important;
    margin-top: 0 !important;
}
.modal.bd-example-modal-lg .card_grid, .modal.bd-example-modal-lg .table_grid {
    display:none;
}
/*.modal.bd-example-modal-lg .modal-header, .modal.bd-example-modal-lg .form-actions{
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 1070;
    display: flex;

    align-items: center;
    left: 0;
    right: 0;
}*/
/*.modal.bd-example-modal-lg .form-actions {
    bottom: 0;
    box-shadow: 0 4px 2px 4px rgba(0,0,0,.14);
    border: 0;
    padding: 20px 15px;
}*/
/*.modal.bd-example-modal-lg .modal-header{
    padding: 10px 15px;
    justify-content: space-between;
    top: 0;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.14);
    border: 0;
}*/
.modal.bd-example-modal-lg .modal-dialog .space_div.btns_actions {
    margin: 0;
    padding-top: 2em;
    border: 0;
}
body.modal-open, body.modal-open.overflow-no {
    overflow-y: hidden;
}
/*******************************************************************************
*****************************  Fix search bar (filter) *************************
*******************************************************************************/
.wrap_btns_head_tab_left .search-form.form-inline.pull-left{
    float:none !important;
}
.wrap_btns_head_tab_left .form-inline .form-group {
    display: block;
}
.wrap_btns_head_tab_left .form-inline .form-control {
    width: 100%;
}




.focussed .ta-bind, .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li>a:focus:hover, .nav-tabs>li>a:hover, .theme-box-inset, .todo-app .filters .filter.active, .todo-app .filters .filter.active:focus, .todo-app .filters .filter:focus:hover, .todo-app .filters .filter:hover, [contenteditable].form-control:focus, [type=email].form-control:focus, [type=password].form-control:focus, [type=tel].form-control:focus, [type=text].form-control:focus, input.form-control:focus, input[type=email]:focus, input[type=number]:focus, input[type=password]:focus, input[type=text]:focus, select.form-control:focus, select:focus, textarea.form-control:focus, textarea:focus {
    -webkit-box-shadow: inset 0 -2px 0 #b70d18;
    box-shadow: inset 0 -2px 0 #b70d18;
}

.block_attach {
    display:flex;
}
#Show .block_attach img, #Show .block_attach img a{
    margin-top:20px;
}
.block_attach div{
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.nav.nav-tabs.form {
    position:relative !important;
    padding-left:0 !important; 
}
.modal-body.navs{
    padding:0;
}
.modal-body.navs .nav.nav-tabs{
    box-shadow:0px 11px 8px -10px rgba(0,0,0,0.15);
}
.modal-body.navs .tab-content {
    padding: 15px;
}




.filtre_options button.btn.icon_big {
    line-height: 26px;  
}
.filtre_options button.btn.icon_big .glyphicon {
    font-size: 13px;
}
.fc-button-group button.fc-button, .fc-left .fc-today-button {
    background-image: none !important;
    background-color: #b70d18;
    text-transform: none;
    font-weight: 400;
    color: #fff;
    border-radius: 0;
    padding: 0px 10px;
    border: 1px solid #fff;
    height: 36px;
    margin: 0;
    /* min-width: 64px; */
    font-size: 14px;
    box-shadow: 0 0 0;
    text-shadow: 0 0px 0px transparent;
    box-shadow: inset 0 0 0;
}
.fc-toolbar.fc-header-toolbar h2{
    font-size: 21px;
    padding-top: 7px;
    color:#000;
}
.fc-button-group button.fc-button:hover,.fc-button-group button.fc-button:focus, .fc-left .fc-today-button:hover, .fc-left .fc-today-button:focus {
    background-color: #9f000a;
}
/*************************** New Dash  *******************************/
.form_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: transparent !important;
}
.form_block select{
    margin: 10px auto;
    min-width: 120px;
}
section.charts .card.small {
    padding:20px;
    display:flex;
    flex-direction: column;
}
section.charts .card.small .card-title {
    margin-bottom: 20px;
}
section.charts  .searchPicker {
    display: flex;
    justify-content: center;
    margin-bottom:20px;
    margin-top:20px;   
}
section.charts  .card.small .card-header , section.charts .card.small .card-content{
    padding: 0;
}
section.charts  .card.small .card-title {
    font-size: 16px;
    color:#b70d18;
}
.card.small .searchPicker span.add-on.input-group-addon {
    position: absolute;
    right: 10px;
    top: 4px;
}
.c3 .c3-tooltip th{
    background-color: #b70d18 !important;    
}
.block_attach a.icon_attach:hover {
    cursor: pointer;
}
.nbre_count_request {
    position: absolute;
    top: 37%;
    left: 0;
    right: 0;
    text-align: center;
}
.nbre_count_request p {
    display: inline-grid;
    line-height: 1;
    font-size: 2em;
    font-weight: bold;
}
.nbre_count_request span {
    font-size: 0.7em;
    font-weight: normal;
}
.btn.btn-round-sm.btn-link {
    display: inline-block;
    border-radius: 50%;
    background-color: #ddd;
    padding: 0;
    font-size: 10px;
    position: absolute;
    right: 0px !important;
    top: -1px;
    color: #ffffff;
    text-align: center;
    line-height: 16px;
    width: 15px;
    height: 16px;
}
.popover-content {
    padding: 9px 14px 0 14px;
}
/*.btn.btn-round-sm.btn-link:hover {
    background-color: #b70d18;
}*/
.nav ul.dropdown-menu.dropdown-menu-right li:nth-child(1) a {
    max-width: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.popover.bottom>.arrow:after {
    color:#b70d18;
    border-bottom-color: #b70d18 !important;
}
.popover.slide-down.fade {
    background-color: #b70d18 !important;
}
.popover.slide-down.fade .arrow {
    border-bottom-color: #b70d18;
    border-top-color: #b70d18;
}
.form-group p.help-block {
    line-height: 18px;
    margin: 10px 0 0;
}
.form-group .help-block i.fa.fa-question-circle {
    padding-right: 5px;
    font-size: 14px;
}
.mdl-menu__item a {
    background-color: transparent !important;
    font-size: 14px !important;
    padding: 0 !important;
}
.box_filter ul.dropdown-menu li {
    width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: list-item;
}
.bootstrap-datetimepicker-widget.usetwentyfour{
        position: absolute !important;
        top:39px !important;
        bottom:auto !important;
        margin-top:0px !important;
}
.new_startdate.date-timepicker1 ~ .bootstrap-datetimepicker-widget.dropdown-menu.usetwentyfour.timepicker-sbs.top,
.new_enddate.date-timepicker1 ~ .bootstrap-datetimepicker-widget.dropdown-menu.usetwentyfour.timepicker-sbs.top{
        top:39px !important;
        bottom:auto !important;
}
.date-picker-expense ~ .bootstrap-datetimepicker-widget.usetwentyfour{
        position: absolute !important;
        top:39px !important;
        bottom:auto !important;
}
.bootstrap-datetimepicker-widget.usetwentyfour{   
    background-color: #fff !important;
    z-index: 1071;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    padding: 3px;
    
}
.block .bootstrap-datetimepicker-widget.usetwentyfour.timepicker-sbs div{
    opacity:1 !important;
}
#NewAbsenceRequest .input-group, #EditAbsenceRequest .input-group{
    width:100%;
}
#NewAbsenceRequest .input-group .input-group-addon, #EditAbsenceRequest .input-group .input-group-addon{
    top: 0px;
    position: absolute;
    padding-top: 14px;
    right: 17px;
}

.bootstrap-datetimepicker-widget table td span{
    margin:0;
}

.bootstrap-datetimepicker-widget:after,.bootstrap-datetimepicker-widget:before{
content:'';display:inline-block;position:absolute;
}

.bootstrap-datetimepicker-widget.bottom:before{
border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid #ccc;border-bottom-color:rgba(0,0,0,.2);top:-7px;left:7px;
}

.bootstrap-datetimepicker-widget.bottom:after{
border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #fff;top:-6px;left:8px;
}

.bootstrap-datetimepicker-widget.top:before{
border-left:7px solid transparent;border-right:7px solid transparent;border-top:7px solid #ccc;border-top-color:rgba(0,0,0,.2);bottom:-7px;left:6px;
}

.bootstrap-datetimepicker-widget.top:after{
border-left:6px solid transparent;border-right:6px solid transparent;border-top:6px solid #fff;bottom:-6px;left:7px
}

.bootstrap-datetimepicker-widget.pull-right:before{
left:auto;right:6px;
}


.bootstrap-datetimepicker-widget.pull-right:after{
left:auto;right:7px;
}

.table_grid .item {
	cursor: move;
}

.table_grid  .logList {
	min-height: 200px;
}
.form-group.tax_modele_list ul {
    margin: 0;
        padding: 0;
    font-weight: bold;
}
.form-group.tax_modele_list ul li {
    float: left;
    list-style-type: none;
    padding-right: 20px;
}
body.overflow-no .nav.nav-tabs#myTabInter {
    padding-left:0;
}
.col-sm-12.badge_option_grid.fix {
    position: fixed;
    padding: 0;
    left: 0;
    width: 100%;
        z-index: 10;
}
.tabs-list-container li.indexHiring {
    display: none;
}
.appear_el {
    opacity:0;
}
.appear_el.appear_1 {
    opacity:1;
}
tags-input .tags {
    border: 0px solid #a9a9a9;
    box-shadow: inset 0 -1px 0 #ddd;
}
tags-input .tags .input {
    box-shadow: inset 0 0px 0 #b70d18;
}
tags-input .tags.focused {
    border: 0px solid #a9a9a9;    
    box-shadow: inset 0 -1px 0 #b70d18;
}
tags-input .tags .tag-item {
    border: 1px solid #ddd;
    background: -webkit-linear-gradient(top,#b77075 0,#b7363e 47%,#b70d18 100%);
    background: linear-gradient(to bottom,#b77075 0,#b7363e 47%,#b70d18 100%);
}
/*#CompetenceTag.active.notappear a,
#CompetenceTag.notappear a:hover{
    box-shadow: inset 0 -2px 0 transparent;
    color: rgba(0,0,0, 0.54);
}
#CompetenceTag.active.appear a{
    box-shadow: inset 0 -2px 0 #b70d18;
}*/
.cards.acc .card ul {
    margin-bottom: 4px;
    -webkit-padding-start: 30px;
}
.cards.acc .card li {
    list-style-type: circle;
}
.cards.acc .card a {
    color: rgba(0,0,0, 0.54);
}
.cards.acc .card a:hover {
    text-decoration:underline;
}
.btn.action.plus_del {
/*    min-width: 38px !important;
    padding: 11px !important;
    line-height: 4px !important;
    font-size: 9px !important;*/
    background-color: #ffffff;
    border: 1px solid #dddddd;
    color: #b70d18;
        font-size: 13px;
            line-height: 34px;
            padding:0 21px 0 16px;
            margin-right: 6px;
}
.btn.action.plus_del:hover, .btn.action.plus_del:focus {
    border-color: #b70d18;
    background-color: #b70d18;
    color: #fff;
}
.btn.action.plus_del.sort {
    padding: 0 5px;
    min-width: 50px;
}
.btn.action.plus_del i.fa {
    font-size: 14px;
    padding-right: 4px;
}
.btn.action.plus_del.sort i.fa {
    padding-right: 0px;
}
.label_lineHeight {
   line-height:14px;
}
.tri_add_del_options select, .tri_add_del_options select.form-control, .tri_add_del_options input[type=text] {
    background-color: #fff;
    padding-left: 5px;    
}
.tri_add_del_options>div {
    padding-top:5px !important;
    padding-bottom:5px !important;
}
.tri_add_del_options .selected {
    background-color: #b70d18 !important;
}
.form-group p.form-control {
	height:auto !important;
	line-height: 1.5;
}
.form-group p.white-space-pre-line {
    white-space: pre-line;
}
/*******************************************************************************
********************************************************************************
*******************************************************************************/
@media (max-width: 1300px){
    table .hideCol {
        display: none;
    }
}
@media (max-width: 767px){
.tri_option .mdl-menu__item {
   width:100%;
}     
.box_filter ul.dropdown-menu li {
    width: 100%;
}    
.modal.bd-example-modal-lg h2.modal-title {
    font-size: 18px;
    text-align: center;
    line-height: 1.4;
    padding: 0 10px;
}
section.charts .card.small .table_grid{
    display: block !important;
}
section.charts .card.small table.table-striped:nth-child(2){
    display: table !important;
}#fuelux-wizard-container .card-title b {
    padding-right: 35px;
    display: block;
}
}
@media (min-width: 768px){
    .card_grid {
        padding: 0 2px;
    }
    .card.small.donut-chart {
        min-height: 490px;
    }
}
@media (min-width: 993px){
    .navbar-toggle {
        display: block;
    }
    .container-fluid {
        padding-left: 0; 
    }
    .nav.nav-tabs {
        padding-left: 70px;
    }
    body.overflow-no .nav.nav-tabs {
        padding-left: 230px;
    }
    body main {
        padding-left: 70px;       
    }
    body.overflow-no main {
        padding-left: 230px;       
    }
    body .sidebar {
        width: 70px !important;       
        left: 0 !important;       
    }
    body.overflow-no .sidebar {
        width: 230px !important;      
    }
    .navbar-fixed-top {
        margin-left: 0 !important;
    }
    .col-sm-12.badge_option_grid.fix {
    padding-left: 70px;
    }
    .overflow-no .col-sm-12.badge_option_grid.fix {
        padding-left: 230px;
    }
}
/*@media (max-width: 1240px){
    .table {
        display: block;    
    }    
}*/
@media (max-width: 1200px){
    #fuelux-wizard-container .card-title b {
        padding-right: 35px;
        display: block;
    } 
}
@media (max-width: 1024px){
    .filtre_options_container{
        flex-direction: column;
        padding: 4px;
    }
    .wrap_btns_head_tab_left {
        flex: 1 1 auto;
        width: 100% !important;
        margin-top: 0px;
        margin-bottom: 0;
        margin-right: 0;
        padding-right: 0;
        justify-content: space-around;
        margin-left: 0;
        border-bottom: 1px solid rgba(0,0,0,.12);
    }
    .wrap_btns_head_tab_left form {
        padding-bottom: 3px !important;
    }
    .wrap_btns_head_tab_left form, .wrap_btns_head_tab_left .form-group .wrap_btns_head_tab_left input {
        width:100%;
    }
    .wrap_btns_head_tab_right {
        justify-content: space-around;
        width: 100% !important;
        max-width: 100%;
        margin: 0;
    }
    .box_filter {
        margin-top: 8px;
    }
    .box_filter.n1 {
        border: 0;
    }
}
@media (max-width: 767px){
.wrap_btns_head_tab_left form {
    padding-top: 4px;
}
.modal.bd-example-modal-lg .modal-content .modal-body{
    margin-bottom: 13em !important;
}
.modal.bd-example-modal-lg .modal-content .form-horizontal.show_form.modal-body{
    margin-bottom: 2.5em !important;
}
.block_attach {
    flex-direction: column;
    align-items: center;
}
.block_attach div {
    margin-top: 20px;
}    
/*    .nav .dropdown.pull-right a.btn.btn-link span {
        display: none;
    }*/
    .wrap_btns_head_tab_left  form .form-group {
        margin-bottom: 0;
    }
    .form-actions {
        display: flex;
        flex-direction: column;    
    }
    .form-actions button {
        margin: 5px 0 !important;        
    }
    form .form-group{
        margin-bottom:15px;
    }
    .box_filter .dropdown-menu, .box_filter .drop-menu {
        left: 0;
        float: none;
        max-width: 200px;
        margin: 0 auto;   
        right: 0;

    }
    .box_filter .searchDate .drop-menu {
        left: -40px;
        float: none;
        min-width: 230px;
        margin: 0 auto;
        right: 0;
        width: 100%;
        max-width: 230px;
    }
    .card_grid>div {
        padding: 0;
    }
    .form-group {
        margin-bottom:0px;
    }
    .box_filter.n4 {
        display: none;
    }
    .box_filter.n3 {
        border-bottom: 0 !important;
        padding-bottom:0;
    }
    .wrap_btns_head_tab_left {
        margin-top: 0;
    }
    .navbar .search-form #search-input {
        width: 208px;
    }
    .brand-logo {
        margin-left: 8px;
        margin-right: 16px;
    }
    .navbar-toggle{
        padding:9px 5px;
    }
    .wrap_btns_head_tab_right {
        flex-direction: column;
    }
    .box_filter {
        justify-content: center;
        border-bottom: 1px solid rgba(0,0,0,.12) !important;
        width: 100%;
        padding: 3px 0;
        margin: 0;
        border-left: 0;
    }
    .table_grid {
        display: none !important;
    }
    .card_grid, .card_grid.ng-hide:not(.ng-hide-animate) {
        display: block !important;
    }

}
@media (max-width: 640px){
    aside.sidebar {
        margin-top: 0px;
        padding-top:101px;
    }    
    .navbar .container-fluid{
        padding-bottom: 36px;
    }
        main .main-container .main-content {
        padding-top: 98px;
    }
    .navbar-header.pull-left {
        width: 66%;
    }
    #logo {
        width: 109px;
    }
    .navbar-header.pull-left ul.nav.navbar-nav.navbar-right.navbar-right-no-collapse{
        width: initial;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        margin: 0 auto;
        float: none !important;
        display: flex;
        top: 58px;
    }
    .navbar-header.pull-left ul.nav.navbar-nav.navbar-right.navbar-right-no-collapse li:nth-child(1) {
        margin: 0 auto;
    }
    .navbar .search-form #search-input {
        width: 312px;
        text-overflow: ellipsis;
    }
    .btn_search_header button.btn {
        padding: 5px 6px;
    }
    .btn_search_header button.btn .f20 {
        font-size: 21px;
        line-height: 8px;
    }
    .brand-logo.pull-left {
            float: right !important;
    }
    .btn-link.settings_header img {
        width: 32px;
    }    
}
@media (max-width: 480px){
    .navbar-header.pull-left {
        width: 72%;
    }
    aside.sidebar {
    margin-top: 0px;
    padding-top:101px;
}

/*.brand-logo .web_logo {
    display:none;
}
.brand-logo .responsive_logo {
    display:inline-block;    
}*/
    .navbar-toggle{
        padding:9px 5px;
    }
    .input_search_header input.form-control {
        padding-left: 32px;
        font-size: 13px;
        height:33px;
    }
    .navbar .navbar-header .navbar-right-no-collapse {
        margin: 16px 0 0;
    }
    .list-actions .btn-link span, .list-actions .btn-link:hover span, .list-actions .btn-link:focus span{
        padding: 4px 0!important;
        line-height: 24px;
        width: 32px;
        font-size: 14px;
    }
    .btn-link.settings_header img, .btn-link.settings_header:hover img, .btn-link.settings_header:focus img {
        padding: 4px 0!important;
        height: 32px;
        min-width: 32px;
      
    }
    a.btn.btn-link.pull-left.settings_header.help_link {
        display: none;
    }
    .dropdown.pull-right .btn.btn-link i.md.md-keyboard-arrow-down {
        width: 19px;
    }
    .nav .dropdown.pull-right a.btn.btn-link {
        padding: 6px 0;
    }
    .btn-link.settings_header {
        padding: 11px 3px;
    }
    .navbar-toggle {
        padding: 9px 0px;
    }   
}
@media (max-width: 400px){
    .box_filter .searchDate .drop-menu {
        left: auto;
        min-width: 220px;
        right: 9px;
        max-width: 220px;
    }
}
@media (max-width: 320px){
  .navbar-header.pull-left {
        width: 79%;
    }
    #logo {
        width: 95px;
    } 
    .navbar .search-form #search-input {
        width: 100%;
    }
}


/*.checkbox input[type=checkbox]:checked:before, .checkbox-inline input[type=checkbox]:checked:before, input[type=checkbox]:checked:before {

    top: 202px;
    left: 394px;}*/
.checkbox input[type=checkbox]:after, .checkbox-inline input[type=checkbox]:after, input[type=checkbox]:after {
   
    height: 18px;
    margin-top: 4px;
}


.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], label input[type=checkbox], .modal-dialog .form-group .checkbox.with_label input[type=checkbox] {
    margin-left: 2px;
}