<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#9f00a7">
    <meta name="theme-color" content="#ffffff">
    {#<link rel="icon" type="image/x-icon" href="{{ app.request.getSchemeAndHttpHost() }}/favicon.ico"/>#}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <title> Eazy by Mazars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end style upload image -->
    <script src="{{ asset('assets/js/vue-upload-component.js') }}"></script>
    <script src="{{ asset('assets/js/image-compressor.js') }}"></script>
    <script src="{{ asset('assets/js/cropper.js') }}"></script>
    <script src="{{ asset('assets/js/polyfill.js') }}"></script>
    <link href="{{ asset('assets/css/cropper.css') }}" rel="stylesheet"/>

    <style>
        .cropper-view-box, .cropper-face {
            border-radius: 50%;
        }
    </style>

    <style>
        .company-input  {
            width: 264px !important;
            color: #000!important;
            font-size: 15px!important;
            font-weight: 500!important;
        }
    </style>




    <link rel="stylesheet" href="{{ asset('vue/v-frontend/compiled/main.css') }}"/>

    <style>

        .card {
            cursor: pointer;
        }

        .message-admin {
            margin: 15px;
            display: block;
        }

        .personalized-select {
            font-size: 14px;
            border-width: 2px;
            border-color: #6F508D !important;
        }

        .company-select {
            font-size: 14px;
            border-width: 2px;
            border-color: #6F508D !important;
            z-index: 9001 !important;
        }

        .ui.selection.active.dropdown .menu {
            border-color: #2b98bf;
            box-shadow: 0px 2px 3px 0px rgba(34, 36, 38, 0.15);
            font-size: 14px;
            border-width: 1px;
            border-color: #6F508D !important;
            z-index: 9001 !important;
        }

        .ui.fluid.dropdown {
            font-size: 14px !important;
            border-width: 1px !important;
            border-color: #6F508D !important;
            z-index: 9001 !important;
        }
    </style>

    <style>
        /* Dans la page user deux select s'affichent lors de chargement de la page */
        .user-edit-select .select-bg {
            z-index: 0;
        }

        .user-edit-select select {
            z-index: 0;
        }

        .user-edit-select .mazar-icon-puce {
            z-index: 0;
        }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        .switch input {
            display: none;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: #6F508D;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #888;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    </style>
    <style>


        .introjs-tooltipReferenceLayer {
            color: black;
            text-align: center;
        }

        .introjs-tooltip {
            position: absolute;
            padding: 10px;
            background-color: white;
            min-width: 583px !important;
            max-width: 900px !important;
            border-radius: 3px;
            box-shadow: 0 1px 10px rgba(0, 0, 0, .4);
            -webkit-transition: opacity 0.1s ease-out;
            -moz-transition: opacity 0.1s ease-out;
            -ms-transition: opacity 0.1s ease-out;
            -o-transition: opacity 0.1s ease-out;
            transition: opacity 0.1s ease-out;
        }

        .data {
            background-color: transparent !important;

        }</style>
    <style>


        .introjs-fixedTooltip {
            position: absolute !important;
        }

        .introjs-helperLayer {
            box-sizing: content-box;
            position: absolute;
            z-index: 9999998;
            background-color: #FFF;
            background-color: transparent !important;
        {#    border: 1px solid #777;
        #}{#   border: 2px solid #b92423!important;
        #} border-radius: 4px;
            box-shadow: 0 2px 15px rgba(0, 0, 0, .4);
            -webkit-transition: all .3s ease-out;
            -moz-transition: all .3s ease-out;
            -ms-transition: all .3s ease-out;
            -o-transition: all .3s ease-out;
            transition: all .3s ease-out;
        }

        .btn-success {
            /* color: black; */
            /* background-color: transparent; */
            margin-left: 1235px !important;
            /* border-color: #28a745; */
            /* border: none; */
        }

        .introjs-overlay {
            position: absolute;
            box-sizing: content-box;
            z-index: 999999;
            background-color: #000;
            opacity: 1;
        {#background: -moz-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
        background: -webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,rgba(0,0,0,0.4)),color-stop(100%,rgba(0,0,0,0.9)));
        background: -webkit-radial-gradient(center,ellipse cover,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
        background: -o-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
        background: -ms-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
        background: -webkit-radial-gradient(center,ellipse cover,rgba(0,0,0,0.0) 0,rgba(0,0,0,0) 100%)!important;
        filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000',endColorstr='#e6000000',GradientType=1)";
        -ms-filter: "alpha(opacity=50)";
        filter: alpha(opacity=50);#} -webkit-transition: all .3s ease-out;
            -moz-transition: all .3s ease-out;
            -ms-transition: all .3s ease-out;
            -o-transition: all .3s ease-out;
            transition: all .3s ease-out;
        }
    </style>

    <style>
        @media screen and (max-width: 500px) {
            .box-body-content {
                min-height: 65px;
            }

            #box-body-content {
                min-height: 65px;
            }
        }
    </style>
</head>
<body>
<div id="main" class="container-fluid content-container">
    {% include '::common/header/frontend/header.html.twig' %}
    <div class="row">
        <div id="wrapper" class="col-md-12" style="padding-right: 0px;">
            {% block sidebar %}
                {% include '::common/menu/frontend/menu.html.twig' %}
            {% endblock %}
            {#                         <img v-if="company.office" style="width: 100%;" :src="(company.office.thumbnail) ? '/uploads/' + company.office.thumbnail.link : 'vue/v-frontend/compiled/static/no-picture.png'"/>#}
            {#                    <div id="page-content-wrapper">#}
            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                <span class="alert alert-warning message-admin" role="alert">
                                This is a impersoate area  to return to your admin account please click here<a
                            href="{{ path('backend_homepage') }}?_switch_user=_exit"
                            class="alert-link" style="color: : red;">Return</a>
                            </span>
            {% endif %}
            {% block main %}{% endblock %}
            {#                </div>#}
        </div>
    </div>
    {% include '::frontend/modal/helpModal.html.twig' %}
    {% include '::frontend/modal/userModal.html.twig' %}
    {% include '::frontend/modal/notificationModal.html.twig' %}
    {% include '::frontend/modal/gdprModal.html.twig' %}
    {% include '::frontend/modal/serviceDescriptionModal.html.twig' %}
</div>

{# END main Section#}
{% block javascripts %}
{# vue js 2 libraries #}
<script src="{{ asset('vue/libraries/vue.js') }}"></script>
<script src="{{ asset('vue/libraries/vue-resource.js') }}"></script>
<script src="{{ asset('vue/libraries/vue-select.js') }}"></script>
<script src="{{ asset('vue/libraries/translate.js') }}"></script>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/intro.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/introjs.min.css" rel="stylesheet">#}


<script src="{{ asset('assets/js/moment.min.js') }}"></script>
<script src="https://unpkg.com/v-tooltip"></script>
{#    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
#}
{# vue js 2 global config #}
<script src="{{ asset('vue/v-config.js') }}"></script>
<script src="{{ asset('vue/v-components.js') }}"></script>
<script src="{{ asset('vue/v-directives.js') }}"></script>
<script src="{{ asset('vue/v-filters.js') }}"></script>
{# FOSJSROUTING JS config #}
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

{# vue js 2 custom files #}
{#        <script src="{{ asset('vue/v-frontend/app.js') }}"></script>#}
<script src="{{ asset('vue/v-frontend/compiled/js/app.js') }}"></script>

{# Template JS #}
<script src="{{ asset('assets/js/jquery.js') }}  "></script>
<script src="{{ asset('assets/js/side-nav_.js') }}"></script>

{# PetkoparaCrudGenerator JS #}
<script src="{{ asset('bundles/petkoparacrudgenerator/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/petkoparacrudgenerator/js/petkopara-crud-generator.js') }}"></script>
<script src="{{ asset('assets/js/masonry.min.js') }}"></script>
<script>
    $(document).ready(function () {
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
            $(".reload-masonry").toggleClass("d-none");
            $(this).toggleClass('active');
            $(window).trigger('resize');
            window.dispatchEvent(new Event('resize'));
            setTimeout(function () {
                $(window).trigger('resize');
                window.dispatchEvent(new Event('resize'));
            }, 300);
        });
        $('body').on('click', '#filter-bloc', function () {
            $('#filter-bloc-body').toggleClass('d-none')
        });
    });
</script>
</body>
</html>
{% endblock %}
