<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="shortcut icon" href="{{ asset('assets/images/favicon.ico') }}" type="image/x-icon">
    <title>Eazy by Mazars</title>

    {# START Third party libraries#}
    {% block stylesheets %}
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="{{ asset('bundles/petkoparacrudgenerator/css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/css/backend/styles.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/backend/styles_theme_2.css') }}"/>
    {% endblock %}

    <style>
        .container {
            width: 96%;
        }

        input:disabled#bulkSubmitBtn {
            display: none !important;
        }
    </style>
</head>

<body class="alert-open alert-with-mat-grow-top-right overflow-no">

{# START menu Section #}
{% include '::common/menu/backend/menu.html.twig' %}


{# START header Section#}
{% include '::common/header/backend/header.html.twig' %}


<main>
    <div class="main-container">
        <div class="main-content" autoscroll="true" bs-affix-target="" init-ripples="" style="">

<span id="backend">
            {% block main %}

            {% endblock %}
        </span>
        </div>
    </div>
</main>


{% block externVue %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
    <script src="https://unpkg.com/vue-select@2.4.0/dist/vue-select.js"></script>
{% endblock %}

{% block javascripts %}
    {# vue js 2 libraries #}
    <script src="{{ asset('vue/libraries/vue.js') }}"></script>
    <script src="{{ asset('vue/libraries/vue-resource.js') }}"></script>

    {# vue js 2 global config #}
    <script src="{{ asset('vue/v-config.js') }}"></script>
    <script src="{{ asset('vue/v-components.js') }}"></script>
    <script src="{{ asset('vue/v-directives.js') }}"></script>
    <script src="{{ asset('vue/v-filters.js') }}"></script>

    {# FOSJSROUTING JS config #}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

{% endblock %}

{# vue js 2 custom files #}
{#<script src="{{ asset('vue/v-backend/app.js') }}"></script>#}
{#<script src="{{ asset('vue/v-backend/user-edit.js') }}"></script>#}

{% block petkopara %}
    {# Template JS #}
    <script src="{{ asset('assets/js/jquery.js') }}  "></script>
    <script src="{{ asset('assets/js/side-nav_.js') }}"></script>

    {# PetkoparaCrudGenerator JS #}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="{{ asset('bundles/petkoparacrudgenerator/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/petkoparacrudgenerator/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/petkoparacrudgenerator/js/petkopara-crud-generator.js') }}"></script>
{% endblock %}

{% block vueApp %}
{% endblock %}
</body>

</html>
