<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <title>Authentification</title>
    <meta name="description" content="User login page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="{{ asset('vue/v-frontend/compiled/main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('vue/v-frontend/compiled/login.css') }}"/>
    <!--[if lte IE 8]>
    <script src="{{ asset('assets/js/html5shiv.min.js')}}"></script>
    <script src="{{ asset('assets/js/respond.min.js')}}"></script>
    <![endif]-->
</head>
<body>
<div class="bg-container"></div>
<div class="container main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="login-wrapper" style="max-width: 100% ">
                <div class="login-logo"><a href="{{ PRESENTATION }}"><img
                                src="{{ asset('/vue/v-frontend/compiled/static/mazars-logo.png') }}"/></a>
                </div>
                <div class="login-info"
                     style="background-color: white;height: 300px;text-align: left !important; overflow:auto;padding: 5px">
                    <div style="">
                    <span style="color: black;/">
                        <h3>CONSENTEMENT de la politique de protection des données et des conditions d'utilisation de EAZY by Mazars</h3>
                       <br>
                       <br>
                       MAZARS a développé et exploite un service en ligne EAZY BY MAZARS destiné principalement mais non exclusivement aux TPE/PME proposant un bouquet de services et de logiciels en mode SaaS. Ces services et/ou logiciels sont, selon les cas, accessibles gratuitement ou suite à un paiement.<br>
                       <br>
                        La collecte des données opérée dans le cadre des présentes conditions a pour finalité :<br>
                        • la gestion du client dans le service en ligne EAZY BY MAZARS;<br>
                        • La gestion des activités quotidienne de l'entreprise du client (ventes, achats, stocks, banques et comptabilités)<br>
                        <br>
                        Il est étendu que MAZARS n'utilisera pas les données collectées à caractère personnel à d'autres fins que celles pour lesquelles elles ont été collectées.<br>
                        <br>
                        Le client qui déclare avoir bien compris le fonctionnement et les conditions de facturation de EAZY BY MAZARS souhaite utiliser tout ou partie du bouquet de services et de logiciels.<br>
                        <br>
                        Le client déclare :<br>
                        • avoir pris connaissance et accepter les <a href="{{ EAZYBYMAZARS_CGUV }}" target="_blank">conditions d’utilisation et de vente</a> de EAZY BY MAZARS;<br>
                        • avoir pris connaissance et accepter l'approche de la <a href="{{ EAZYBYMAZARS_GDPR }}"
                                                                                  target="_blank">protection des données personnelles</a> mise en œuvre par MAZARS SA;<br>
                        • avoir pris connaissance et accepter la <a href="{{ EAZYBYMAZARS_COOKIESLAW }}"
                                                                    target="_blank">politique de gestion des cookies</a> de EAZY BY MAZARS;<br>
                        • s’être assuré du respect des prérequis nécessaires à l’utilisation de EAZY BY MAZARS;<br>
                        • disposer des compétences nécessaires pour accéder et utiliser EAZY BY MAZARS;<br>
                        • agir en qualité de professionnel avisé.   <br>
                         <br>
                         <br>
                         <br>
                    </span>
                    </div>
                </div>
                <form action="{{ path('set_user_gdpr') }}" method="post" class="login-form"
                      style="max-width: 420px;margin: auto;width: 50%; padding: 10px;">
                    <div class="remember-me-bloc">
                        <input id="stay-connected" name="accept" type="checkbox" required/>
                        <label for="stay-connected">J'accepte les termes et conditions</label>
                    </div>
                    <button type="submit" id="_submit" name="_submit"
                            class=" btn btn-lg btn-primary btn-block login-btn">
                        Continuer
                    </button>
                    <a href="{{ path('fos_user_security_logout') }}" id="_submit" name="cancel"
                       class=" btn btn-lg btn-primary btn-block login-btn">
                        Annuler
                    </a>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--[if !IE]> -->
<script src="{{ asset('assets/bower_components/jquery/dist/jquery.min.js') }}"></script>
<!-- <![endif]-->

<!--[if IE]>
<script src="assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
<script type="text/javascript">
    if ('ontouchstart' in document.documentElement)
        document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>

<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function ($) {
        $(document).on('click', '.toolbar a[data-target]', function (e) {
            e.preventDefault();
            var target = $(this).data('target');
            $('.widget-box.visible').removeClass('visible');//hide others
            $(target).addClass('visible');//show target
        });
    });


    //you don't need this, just used for changing background
    jQuery(function ($) {
        $('#btn-login-dark').on('click', function (e) {
            $('body').attr('class', 'login-layout');
            $('#id-text2').attr('class', 'white');
            $('#id-company-text').attr('class', 'blue');

            e.preventDefault();
        });
        $('#btn-login-light').on('click', function (e) {
            $('body').attr('class', 'login-layout light-login');
            $('#id-text2').attr('class', 'grey');
            $('#id-company-text').attr('class', 'blue');

            e.preventDefault();
        });
        $('#btn-login-blur').on('click', function (e) {
            $('body').attr('class', 'login-layout blur-login');
            $('#id-text2').attr('class', 'white');
            $('#id-company-text').attr('class', 'light-blue');

            e.preventDefault();
        });

    });
</script>
</body>
</html>
