{% extends 'baseFront.html.twig' %}

{% block main %}
    {#{{ dump(USER_AGENT.checkDevice(1)) }}#}
    <div {#v-intro-autostart="autostart"#}>
        {#<a class="btn btn-large btn-success" href="javascript:void(0);" onclick="javascript:introJs().start();">Show me how</a>#}
        <img v-if="company.officeThumbnail" style="width: 100%;"
             :src="(company.officeThumbnail) ? '/uploads/' + company.officeThumbnail : 'vue/v-frontend/compiled/static/no-picture.png'"
             onError="this.onerror=null;this.style.display = 'none';"/>

        <div class="container-fluid homepage-container ">
            <div id="page-content-wrapper"
                    {#v-intro-step = " 1 " data-placement="bottom-middle-aligned"  #}
                    {#v-intro="'<b>Bienvenue de votre plateforme EAZY By MAZARS </b> <br> <br>- La zone principale d’accès à vos services accessibles ou disponibles sous réserve d’y souscrire <br>- La zone de votre entreprise où vous retrouver notamment la listes des utilisateurs,<br>- Votre accès Utilisateur où vous retrouverez notamment  la gestion de la sécurité de votre accès <br> <br>Une zone support vous permet d’accéder à notre assistance via nos guides d’aides, notre chat ou encore notre ligne téléphonique.<br>Enfin, nous vous invitons à découvrir notre plate-forme via ce Guide et notamment découvrir comment sécuriser l’accès de votre email avec votre téléphone portable<br><br><br><b>Bienvenue dans notre plate-forme !</b><br><b>L’équipe EAZY By MAZARS '"#} >
                <div id="" {#v-intro-step = " 14 "#} data-placement="bottom"
                        {#v-intro="'Notre tour de découverte est maintenant terminé'"#} >

                    <div class="banner-img col-md-12">
                    </div>
                    <div {#v-intro-step = " 2 "#}
                            class="row" {#v-intro-position="'top'"#} {#v-intro="'Dés votre accès à la plate-forme l’ensemble des services disponibles sont présentés dans votre compte.'"#} >

                        <div class="col-md-12 items-container" fit-width="true" horizontal-order="true" v-masonry
                             transition-duration="1s" item-selector=".item">

                            <div v-masonry-tile class="item" v-for="option in services" v-cloak>
                                <div class="container-fluid" v-cloak style="  cursor: pointer;">
                                    <div class="row">

                                        <div class="col-sm-4 col-4 box-title"
                                             v-bind:class="[{ disabledSericeImage: (option.status == 'Disable') },{ deniedIcon: (option.isDenied) }]">
                                            <img v-if="option.thumbnail"
                                                 :src="(option.thumbnail) ? '/uploads/' + option.thumbnail : 'vue/v-frontend/compiled/static/mazars-logo.png'"
                                                 v-on:click="connectLink(option.idUcs,option.status,option.longDesc,option.connectionTargetAttribute)"/>
                                        </div>
                                        <div class="col-sm-8 col-8 box-body" v-bind:id="'service'+option.id"
                                             v-bind:class="[{ isDenied: (option.isDenied) },{ disabledSerice: (option.status == 'Disable') }]"
                                             v-on:click="connectLink(option.idUcs,option.status,option.longDesc,option.connectionTargetAttribute)">
                                            <p class="box-body-title"><span
                                                        id="box-body-title">{[{ option.name }]}{[{option.isDisabled}]}</span>
                                            </p>
                                            <p class="box-body-content" v-html="option.shortDesc"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Start of eazybymazars Zendesk Widget script -->
    <script id="ze-snippet"
            src="https://static.zdassets.com/ekr/snippet.js?key=d7750bdf-2af3-4555-b316-ae1675c38994"></script>
    <!-- End of eazybymazars Zendesk Widget script -->
{% endblock %}
