{% macro th_sortable(labelName,colName, sortColumn, sortOrder, route) %}
    {% set iconDirection = sortOrder=='asc'?'down':'up' %}
    {% set nextSortOrder = sortOrder=='asc'?'desc':'asc'%}
    {% if colName == sortColumn %}
        <a href="{{path(route ,app.request.query.all|merge({'pcg_sort_col': colName, 'pcg_sort_order': nextSortOrder})) }}">
            {{labelName|capitalize}} <span class="glyphicon glyphicon-arrow-{{ iconDirection }}" aria-hidden="true"></span>
        </a>
    {% else %}
        <a href="{{path(route ,app.request.query.all|merge({'pcg_sort_col': colName, 'pcg_sort_order':'asc'}) )}}">
            {{labelName|capitalize}}
        </a>
    {% endif %}
{% endmacro %}
