{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} - New templateService
{% endblock %}

{% block main %}
  <div class="container">

<div id="top" class="row">
    <div class="page-header">
        <h2>New templateService <span class="glyphicon glyphicon-file" aria-hidden="true"></span> </h2>
    </div>
</div>
    
    
    
<div class="row">
    <div class="row">
    <div class="col-md-12">
        {% for type, flashMessages in app.session.flashbag.all() %} 
        {% for flashMessage in flashMessages %}
        <div class="alert alert-{{ type }}">
            {{ flashMessage|raw }}
        </div>
         {% endfor %} 
         {% endfor %} 
    </div>
</div>
    

    {{ form_start(form) }}
     <div class="form-group">
                {{ form_label(form.template, 'Configuration') }}
                {{ form_errors(form.template) }}
                
                    {{ form_widget(form.template) }}
                </div> 

                 <div class="form-group">
                {{ form_label(form.service, 'Service') }}
                {{ form_errors(form.service ) }}
               
                    {{ form_widget(form.service) }}
                </div>
                 <div class="form-group">
                {{ form_label(form.defaultStatus , 'Statut par défaut') }}
                {{ form_errors(form.defaultStatus ) }}
               
                    {{ form_widget(form.defaultStatus ) }}
                </div>
                <div class="form-group">
                {{ form_label(form.position, 'Position') }}
                {{ form_errors(form.position ) }}
           
                    {{ form_widget(form.position ) }}
                </div></div>

    <p style="margin-top: 60px;">
        <button type="submit" name="submit" value="save" class="btn btn-primary"> 
            Save <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
        </button>
        <button type="submit" name="submit" value="saveAndAdd" class="btn btn-info"> 
            Save and Add <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </p>


    {{ form_row(form._token) }} 
{#    {{ form_end(form, {'render_rest': false}) }}
#}

    <hr/>

<div class="form-group">
    <a class="btn btn-default" href="{{ path('templateservice') }}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Back to list
    </a>
</div>

</div>
</div>


{% endblock %}

