{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} - templateService
{% endblock %}

{% block main %}
  <div class="container">
<div id="top" class="row">
    <div class="page-header">
        <h2>View templateService <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p><strong>Configuration</strong></p>
        <p>
            {{ templateService.template.name }}
        </p>

    </div>
        <div class="col-md-6">
        <p><strong>Service</strong></p>
        <p>
            {{ templateService.service.name }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Statut par défaut </strong></p>
        <p>
    {% if templateService.defaultStatus=='Mandatory' %}Mandatory{% elseif templateService.defaultStatus=='Enable'%}Enable{% else %}Disable{% endif %}

            
            
{#                        {% if templateService.defaultStatus %}Yes{% else %}No{% endif %}
#}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Position</strong></p>
        <p>
            {{ templateService.position }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Créé le</strong></p>
        <p>
            {% if templateService.createdAt %}{{ templateService.createdAt|date('Y-m-d H:i:s') }}{% endif %}
        </p>

    </div>
        <div class="col-md-6">
        <p><strong>Créé par</strong></p>
        <p>
            {{ templateService.createdBy }}
        </p>
        <br>
    </div>
    {#<div class="col-md-6">
        <p><strong>Updatedat</strong></p>
        <p>
            {% if templateService.updatedAt %}{{ templateService.updatedAt|date('Y-m-d H:i:s') }}{% endif %}
        </p>

    </div></div>#}

<hr/>


<div class="form-group" style="margin-top: 50px;margin-right: 48%;">
    <a class="btn btn-default" href="{{ path('templateservice') }}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Back to list
    </a>
    <a class="btn btn-primary" href="{{ path('templateservice_edit', { 'id':  templateService.id }) }}">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        Edit
    </a>
    <a class="btn btn-info" href="{{ path('templateservice_new') }}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        New
    </a>
    <form action="{{ path('templateservice_delete', { 'id': templateService.id }) }}" method="post" style="display: inline-block">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Delete
        </button>
    </form>
</div>

</div>
{% endblock %}

