<modal class="edit-image-modal-responsive" name="modal-sms-validation" :height="200" :width="450" v-cloak>
    <i class="fa fa-close" aria-hidden="true" @click="cancelSmsCode()"></i>
    <div class="example-avatar" style="padding: 30px">
        <p class="modal-message">
            Afin d'activer votre téléphone portable, veuillez saisir le code que vous allez recevoir
        </p>
        <div class="twilio-input">
            <input type="text" name="smsCode" id="smsCode" v-model="code">
        </div>
        <div class="text-center p-1">
            <button type="submit" class="btn btn-primary" @click="validateSmsCode(code)"> Validate</button>
            <button type="button" class="btn btn-secondary" @click="cancelSmsCode()"> Cancel</button>
        </div>
    </div>
</modal>