<modal class="edit-image-modal-responsive" name="modalEditImageUser" :height="500" v-cloak>
    <i class="fa fa-close" aria-hidden="true" @click="hideModalEditImageUser()"></i>
    <div class="example-avatar" style="padding: 70px 20px;">
        <div v-show="$refs.upload && $refs.upload.dropActive" class="drop-active">
            <h3>Drop files to upload</h3>
        </div>
        <div class="avatar-upload" v-show="!edit">
            <div class="user-edit-img-container text-center p-2">
                <img :src="files.length ? files[0].url : user.thumbnail" class="img-circle image-avatar"/>
                {#<img v-else :src="files.length ? files[0].url : 'vue/v-frontend/compiled/static/compte-user.svg'" class="img-circle image-avatar"/>#}
            </div>
            <br>
                <div class="text-center p-2">
                <file-upload
                        :size="1600000"
                        extensions="jpg,jpeg,png"
                        accept="image/png,image/jpeg,image/jpg"
                        name="thumbnail[imageFile][file]"
                        class="btn btn-primary"
                        post-action="{{ path('set_user_image') }}"
                        v-model="files"
                        @input-filter="inputFilter"
                        @input-file="inputFile"
                        :data="{'_csrf_token': '{{ csrf_token('file-upload')}}'}"
                        ref="upload"><span v-lang.load_file></span>
                </file-upload>
            </div>
        </div>
        <div class="avatar-edit" v-show="files.length && edit">
            <div class="avatar-edit-image" v-if="files.length">
                <img ref="editImage" :src="files[0].url"/>
            </div>
            <div class="text-center p-4">
                <button type="button" class="btn btn-secondary" @click.prevent="$refs.upload.clear"
                        v-lang.cancel></button>
                <button type="submit" class="btn btn-primary" @click.prevent="editSave"
                        v-lang.confirm></button>
            </div>
        </div>
    </div>
</modal>
