<modal class="notification-modal-responsive" name="modal-gdpr" :width=500 :height=200 :pivot-y=1.0 :pivot-x=0.0 v-cloak>
    <i class="fa fa-close" aria-hidden="true" @click="hideModalGdpr()"></i>
    <div class="modal-wrapper notifications-modal">
        <div class="modal-container">
            <div class="modal-header">
                <slot name="header">
                    <h4>General Data Protection Regulation</h4>
                </slot>
                <span class=" close_modal close thick" @click="hideModalGdpr()"></span>
            </div>
            <div class="modal-body">
                <span style="color: black"> Data protection in the EU Data protection in the EU The General Data Protection Regulation (GDPR), the Data Protection Law Enforcement Directive and other rules concerning the protection of personal data </span>

                <button class="btn-primary btn btn-primary" @click="acceptGdpr()">OK</button>
            </div>
        </div>
    </div>
</modal>