<modal class="help-modal-responsive" name="modal-help" :width=380 :height=310 :pivot-y=0 :pivot-x=1.0 v-cloak id="help-modal-responsive">
     <i class="fa fa-close" aria-hidden="true" @click="hideModalHelp()"></i> 
    <div class="modal-wrapper help-modal">
        <div class="modal-container">
            <div class="modal-header">
                <h4 slot="header" v-lang.help_center> </h4>
              <a href="#" id="close_modal  close thick">  <span class=" close_modal  close thick" @click="hideModalHelp()" id="close_modal  close thick"></span>
              </a></div>
 <div class="modal-body" >
                <a class="guide-online" target="_blank" href="{{HELPCENTER_GUIDE_LINK}}" {#v-intro="'regroupe:Des guides d’aide sur touts nos services proposés en un seul lieu'"#} {#v-intro-step = " 9 "#}>
                    <i class="fa fa-book" aria-hidden="true"></i>
                    <span v-lang.online_help ></span>
                </a>
                <div class="contact-number">
                    <i class="fa fa-phone-square" aria-hidden="true"></i>
                    <span v-lang.contact_us ></span>
                    <span id="contact-number"> {{HELPCENTER_PHONE_NUMBER}} </span>
                </div>
                <a class="request-contact" target="_blank" href="{{HELPCENTER_REQUESTHELP_LINK }}">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    <span v-lang.make_request></span>
                </a>
                {#<div class="online-contact">#}
                    {#<i class="fa fa-weixin" aria-hidden="true"></i>#}
                    {#<span v-lang.available_online ></span>#}
                {#</div>#}
                <a class="request-contact" target="_blank" href="{{HELPCENTER_REMOTEACCESS_LINK }}">

                    <i class="fa fa-weixin" aria-hidden="true"></i>
                    <span v-lang.remote_access></span>
                </a>
            </div>
        </div>
    </div>
</modal>
