<modal class="notification-modal-responsive" name="modal-notifications" :width=500 :height=500 :pivot-y=0 :pivot-x=1.0 v-cloak>
    <i class="fa fa-close" aria-hidden="true" @click="hideModalNotifications()" id="show-modalNotification"></i>
    <div class="modal-wrapper notifications-modal">
        <div class="modal-container">
            <div class="modal-header">
                <slot name="header">
                    <h4 v-lang.notifications></h4>
                </slot>
                <a href="#" id="closenotification" > <span class=" close_modal close thick" @click="hideModalNotifications()" id="closenotification"></span></a>
            </div>
            <div class="modal-body">
                <slot name="body">
                    <div class="notification-list row" id="notification-list row">
                        {{ render(controller('AppBundle\\Controller\\Backend\\NotificationController::listAction')) }}
                    </div>
                </slot>
            </div>
            {#<div class="modal-footer">
                <slot name="footer">
                </slot>
            </div>#}
        </div>
    </div>
</modal>