<modal class="user-modal-responsive"  name="modal-service-description" :height="500" v-cloak id="modal-service-description">
    <i class="fa fa-close" aria-hidden="true" @click="hideModalServiceDescription()"></i>
    <div class="modal-wrapper user-modal">
        <div class="modal-container">
            <div class="modal-header">
                    <div class="user-text-bloc" id="currentuser">
                        Description du service
                    </div>
                <span class=" close_modal  close thick" @click="hideModalServiceDescription()"></span>
            </div>
            <div class="modal-body">
               <p style=" color: black; ">{[{ serviceDescription }]}</p>
            </div>
        </div>
    </div>
</modal>