{{ "{% extends '"~  base_template  ~ "' %}" }}

{{ "{% block title %}" }}
{{ "{{ parent() }}" }} -  Edit {{ entity_singularized }}
{{ "{% endblock %}" }}

{{ "{% block main %}" }}
  <div class="container">

<div id="top" class="row">
    <div class="page-header">
        <h2>Edit {{ entity_singularized }} <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></h2>
    </div>
</div>



<div class="row">
    {% include 'crud/views/others/flash_messages.html.twig.twig' %}

    {{ "{{ form_start(edit_form) }}" }}

    {{ "{{ form_widget(edit_form) }}" }}
    <p>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Update
        </button>
    </p>
    {{ "{{ form_end(edit_form) }}" }}

    <hr/>

    {% set hide_edit, hide_delete, hide_new = true, false, false %}
{% include 'crud/views/others/record_actions.html.twig.twig' %}
</div>
</div>


{{ "{% endblock %}" }}

