{{ "{% extends '"~  base_template  ~ "' %}" }}

{{ "{% block title %}" }}
{{ "{{ parent() }}" }} - {{ entity_singularized }} index
{{ "{% endblock %}" }}

{{ "{% block main %}" }}

  <div class="container">
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2><a href="{{ "{{ path('"~ route_name_prefix ~"') }}" }}">{{ entity }}</a></h2>
        </div>
    </div>
        
    
{%- if filter_type == 'form'%}
    {% include 'crud/views/others/form_filter_header.html.twig.twig' %}
{% elseif filter_type =='input' %}
    {% include 'crud/views/others/multi_search_header.html.twig.twig' %}
{% endif %}
    
{%- if filter_type != 'none'%}
    <div class="col-md-12">
        {{ '{%- if form_errors(filterForm) %}' }}
        <div class="alert alert-block alert-error fade in form-errors">
            {{ '{{ form_errors(filterForm) }}' }}
        </div>
        {{ '{% endif %}' }}
    </div>
{% endif %}

</div> <!-- /#top -->


{% include 'crud/views/others/flash_messages.html.twig.twig' %}
  
<div class="row">

        <div class="table-responsive col-md-12">
{% if without_bulk_action == false %}
        <form method="POST" id="bulk_form" action="{{ "{{ path('"~ route_name_prefix ~"_bulk_action') }}" }} ">
{% endif %}
            <table class="table table-striped table-hover table-bordered" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
{% if without_bulk_action == false %}
                        <th width="20px"><input type="checkbox" class="check-all" onclick="toggleAll(this)"></th>
{% endif %}

{% if without_sorting == false %}
                {{'{% import "PetkoparaCrudGeneratorBundle::macros/th_sortable.html.twig" as macros %}'}}
    {% for field, metadata in fields %}
                        <th>{{"{{macros.th_sortable('" ~field~"',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , '" ~ route_name_prefix ~ "')}}"}}</th>
    {% endfor %}
{% else %}
    {% for field, metadata in fields %}
                        <th>{{ field|capitalize }}</th>
    {% endfor %}
{% endif %}

                       
                        <th width = "130px">List</th>
                    </tr>
                </thead>
                <tbody>
                    {{ '{% for ' ~ entity_singularized ~ ' in ' ~ entity_pluralized ~ ' %}' }}
                    <tr>
{% if without_bulk_action == false %}
                        <td><input type="checkbox" name="ids[]" onclick='bulkSubmitBtnManage();' class="check-all" value="{{ "{{" ~entity_singularized ~ "."~ identifier~"}}" }}"/></td>
{% endif %}
{% for field, metadata in fields %}
{% if loop.first and ('edit' in actions) %}
                        <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}">{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>
{% elseif metadata.type in ['datetime', 'datetimetz'] %}
                        <td>{{ '{%- if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>
{% elseif metadata.type in ['date'] %}
                        <td>{{ '{%- if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d\') }}{% endif %}' }}</td>
{% elseif metadata.type in ['time'] %}
                        <td>{{ '{%- if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'H:i:s\') }}{% endif %}' }}</td>
{% elseif metadata.type in ['array'] %}
                        <td>{{ '{%- if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|join(\', \') }}{% endif %}' }}</td>
{% elseif metadata.type in ['boolean'] %}
                        <td>{{ '{%- if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}Yes{% else %}No{% endif %}' }}</td>
{% else %}
                        <td>{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>
{% endif %}
{% if loop.last %}
    
                        <td class="actions">
                           {%- include "crud/views/others/actions.html.twig.twig" %}
                        </td>

{% endif %}
{% endfor %}

                    </tr>
                    {{ '{% endfor %}' }}
                </tbody>
            </table>
{% if without_bulk_action == false %}
        </form>
{% endif %}


        </div>
</div> <!-- /#list -->




<div class="row">
    <div class="col-md-4 pull-left">
{% if without_bulk_action == false %}
            <div class="pagination form-inline ">
                <select class = "form-control" name="bulk_action" >
                    <option value="delete">DELETE</option>
                </select>
                <input type="submit" id='bulkSubmitBtn' onclick="return confirm('Are you sure?')" form="bulk_form" class="form-control btn btn-danger btn-sm" disabled>
            </div>
{% endif %}
    </div>
    
    <div class='col-md-3 pagination text-center'>
         <p>{{'{{totalOfRecordsString}}'}}</p>
    </div>
 
    <div class="col-md-5 text-right">
        {{' {{ pagerHtml|raw }} '}}
    </div>
</div> <!-- /#bottom -->
</div> <!-- /#bottom -->



{{ "{% endblock %}" }}

