{{ "{% extends '"~  base_template  ~ "' %}" }}

{{ "{% block title %}" }}
{{ "{{ parent() }}" }} - New {{ entity_singularized }}
{{ "{% endblock %}" }}

{{ "{% block main %}" }}
  <div class="container">

<div id="top" class="row">
    <div class="page-header">
        <h2>New {{ entity_singularized }} <span class="glyphicon glyphicon-file" aria-hidden="true"></span> </h2>
    </div>
</div>
    
    
    
<div class="row">
    {% include 'crud/views/others/flash_messages.html.twig.twig' %}

    {{ "{{ form_start(form) }}" }}
    {{ "{{ form_widget(form) }}" }}
    <p>
        <button type="submit" name="submit" value="save" class="btn btn-primary"> 
            Save <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
        </button>
        <button type="submit" name="submit" value="saveAndAdd" class="btn btn-info"> 
            Save and Add <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </p>


    {{ "{{ form_end(form) }}" }}

    <hr/>
{% set hide_edit, hide_delete, hide_new = true, true, true %}
{% include 'crud/views/others/record_actions.html.twig.twig' %}
</div>
</div>


{{ "{% endblock %}" }}

