{{ "{% extends '"~  base_template  ~ "' %}" }}

{{ "{% block title %}" }}
{{ "{{ parent() }}" }} - {{ entity_singularized }}
{{ "{% endblock %}" }}

{{ "{% block main %}" }}
  <div class="container">
<div id="top" class="row">
    <div class="page-header">
        <h2>View {{ entity_singularized }} <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </h2>
    </div>
</div>

<div class="row">

    {%- for field, metadata in fields %}

    <div class="col-md-6">
        <p><strong>{{ field|capitalize }}</strong></p>
        <p>
{%if metadata.type in ['datetime','datetimetz'] %}
            {{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}
{%elseif metadata.type in ['date'] %}
            {{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d\') }}{% endif %}' }}
{%elseif metadata.type in ['time'] %}
            {{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'H:i:s\') }}{% endif %}' }}
{%elseif metadata.type in ['array'] %}
            {{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|join(\', \') }}{% endif %}' }}
{%elseif metadata.type in ['boolean'] %}
            {{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}Yes{% else %}No{% endif %}' }}
{%else %}
            {{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}
{% endif %}
        </p>

    </div>
    {%- endfor %}
</div>

<hr/>

{% set hide_edit, hide_delete, hide_new= false, false, false %}
{% include 'crud/views/others/record_actions.html.twig.twig' %}
</div>
{{ "{% endblock %}" }}

