{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} - New companyType
{% endblock %}

{% block main %}
  <div class="container">

<div id="top" class="row">
    <div class="page-header">
        <h2>New companyType <span class="glyphicon glyphicon-file" aria-hidden="true"></span> </h2>
    </div>
</div>
    
    
    
<div class="row">
    <div class="row">
    <div class="col-md-12">
        {% for type, flashMessages in app.session.flashbag.all() %} 
        {% for flashMessage in flashMessages %}
        <div class="alert alert-{{ type }}">
            {{ flashMessage|raw }}
        </div>
         {% endfor %} 
         {% endfor %} 
    </div>
</div>
    

    {{ form_start(form) }}
    
            <div class="form-group" >
                {{ form_label(form.name, 'Type') }}
                {{ form_errors(form.name) }}
               
                    {{ form_widget(form.name) }}
                </div>
         
                <div class="form-group">
                {{ form_label(form.shortDesc, 'Desc. Courte') }}
                {{ form_errors(form.shortDesc) }}
                
                    {{ form_widget(form.shortDesc) }}
                </div>
                <div class="form-group">
                {{ form_label(form.longDesc, 'Desc. Longue') }}
                {{ form_errors(form.longDesc) }}
               
                    {{ form_widget(form.longDesc) }}
                </div>
                 <div class="form-group" >
                {{ form_row(form.enable,{'label': 'Actif'}) }}
                {{ form_errors(form.enable) }}
              
                    {{ form_widget(form.enable) }}
                </div>
                <div class="form-group" >
                {{ form_row(form.isDefault, {'label': 'Service par défaut'}) }}
                {{ form_errors(form.isDefault) }}
               
                    {{ form_widget(form.isDefault) }}
                </div>
                </div>

    
    <p>
        <button type="submit" name="submit" value="save" class="btn btn-primary"> 
            Save <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
        </button>
        <button type="submit" name="submit" value="saveAndAdd" class="btn btn-info"> 
            Save and Add <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </p>


    {{ form_row(form._token) }} 

    <hr/>

<div class="form-group">
    <a class="btn btn-default" href="{{ path('companytype') }}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Back to list
    </a>
</div>

</div>
</div>


{% endblock %}

