{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} - companyType
{% endblock %}

{% block main %}
  <div class="container">
<div id="top" class="row">
    <div class="page-header">
        <h2>View companyType <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p><strong>Id</strong></p>
        <p>
            {{ companyType.id }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Type</strong></p>
        <p>
            {{ companyType.name }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Desc. Courte</strong></p>
        <p>
            {{ companyType.shortDesc }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Desc. Longue</strong></p>
        <p>
            {{ companyType.longDesc }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Actif</strong></p>
        <p>
            {% if companyType.enable %}Yes{% else %}No{% endif %}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Isdefault</strong></p>
        <p>
            {% if companyType.isDefault %}Yes{% else %}No{% endif %}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Créé le</strong></p>
        <p>
            {% if companyType.createdAt %}{{ companyType.createdAt|date('Y-m-d H:i:s') }}{% endif %}
        </p>

    </div>
         <div class="col-md-6">
        <p><strong>Créé par</strong></p>
        <p>
            {{companyType.createdBy }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Mise à jour le</strong></p>
        <p>
            {% if companyType.updatedAt %}{{ companyType.updatedAt|date('Y-m-d H:i:s') }}{% endif %}
        </p>

    </div>
  <div class="col-md-6">
        <p><strong>Mise à jour par</strong></p>
        <p>
              {{companyType.UpdatedBy }}       
        </p>

    </div>
  <div class="col-md-6">
        
    </div>
</div>

<hr/>


<div class="form-group">
    <a class="btn btn-default" href="{{ path('companytype') }}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Back to list
    </a>
    <a class="btn btn-primary" href="{{ path('companytype_edit', { 'id':  companyType.id }) }}">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        Edit
    </a>
    <a class="btn btn-info" href="{{ path('companytype_new') }}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        New
    </a>
    <form action="{{ path('companytype_delete', { 'id': companyType.id }) }}" method="post" style="display: inline-block">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Delete
        </button>
    </form>
</div>

</div>
{% endblock %}

