<nav class="fixed-top navbar" id="header">
    <div>
        <div {#v-intro="'Le reste des inormations liées à votre entreprise est disponible en un Clic '"#}
                class="navTrigger pull-left" id="menu-toggle">

            <a id="menu" href="#"> <i></i><i></i><i></i></a>
        </div>
        <div id="test" class="company-select pull-left" style="min-width: 200px;"
             {#v-intro="'Votre accès est multi-comptes clients. Dis autrement, si vous avez plusieurs sociétés ou comptes chez MAZARS via votre accès vous retrouverez dans cette zone la liste des sociétés ou comptes auxquels vous avez accès avec votre email.'"#}
             {#v-intro-highlight-class="'blue-bg'"#}>
            <a href="#" id="slc">
                <basic-select :options="userCompanies" :selected-option="selectedCompany" id="selectedCompany"
                              placeholder="Company" @select="selectCompany" class="form-control personalized-select"
                              v-if="userCompanies" v-model="selectedCompany" v-cloak>
                </basic-select>
            </a>
            <span class="mazar-icon-puce"></span>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="logo-header"
        {# v-intro="'Le logo EAZY vous accompagne tout au long de votre navigation et vous permet à tout moment de revenir sur votre page d’accueil et vos services'"#}>
        <a class="navbar-brand" href="{{ path('frontend_homepage') }}">
            <img src="{{ asset('vue/v-frontend/compiled/static/mazars-logo.png') }}" class="im">
        </a>
    </div>
    <div class="right-menu">
        <ul class="header-right-icons" {#v-intro="'Votre zone Utilisateur est personnelle et vous permet d’accèder'"#}
            {#v-intro-highlight-class="'blue-bg'"#}>
            <li>
                <a href="#" id="help"><span
                            {#v-intro="'Notre zone Préférences Utilisateurs recouvre notamment la sécurisation de votre accès.'"#}
                            {#v-intro-step=" 10 "#} id="show-modalHelp" @click="showModalHelp()"
                            class="mazar-icon-aide"></span></a>
            </li>
            <li class="notification-icon">
                <a href="#" id="show-modalNotification">  <span class="mazar-icon-evenements"
                                                                id="show-modalNotification"
                                                                @click="showModalNotifications()"
                                                                v-bind:class="{ badge1: isUnseenNotifications }"
                                                                {#v-intro="'Notre centre de notification, nous permet de vous alerter sur nos évolutions produits ou encore nos invitations à nos évènements de proximité. '"#}
                                                                {#v-intro-step=" 11 "#}
                                                                :data-badge="numberNotifications"></span></a>
            </li>
            <li>
                <a href="#" id="modaluser">
                    <img data-url="{{ asset('/vue/v-frontend/compiled/static/compte-user.svg') }}" :src="user.thumbnail" class="rounded fluid-img header-user-img" @click="showModalUser()" id="show-modalUser" />
                </a>
            </li>
        </ul>
    </div>
</nav>
