{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} -  Edit service
{% endblock %}

{% block main %}
  <div class="container">

<div id="top" class="row">
    <div class="page-header">
        <h2>Edit service <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></h2>
    </div>
</div>



<div class="row">
    <div class="row">
    <div class="col-md-12">
        {% for type, flashMessages in app.session.flashbag.all() %} 
        {% for flashMessage in flashMessages %}
        <div class="alert alert-{{ type }}">
            {{ flashMessage|raw }}
        </div>
         {% endfor %} 
         {% endfor %} 
    </div>
</div>
    

    {{ form_start(edit_form) }}

    <div class="form-group">
                {{ form_label(edit_form.name, 'Service') }}
                {{ form_errors(edit_form.name) }}
               
                    {{ form_widget(edit_form.name) }}
                </div>
                <div class="form-group">
                {{ form_label(edit_form.shortDesc, 'Desc. Courte') }}
                {{ form_errors(edit_form.shortDesc) }}
                
                    {{ form_widget(edit_form.shortDesc) }}
                </div>
                <div class="form-group">
                {{ form_label(edit_form.longDesc, 'Desc. Longue') }}
                {{ form_errors(edit_form.longDesc) }}
              
                    {{ form_widget(edit_form.longDesc) }}
                </div>
                <div class="form-group">
                {{ form_label(edit_form.thumbnail, 'Logo') }}
                {{ form_errors(edit_form.thumbnail) }}
                
                    
                    {{ form_widget(edit_form.thumbnail) }}
                </div>
                <div class="form-group">
                {{ form_label(edit_form.helpLink, 'Lien d aide') }}
                {{ form_errors(edit_form.helpLink) }}
               
                    {{ form_widget(edit_form.helpLink) }}
                </div>
                
                <div class="form-group" id="actif">
                {{ form_row(edit_form.enable,{'label': 'Actif'}) }}
                {{ form_errors(edit_form.enable) }}
                
                    {{ form_widget(edit_form.enable) }}
                </div>
                <div class="form-group">
                {{ form_row(edit_form.isDefault, {'label': 'Service par défaut'}) }}
                {{ form_errors(edit_form.isDefault) }}
                
                    {{ form_widget(edit_form.isDefault) }}
                </div>
               {# <div class="form-group"id="act">
                {{ form_row(edit_form.eventEnable,{'label': 'Gestion d évènements'})}}
                {{ form_errors(edit_form.eventEnable) }}
               
                    {{ form_widget(edit_form.eventEnable) }}
                </div>
                <div class="form-group">
                {{ form_row(edit_form.roleType, {'label': 'Role type'}) }}
                {{ form_errors(edit_form.roleType) }}
              
                    {{ form_widget(edit_form.roleType) }}
                </div>#}
                 <div class="form-group">
                {{ form_label(edit_form.position, 'Position') }}
                {{ form_errors(edit_form.position) }}
               
                    {{ form_widget(edit_form.position) }}
                </div>
               {#  <div class="form-group">
                {{ form_label(edit_form.connectionType, 'Type de connexion') }}
                {{ form_errors(edit_form.connectionType) }}
               
                    {{ form_widget(edit_form.connectionType) }}
                </div>
                 <div class="form-group">
                {{ form_label(edit_form.connectionIdentifier, 'Identifiant de connexion') }}
                {{ form_errors(edit_form.connectionIdentifier) }}
                
                    {{ form_widget(edit_form.connectionIdentifier) }}
                </div>
                 <div class="form-group">
                {{ form_label(edit_form.connectionTarget, 'Cible URL de la Connexion') }}
                {{ form_errors(edit_form.connectionTarget) }}
                
                    {{ form_widget(edit_form.connectionTarget) }}
                </div>
                 
                 <div class="form-group">
                {{ form_label(edit_form.eventManager, 'Gestionnaire des évènements') }}
                {{ form_errors(edit_form.eventManager) }}
              
                    {{ form_widget(edit_form.eventManager) }}
                </div>
                 <div class="form-group">
                {{ form_label(edit_form.externalId, 'Identifiant Externe') }}
                {{ form_errors(edit_form.externalId) }}
                
                    {{ form_widget(edit_form.externalId) }}
                </div>#}</div>
                
    <p style="margin-top: 55px;">
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Update
        </button>
    </p>
    {{ form_row(edit_form._token) }}
    {{ form_end(edit_form, {'render_rest': false}) }}

    <hr/>

    
<div class="form-group">
    <a class="btn btn-default" href="{{ path('service') }}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Back to list
    </a>
    <a class="btn btn-info" href="{{ path('service_new') }}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        New
    </a>
    <form action="{{ path('service_delete', { 'id': service.id }) }}" method="post" style="display: inline-block">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Delete
        </button>
    </form>
</div>

</div>
</div>


{% endblock %}

