{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} - New service
{% endblock %}

{% block main %}
  <div class="container">

<div id="top" class="row">
    <div class="page-header">
        <h2>New service <span class="glyphicon glyphicon-file" aria-hidden="true"></span> </h2>
    </div>
</div>
    
    
    
<div class="row">
    <div class="row">
    <div class="col-md-12">
        {% for type, flashMessages in app.session.flashbag.all() %} 
        {% for flashMessage in flashMessages %}
        <div class="alert alert-{{ type }}">
            {{ flashMessage|raw }}
        </div>
         {% endfor %} 
         {% endfor %} 
    </div>
</div>
    

    {{ form_start(form) }}
    <div class="form-group">
                {{ form_label(form.name, 'Service') }}
                {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
                <div class="form-group">
                {{ form_label(form.shortDesc, 'Desc. Courte') }}
                {{ form_errors(form.shortDesc) }}
                
                    {{ form_widget(form.shortDesc) }}
                </div>
                <div class="form-group">
                {{ form_label(form.longDesc, 'Desc. Longue') }}
                {{ form_errors(form.longDesc) }}
                
                    {{ form_widget(form.longDesc) }}
                </div>
               
                <div class="form-group">
                {{ form_label(form.thumbnail, 'Logo') }}
                {{ form_errors(form.thumbnail) }}
               
                    {{ form_widget(form.thumbnail) }}
                </div>
                <div class="form-group">
                {{ form_label(form.helpLink, 'Lien d aide') }}
                {{ form_errors(form.helpLink) }}
               
                    {{ form_widget(form.helpLink) }}
                </div>
                
                <div class="form-group" >
                {{ form_row(form.enable,{'label': 'Actif'}) }}
                {{ form_errors(form.enable) }}
                
                    {{ form_widget(form.enable) }}</div>
                
                <div class="form-group" id="form">
                {{ form_row(form.isDefault, {'label': 'Service par défaut'}) }}
                {{ form_errors(form.isDefault) }}
                
                    {{ form_widget(form.isDefault) }}
                </div>
               {# <div class="form-group"id="act">
                {{ form_row(form.eventEnable,{'label':'Gestion d évènements'}) }}
                {{ form_errors(form.eventEnable) }}
               
                    {{ form_widget(form.eventEnable)}}
                </div>#}
                
             {#   <div class="form-group">
                {{ form_row(form.roleType, {'label': 'Type de droit d acces'}) }}
                {{ form_errors(form.roleType) }}
              
                    {{ form_widget(form.roleType) }}
                </div>#}
                
                 <div class="form-group">
                {{ form_label(form.position, 'Position') }}
                {{ form_errors(form.position) }}

                    {{ form_widget(form.position) }}
                </div>
                {# <div class="form-group">
                {{ form_label(form.connectionType, 'Type de connexion') }}
                {{ form_errors(form.connectionType) }}
                
                    {{ form_widget(form.connectionType) }}
                </div>
                 <div class="form-group">
                {{ form_label(form.connectionIdentifier, 'Identifiant de connexion') }}
                {{ form_errors(form.connectionIdentifier) }}
                
                    {{ form_widget(form.connectionIdentifier) }}
                </div>
                 <div class="form-group">
                {{ form_label(form.connectionTarget, 'Cible URL de la Connexion') }}
                {{ form_errors(form.connectionTarget) }}
                
                    {{ form_widget(form.connectionTarget) }}
                </div>
                 
                 <div class="form-group">
                {{ form_label(form.eventManager, 'Gestionnaire des évènements') }}
                {{ form_errors(form.eventManager) }}
                
                    {{ form_widget(form.eventManager) }}
                </div>
                 <div class="form-group">
                {{ form_label(form.externalId, 'Identifiant Externe') }}
                {{ form_errors(form.externalId) }}
                
                    {{ form_widget(form.externalId) }}
                </div>#}
                
    <p class="bt">
        <button type="submit" name="submit" value="save" class="btn btn-primary"> 
            Save <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
        </button>
        <button type="submit" name="submit" value="saveAndAdd" class="btn btn-info"> 
            Save and Add <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </p>

{{ form_row(form._token) }} 
    {#{{ form_end(form, {'render_rest': false}) }}#}


    <hr/>

<div id="b"    class="form-group">
    <a class="btn btn-default" href="{{ path('service') }}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Back to list
    </a>
</div>

</div>
</div>


{% endblock %}

