{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} - service
{% endblock %}

{% block main %}
  <div class="container">
<div id="top" class="row">
    <div class="page-header">
        <h2>View service <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </h2>
    </div>
</div>

<div class="row">
   
    <div class="col-md-6">
        <p><strong>Service</strong></p>
        <p>
            {{ service.name }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Desc. Courte</strong></p>
        <p>
            {{ service.shortDesc }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Desc. Longue</strong></p>
        <p>
            {{ service.longDesc }}
        </p>

    </div>
         <div class="col-md-6">
        <p><strong>Logo</strong></p>
        <p>
        {% if service.thumbnail %}   <img src={{ asset('/uploads/'~service.thumbnail.link) }} class="img-responsive">  {% endif %} 
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Lien d'aide</strong></p>
        <p>
            {{ service.helpLink }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Actif</strong></p>
        <p>
            {% if service.enable %}Yes{% else %}No{% endif %}
        </p>

    </div>
    
         <div class="col-md-6">
        <p><strong>Type de droit d'acces</strong></p>
        <p>
                           {% if service.roleType==true %}Single{% else %}Mulitple{% endif %}


        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Service par défaut</strong></p>
        <p>
            {% if service.isDefault==true %}yes{% else %}No{% endif %}
                {#{{ service.isDefault}}#}


        </p>

    </div>
        

    <div class="col-md-6">
        <p><strong>Position</strong></p>
        <p>
            {{ service.position }}
        </p>

    </div>
        <div class="col-md-6">
        <p><strong>Type de connexion</strong></p>
        <p>
            {{ service.connectionType }}
        </p>
    </div>
        
        <div class="col-md-6">
        <p><strong>Identifiant de connexion</strong></p>
        <p>
            {{ service.connectionIdentifier }}
        </p>
    </div> 
        <div class="col-md-6">
        <p><strong>Cible URL de la Connexion</strong></p>
        <p>
            {{ service.connectionTarget }}
        </p>
    </div>
        <div class="col-md-6">
        <p><strong>Identifiant Externe</strong></p>
        <p>
            {{ service.externalId }}
        </p>
    </div>
        <div class="col-md-6">
        <p><strong>Gestion d'évènements</strong></p>
        <p>
            {{ service.eventManager }}
        </p>
    </div>
        <div class="col-md-6">
        <p><strong>Gestion d évènements</strong></p>
        <p>
             {% if service.eventEnable==true %}yes{% else %}No{% endif %}
            
        </p>
    </div>
    <div class="col-md-6">
        <p><strong>Créé le</strong></p>
        <p>
            {% if service.createdAt %}{{ service.createdAt|date('Y-m-d H:i:s') }}{% endif %}
        </p>

    </div>
        <div class="col-md-6">
        <p><strong>Créé par</strong></p>
        <p>
            {{service.createdBy }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Mise à jour le</strong></p>
        <p>
            {% if service.updatedAt %}{{ service.updatedAt|date('Y-m-d H:i:s') }}{% endif %}
        </p>

    </div>
   <div class="col-md-6">
        <p><strong>Mise à jour par</strong></p>
        <p>
              {{service.UpdatedBy }}       
        </p>
    </div>
    <div class="col-md-6">
        <p><strong>Connection Target Attribute</strong></p>
        <p>
             {% if service.connectionTargetAttribute %} {{service.connectionTargetAttribute }}  {% endif %}
        </p>
    </div>
  </div>
        

<hr/>
</div>

<div class="form-group">
    <a class="btn btn-default" href="{{ path('service') }}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Back to list
    </a>
    <a class="btn btn-primary" href="{{ path('service_edit', { 'id':  service.id }) }}">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        Edit
    </a>
    <a class="btn btn-info" href="{{ path('service_new') }}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        New
    </a>
    <form action="{{ path('service_delete', { 'id': service.id }) }}" method="post" style="display: inline-block">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Delete
        </button>
    </form>
</div>


{% endblock %}

