{% extends 'baseFront.html.twig' %}

{% block main %}
    <div id="page-content-wrapper">
        <div class="container-fluid company-container">
            <div class="row">
                <div id="h2" class="page-header col-md-12">
                    <h2 v-lang.company_settings></h2>
                </div>
                <div class="col-md-9" v-cloak>
                    <div class="company-info" id="list">
                        <div class="row">
                            <div class="col-sm-4">
                                <span class="company-title" v-lang.company_name></span>
                            </div>
                            <div class="col-sm-8">
                                <span class="company-content" id="companyname">{[{ company.name }]}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <span class="company-title" v-lang.company_type></span>
                            </div>
                            <div class="col-sm-8" v-if="company.type">
                                <span class="company-content" id="companytype">{[{ company.type}]}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <span class="company-title" v-lang.company_address> </span></div>
                            <div class="col-sm-8">
                                <span class="company-content" id="companyadress">{[{ company.adress }]}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <span class="company-title" v-lang.post_code> </span></div>
                            <div class="col-sm-8">
                                <span class="company-content" id="post_code">{[{ company.postCode }]}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <span class="company-title" v-lang.city> </span></div>
                            <div class="col-sm-8">
                                <span class="company-content" id="city">{[{ company.city }]}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <span class="company-title" v-lang.business_identifier_extended> </span></div>
                            <div class="col-sm-8">
                                <span class="company-content" id="business_identifier_extended">{[{ company.businessIdentifierExtended }]}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <span class="company-title" v-lang.company_vatidentifier></span>
                            </div>
                            <div class="col-sm-8">
                                <span class="company-content" id="companysiren">{[{company.vatIdentifier}]}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <span class="company-title" v-lang.company_sharecapital></span>
                            </div>
                            <div class="col-sm-8">
                                <span class="company-content" id="companycapital">{[{company.shareCapital}]}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <span class="company-title" v-lang.phone></span>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="company-input form-control" v-model="company.phone" v-if="company.id">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <span class="company-title" v-lang.fax></span>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="company-input form-control" v-model="company.fax" v-if="company.id">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <span class="company-title" v-lang.email></span>
                            </div>
                            <div class="col-sm-8" v-cloak>
                                <input type="text" class="company-input form-control" v-model="company.email" v-if="company.id">
                            </div>
                        </div>
                        <div class="user-edit-btn-bloc">
                            <a class="btn" href="{{ path('frontend_homepage') }}"><span v-lang.cancel></span></a>
                            <button type="submit" id="formSubmit" class="btn btn-primary" @click="updateCompany()">
                                <span v-lang.validate></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Start of eazybymazars Zendesk Widget script -->
    <script id="ze-snippet"
            src="https://static.zdassets.com/ekr/snippet.js?key=d7750bdf-2af3-4555-b316-ae1675c38994"></script>
    <!-- End of eazybymazars Zendesk Widget script -->
{% endblock %}
