<template>
  <div>
    <vue-tel-input v-model="phone.number" class="form-control flag-container" ref="table"
                   @onInput="onInput">
    </vue-tel-input>
  </div>
</template>

<script>
  export default {
    name: 'tel',
    data() {
      return {
        phone: {
          number: '',
          country: undefined,
        },
      };
    },
    methods: {
      onInput() {
        this.phone.country = this.$refs.table._data.activeCountry.dialCode;
        this.phone.number = this.$refs.table._data.phone;
      },
    },
  };
</script>
