{% extends 'base.html.twig' %}

{% block main %}
    <style>
        .modal.bd-example-modal-lg.fade.in, .modal.bd-example-modal-lg.fade {
            background: none;
        }
    </style>
    <span id='userEdit' v-cloak>
        <div class="container" data-id="{{ app.request.get('id') }}" id="some-link">
            <div class="row">
                <br>
                <form v-on:submit.prevent="setUser({{ app.request.get('id') }})">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Données de l'utilisateur :</legend>
                        <div class="col-12 col-md-6 pull-md-3">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="form">Email</label>
                                    <input type="email" class="form-control" id="emailInput" v-model="user.email"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label for="lastNameInput" class="form">Prénom</label>
                                    <input type="text" class="form-control" id="lastNameInput" v-model="user.last_name"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label for="firstNameInput" class="form">Nom</label>
                                    <input type="text" class="form-control" id="firstNameInput"
                                           v-model="user.first_name"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label for="phoneInput" class="form">Phone</label>
                                    <input type="text" pattern="\d*" class="form-control" id="phoneInput" v-model="user.phone"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label for="mobileInput" class="form">Portable</label>
                                    <input type="text" pattern="\d*" class="form-control" id="mobileInput" v-model="user.mobile"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label for="mobileCountryInput">Code pays</label>
                                    <input type="text" pattern="\d*" class="form-control" id="mobileCountryInput"
                                           v-model="user.mobile_country"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label for="mobileInput" class="form">Titre</label>
                                    <input type="text" class="form-control" id="TitleInput" v-model="user.title"
                                           required>
                                </div>
                        </div>
                        <div class="col-12 col-md-1 pull-md-3"></div>
                        <div class="col-12 col-md-5 push-md-3">
                            <br>
                            <div class="allform">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="access">Accés de l'utilisateur  </label>
                                     <label class="switch" id="switch">
                                          <input type="checkbox" v-model="user.enabled">
                                          <span class="slider round"></span>
                                        </label>
                            </div>


                            <br>
                            <br>
                            <br>

                            <div class="form-group">
                                <label for="passwordBtn" class="pass">Mot de passe </label>
                                <button class="btn btn-primary" id="passwordBtn" data-toggle="modal"
                                        data-target='#formPassword'>Réinitialiser</button>

                                {#<button tye="button" class="btn btn-primary h3 pull-right"  style="margin-bottom:10px">#}
                                {#<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New#}
                                {#</button>#}

                                {#<div class="form-group">#}
                                {#<label for="motpasse">Code pays</label>#}
                                {#<input type="text" class="form-control" id="motpasse" v-model="user.password" >#}
                                {#</div>#}

                            </div>
                                <div class="form-group">
                                <label for="exampleInputEmail1" class="auth">Authentification à 2 facteurs</label>
                                     <label class="switch" id="switch">
                                          <input type="checkbox" v-model="user.twoFactorAuthentication"
                                                 :disabled="!user.twoFactorAuthentication"
                                                 v-on:change="disabledTwoFA(user.id,false)">
                                          <span class="slider round"></span>
                                        </label>
                            </div>
                            <div class="form-group">
                                <label for="passwordBtn" class="imper">Impersonnalisation de l'utilisateur : </label>

                                {#<button class="btn btn-primary" id="Btnedit">#}
                                    <a class="btn btn-primary link"
                                       href="{{ absolute_url(path('frontend_homepage', {'_switch_user': user.email })) }}">Se connecter</a>
                                {#</button>#}
                            </div>
                        </div>
                        </div>
                    </fieldset>

                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Liste des entreprises associées à l'utilisateur :</legend>
                        <div class="col-12 col-md-12">
                             <v-select multiple class="pull-right"
                                       v-model="selectedCompany"
                                       :options="options">
                             </v-select>
                                <br>
                                <br>

                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th scope="col">Entreprise</th>
                                      <th scope="col">Accés</th>
                                      <th scope="col">Date de début</th>
                                      <th scope="col">Date de fin</th>
                                      <th scope="col">Actions</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr v-for="selected in userCompany.uctab">
                                        <th>{[{selected.label}]}</th>
                                        <th>
                                            <label class="switch" id="switch">
                                                <input type="checkbox" v-model="selected.value.enabled"
                                                       v-on:change="checkServicesAction(selected.value)">
                                                <span class="slider round"></span>
                                            </label>
                                        </th>

                                        <th><input type="date" v-model="selected.value.started_at"></th>
                                        <th><input type="date" v-model="selected.value.end_at"></th>

                                        <th>
                                            <button type="button" @click="confirmDelete(selected.value.user_company_id)"
                                                    class="btn btn-primary">l
                                                Supprimer
                                            </button>
                                        </th>
                                    </tr>
                                  </tbody>
                                </table>

                                <button type="submit" class="btn btn-primary pull-right"
                                        {#@click="setUser({{ app.request.get('id') }})"#}>
                                    Mettre à jour
                                </button>
                                <br>
                                <br>
                                <br>
                        </div>
                    </fieldset>
                </form>
                <form v-on:submit.prevent="setUserCompanyService({{ app.request.get('id') }})">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Fonctionnalités dépendantes de l'entreprise associé à l'utilisateur :</legend>
                        <div class="col-12 col-md-12">
                            <v-select class="pull-right" v-model="data"
                                      :options="SavedSelectedCompany">
                            </v-select>
                            <br>
                            <br>
                           <table class="table">
                                  <thead>
                                    <tr>
                                      <th scope="col">Logiciel</th>
                                      <th scope="col">Statut</th>
                                      <th scope="col">Acces</th>
                                      <th scope="col">Role(s)</th>
                                      <th scope="col">Ref Externe</th>
                                    </tr>
                                  </thead>
                                  <tbody v-for="service in services">
                                  <th>{[{service.serviceName}]}</th>
                                    <th>
                                        <span v-if="service.defaultStatus==='Mandatory'">{[{service.defaultStatus}]}</span>
                                        <span v-else>
                                            <label class="switch">
                                                <input type="checkbox" v-model="service.defaultStatus"
                                                       true-value="Enable"
                                                       false-value="Disable">
                                                <span class="slider round"></span>
                                            </label>
                                        </span>
                                    </th>

                                  <th>
                                      <label class="switch">
                                          <input type="checkbox" v-model="service.enabled"
                                                 v-on:change="checkServiceAction(service)">
                                          <span class="slider round"></span>
                                      </label>
                                  </th>
                                  <th style="overflow: visible !important;">
                                      <span v-show="service.roleType===null">
                                          Non applicable dans le portail
                                      </span>
                                    <span v-show="service.roleType==='single'">
                                          <v-select v-model="service.selectedRole"
                                                    :options="service.serviceRole"></v-select>
                                      </span>
                                    <span v-show="service.roleType==='multiple'">
                                          <v-select multiple v-model="service.selectedRole"
                                                    :options="service.serviceRole"></v-select>
                                      </span>

                                  </th>

                                  <th>
                                      <div v-if="seen==false" contenteditable="true" @click="show(true)">{[{service.externalId}]}</div>
                                      <input v-if="seen==true" v-model="service.externalId" type="text"
                                             @keyup.enter="show(false)"/>
                                  </th>
                                  </tbody>
                                  <tbody v-if="AppearRestOfServices==true">
                                  <th style="overflow: visible !important;">
                                    <v-select v-model="selectedRestOfService" :options="RestOfServices"></v-select>

                                  </th>
                                  <th></th>
                                  <th></th>
                                  <th></th>
                                  </tbody>
                            </table>
                            <br>
                            <br>
                        </div>
                        <div class="col-12 col-md-6 pull-md-3">
                            <label class="para">Paramétrage de notification :</label>
                            <br>
                            <br>
                            <label class="sms">EMAIL:</label>
                            <label class="switch">
                                <input type="checkbox" v-model="email">
                                <span class="slider round"></span>
                            </label>
                            <br>
                            <br>
                            <label class="sms">SMS :</label>
                            <label class="switch">
                                <input type="checkbox" v-model="sms">
                                <span class="slider round"></span>
                            </label>

                            <br>
                            <br>
                        </div>
                        <div class="col-12 col-md-6 push-md-3">
                            <br>
                            <input type="checkbox" id="owner" value="ROLE_OWNER" v-model="roles">
                            <label for="owner">Role Owner</label>
                            <br>
                            <input type="checkbox" id="contact" value="ROLE_CONTACT" v-model="roles">
                            <label for="contact">Role Contact</label>
                            <br>
                            <input type="checkbox" id="user" value="ROLE_USER" v-model="roles">
                            <label for="user">Role User</label>
                            <br>
                            <button type="submit"
                                    class="btn btn-primary pull-right"{#@click="setUserCompanyService({{ app.request.get('id') }})"#}>Mettre à jour</button>
                            <br>
                            <br>
                            <br>
                        </div>
                    </fieldset>
                </form>
                <br>
            </div>
        </div>
       <div id="formPassword" class="modal fade bd-example-modal-lg">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="space_div without_border"></div>
                <div class="modal-body" id="new">

            <div class="form-group">
                <label for="password" class="form-control-label required">Mot de passe</label>
                <input type="text" v-model="first_password" id="first_password" name="first_password"
                       required="required" class="form-control">
            </div>
            <div class="form-group">
                <label for="password" class="form-control-label required">Confirmer mot de passe</label>
                <input type="text" v-model="second_password" id="second_password" name="second_password"
                       required="required" class="form-control">
            </div>
                 <b>  {[{ password_strength }]}</b>
                    <div class="space_div btns_actions"></div>
                    <div class="modal-footer form-actions center ">
                        <button type="button" @click="changePassword()" class="btn btn-sm btn-success action">
                            Enregistrer
                        </button>
                        <button type="button" id="close_change_pwd" class="btn btn-white btn-default reset"
                                data-dismiss="modal">
                            Annuler
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </span>
    <!-- Button trigger modal -->
{% endblock main %}
{% block stylesheets %}
    <style>
        fieldset.scheduler-border {
            border: 1px groove #ddd !important;
            padding: 0 1.4em 1.4em 1.4em !important;
            margin: 0 0 1.5em 0 !important;
            -webkit-box-shadow: 0px 0px 0px 0px #000;
            box-shadow: 0px 0px 0px 0px #000;
        }

        legend.scheduler-border {
            font-size: 1.2em !important;
            font-weight: bold !important;
            text-align: left !important;
            width: auto;
            padding: 0 10px;
            border-bottom: none;
        }
    </style>
    <style>
        .v-select .dropdown-toggle .clear {
            visibility: hidden;
        }

        .v-select .dropdown-toggle .close {
            visibility: hidden;
        }
    </style>
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/toggle.css') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/4.0.5/sweetalert2.min.css"/>
{% endblock %}

{% block vueApp %}
    <script src="{{ asset('vue/v-backend/user-edit.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/4.0.5/sweetalert2.min.js"></script>
{% endblock %}