{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - user index
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h2><a href="{{ path('user_index') }}">User</a></h2>
                </div>
            </div>
            <!-- FILTERING -->
            <div class="col-md-12">
                <div id="filters" class="collapse">
                    <form class="well" action="{{ path('user_index') }}" method="get">
                        <div class="row">
                            <div class="col-md-6">{{ form_row(filterForm.company ) }}</div>
                            <div class="col-md-6">{{ form_row(filterForm.office) }}</div>
                            <div class="col-md-6">{{ form_row(filterForm.role) }}</div>
                            <div class="col-md-6">{{ form_row(filterForm.service) }}</div>
                            <div class="col-md-6">{{ form_row(filterForm.firstName) }}</div>
                            <div class="col-md-6">{{ form_row(filterForm.lastName) }}</div>
                            <div class="col-md-6">{{ form_row(filterForm.username) }}</div>
                            <div class="col-md-6">
                                {{ form_rest(filterForm) }}
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-warning" name="filter_action" value="filter">
                                        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filter
                                    </button>
                                    <button type="submit" class="btn btn-default" name="filter_action" value="reset">
                                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END FILTERING -->
            <div class="col-md-3 pull-left">
                <!-- PAGE SIZE -->
                <div class="pagination form-inline ">
                    <select class="form-control" onchange="window.location = this.value">
                        <option value='{{ path('user_index', app.request.query.all|merge({'pcg_show': '10'})) }}' {% if app.request.get('pcg_show') == 10 %} selected {% endif %}>
                            10
                        </option>
                        <option value='{{ path('user_index', app.request.query.all|merge({'pcg_show': '20'})) }}' {% if app.request.get('pcg_show') == 20 %} selected {% endif %}>
                            20
                        </option>
                        <option value='{{ path('user_index', app.request.query.all|merge({'pcg_show': '50'})) }}' {% if app.request.get('pcg_show') == 50 %} selected {% endif %}>
                            50
                        </option>
                        <option value='{{ path('user_index', app.request.query.all|merge({'pcg_show': '100'})) }}' {% if app.request.get('pcg_show') == 100 %} selected {% endif %}>
                            100
                        </option>
                        <option value='{{ path('user_index', app.request.query.all|merge({'pcg_show': '500'})) }}' {% if app.request.get('pcg_show') == 500 %} selected {% endif %}>
                            500
                        </option>
                    </select>
                </div>
                <!-- END PAGE SIZE -->
            </div>
            <div class="col-md-6">
            </div>
            <div class="col-md-3">
                <a class="btn dropdown-toggle pull-right h3" data-toggle="collapse" data-target="#filters"
                   style="background: #b70d18;color:#fff;">
                    Filter
                    <span class="caret"></span>
                </a>
            </div>
            <div class="col-md-12">
                {%- if form_errors(filterForm) %}
                    <div class="alert alert-block alert-error fade in form-errors">
                        {{ form_errors(filterForm) }}
                    </div>
                {% endif %}
            </div>
        </div> <!-- /#top -->
        <div class="row">
            <div class="col-md-12">
                {% for type, flashMessages in app.session.flashbag.all() %}
                    {% for flashMessage in flashMessages %}
                        <div class="alert alert-{{ type }}">
                            {{ flashMessage|raw }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="table-responsive col-md-12">
                <table class="table table-striped table-hover table-bordered" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        {% import ":backend/macro:th_sortable.html.twig" as macros %}
                        <th>{{ macros.th_sortable('Nom','firstName',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'user_index') }}</th>
                        <th>{{ macros.th_sortable('Prenom','lastName',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'user_index') }}</th>
                        <th>{{ macros.th_sortable('Username','username',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'user_index') }}</th>
                        {#<th>{{ macros.th_sortable('Entreprise','userCompany',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'user_index') }}</th>#}
                        {#<th>{{ macros.th_sortable('Role','roles',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'user_index') }}</th>#}
                        {#<th>{{ macros.th_sortable('Adresse IP',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'user_index') }}</th>#}
                        <th>Entreprise</th>
                        <th>Role</th>
                        <th>{{ macros.th_sortable('Derniére Connexion','lastLogin',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'user_index') }}</th>
                        <th width="130px">List</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key,user in users %}
                        <tr>
                            <td>{{ user.firstName }} </td>
                            <td>{{ user.lastName }}</td>
                            <td>{{ user.username }}</td>
                            <td>
                                {% for entity in user.userCompany %}
                                    {{ entity.company.name }}<br>
                                    {% if not loop.last %}
                                        <hr>{% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for entity in user.userCompany %}
                                    {% for type in entity.role %}
                                        {{ type }}<br>
                                    {% endfor %}
                                    {% if not loop.last %}
                                        <hr>{% endif %}
                                {% endfor %}
                            </td>
                            {#<td></td>#}
                            <td>{% if user.lastLogin==null %}Jamais connecté{% else %}{{ user.lastLogin.date }}{% endif %}</td>
                            <td class="actions" style="width:13.5%">
                                <a onclick="return confirm('Are you sure!');" title="Delete"
                                   class="btn btn-danger btn-sm"
                                   href="{{ path('user_by_id_delete', { 'id': user.id}) }}">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>
                                <a title='Show' class="btn btn-info btn-sm"
                                   href="{{ path('user_show', { 'id': user.id }) }}">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                </a>
                                <a title='Edit' class="btn btn-primary btn-sm"
                                   href="{{ path('user_edit', { 'id': user.id }) }}">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </a>
                                <a title='Compare' class="btn btn-success btn-sm"
                                   href="{{ path('simple_things_entity_audit_compare', { 'rev': user.id, 'className': 'AppBundle\\Entity\\User', 'id': user.id }) }}">
                                                                        <span class="glyphicon glyphicon glyphicon-resize-horizontal"
                                                                              aria-hidden="true"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div> <!-- /#list -->
        <div class="row">
            <div class="col-md-4 pull-left">
            </div>
            <div class='col-md-3 pagination text-center'>
                <p>{{ totalOfRecordsString }}</p>
            </div>
            <div class="col-md-5 text-right">
                {{ pagerHtml|raw }}
            </div>
        </div> <!-- /#bottom -->
    </div> <!-- /#bottom -->
{% endblock %}