{% extends 'base.html.twig' %}

{% block main %}
    <span id='backend' v-cloak>
        <div class="container">
            <form v-on:submit.prevent="addUser()">

                <div class="row">
                    <br>
                    <fieldset class="scheduler-border">
                       <legend class="scheduler-border">Données de l'utilisateur :</legend>
                        <div class="col-12 col-md-6 pull-md-3">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="email" class="form-control" id="emailInput" v-model="user.email" required>
                        </div>
                            <div class="form-group">
                                <label for="lastNameInput">Prénom</label>
                                <input type="text" class="form-control" id="firstNameInput" v-model="user.first_name"
                                       required>
                            </div>
                            <div class="form-group">
                                <label for="firstNameInput">Nom</label>
                                <input type="text" class="form-control" id="lastNameInput" v-model="user.last_name"
                                       required>
                            </div>
                            <div class="form-group">
                                <label for="phoneInput">Phone</label>
                                <input type="text" pattern="\d*" class="form-control" id="phoneInput"
                                       v-model="user.phone" required maxlength=15>
                            </div>
                            <div class="form-group">
                                <label for="mobileInput">Portable</label>
                                <input type="text" pattern="\d*" class="form-control" id="mobileInput"
                                       v-model="user.mobile" required maxlength=15>
                            </div>
                            <div class="form-group">
                                <label for="mobileCountryInput">Code pays</label>
                                <input type="text" pattern="\d*" class="form-control" id="mobileCountryInput"
                                       v-model="user.mobile_country"
                                       required maxlength=4>
                            </div>
                            <div class="form-group">
                                <label for="TitleInput">Titre</label>
                                <input type="text" class="form-control" id=TitleInput" v-model="user.title" required>
                            </div>
                    </div>

                        <div class="col-12 col-md-1 pull-md-3"></div>

                        <div class="col-12 col-md-5 push-md-3">

                        <br>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Accés de l'utilisateur  </label>
                                 <label class="switch">
                                      <input type="checkbox" v-model="user.enabled">
                                      <span class="slider round"></span>
                                    </label>
                        </div>

                        <br>
                        <br>
                        <br>

                        <div class="form-group">
                            <label for="passwordBtn">Mot de passe </label>
                            <button type="button" class="btn btn-primary" id="passwordBtn">Réinitialiser</button>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Authentification à 2 facteurs </label>
                                    <label class="switch">
                                      <input type="checkbox" v-model="user.twoFactorAuthentication">
                                      <span class="slider round"></span>
                                    </label>
                        </div>

                    </div>
                    </fieldset>

                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Liste des entreprises associées à l'utilisateur :</legend>
                        <div class="col-12 col-md-12">
                         <v-select multiple class="pull-right" v-model="selectedCompany" :options="options"></v-select>
                            <br>
                            <br>
                            <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col">Entreprise</th>
                                  <th scope="col">Accés</th>
                                  <th scope="col">Date de début</th>
                                  <th scope="col">Date de fin</th>
                                  <th scope="col">Actions</th>
                                </tr>
                              </thead>
                              <tbody>
                              <tr v-for="uc in userCompany.uctab">
                                    <th>{[{uc.companyName}]}</th>
                                    <th>
                                        <label class="switch">
                                          <input type="checkbox" v-model="uc.enabled">
                                          <span class="slider round"></span>
                                        </label>
                                    </th>

                                    <th><input type="date" v-model="uc.startedAt"></th>
                                    <th><input type="date" v-model="uc.endAt"></th>

                                    <th><button type="button" class="btn btn-primary">Supprimer</button></th>
                                </tr>
                              </tbody>
                            </table>


                        </div>
                    </fieldset>

                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Fonctionnalités dépendantes de l'entreprise associé à l'utilisateur :</legend>
                        <div class="col-12 col-md-12">
                        <v-select class="pull-right" v-model="data" :options="selectedCompany"></v-select>

                        <br>
                        <br>
                         <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col">Logiciel</th>
                                  <th scope="col">Statut</th>
                                  <th scope="col">Acces</th>
                                  <th scope="col">Role(s)</th>
                                  <th scope="col">Ref Externe</th>
                                </tr>
                              </thead>
                              <tbody v-for="service in services">
                              <th>{[{service.serviceName}]}</th>
                                <th>
                                    <span v-if="service.defaultStatus==='Mandatory'">{[{service.defaultStatus}]}</span>
                                    <span v-else>
                                        <label class="switch">
                                            <input type="checkbox" v-model="service.defaultStatus" true-value="Enable"
                                                   false-value="Disable">
                                            <span class="slider round"></span>
                                        </label>
                                    </span>
                                </th>
                              <th>
                                  <label class="switch">
                                      <input type="checkbox" v-model="service.enabled">
                                      <span class="slider round"></span>
                                  </label>
                              </th>
                              <th style="overflow: visible !important;">
                                  <span v-if="service.roleType===null">
                                      Non applicable dans le portail
                                  </span>
                                  <span v-if="service.roleType==='single'">
                                      <v-select v-model="service.selectedRole"
                                                :options="service.serviceRole"></v-select>
                                  </span>
                                  <span v-if="service.roleType==='multiple'">
                                      <v-select multiple v-model="service.selectedRole"
                                                :options="service.serviceRole"></v-select>
                                  </span>
                              </th>

                              <th>
                                  <div v-if="seen==false" contenteditable="true" @click="show(true)">{[{service.externalId}]}</div>
                                  <input v-if="seen==true" v-model="service.externalId" type="text"
                                         @keyup.enter="show(false)"/>
                              </th>
                              </tbody>
                        </table>
                        <br>
                        </div>
                        <div class="col-12 col-md-6 pull-md-3">

                            <label>Paramétrage de notification :</label>

                            <br>
                            <br>

                            <label>EMAIL :</label>
                            <label class="switch">
                            <input type="checkbox" v-model="userCompany.email">
                                <span class="slider round"></span>
                            </label>

                            <br>
                            <br>

                            <label>SMS :</label>
                            <label class="switch">
                            <input type="checkbox" v-model="userCompany.sms">
                                <span class="slider round"></span>
                            </label>

                            <br>
                            <br>

                            <input type="submit" class="btn btn-primary" {#@click="addUser()"#} value="Enregistrer"/>

                            <br>
                            <br>
                        </div>
                            <div class="col-12 col-md-6 push-md-3">

                                <br>
                            <input type="checkbox" id="owner" value="ROLE_OWNER" v-model="userCompany.roles">
                          <label for="owner">Role Owner</label>
                                <br>

                          <input type="checkbox" id="contact" value="ROLE_CONTACT" v-model="userCompany.roles">
                          <label for="contact">Role Contact</label>
                                <br>

                          <input type="checkbox" id="user" value="ROLE_USER" v-model="userCompany.roles">
                          <label for="user">Role User</label>
                                <br>
                     </div>
                    </fieldset>
                    <br>
                </div>

            </form>
        </div>
    </span>
{% endblock main %}
{% block stylesheets %}
    <style>
        fieldset.scheduler-border {
            border: 1px groove #ddd !important;
            padding: 0 1.4em 1.4em 1.4em !important;
            margin: 0 0 1.5em 0 !important;
            -webkit-box-shadow: 0px 0px 0px 0px #000;
            box-shadow: 0px 0px 0px 0px #000;
        }

        legend.scheduler-border {
            font-size: 1.2em !important;
            font-weight: bold !important;
            text-align: left !important;
            width: auto;
            padding: 0 10px;
            border-bottom: none;
        }
    </style>
    <style>
        .v-select .dropdown-toggle .clear {
            visibility: hidden;
        }

        .v-select input[type=search], .v-select input[type=search]:focus {
            width: auto !important;
        }
    </style>
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/toggle.css') }}"/>
{% endblock %}

{% block vueApp %}
    <script src="{{ asset('vue/v-backend/app.js') }}"></script>
{% endblock %}
