{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - user
{% endblock %}

{% block main %}
    <div class="container">
        <div id="top" class="row">
            <div class="page-header">
                <h2>View user <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p><strong>E-mail</strong></p>
                <p>
                    {{ user.email }}
                </p>

            </div>
            <div class="col-md-6">
                <p><strong>Nom</strong></p>
                <p>
                    {{ user.firstName }}
                </p>

            </div>
            <div class="col-md-6">
                <p><strong>Prénom</strong></p>
                <p>
                    {{ user.lastName }}
                </p>

            </div>
            <div class="col-md-6">
                <p><strong>Code pays</strong></p>
                <p>
                    {{ user.mobileCountry }}
                </p>

            </div>
            <div class="col-md-6">
                <p><strong>Mobile</strong></p>
                <p>
                    {{ user.mobile }}
                </p>

            </div>
            <div class="col-md-6">
                <p><strong>Titre</strong></p>
                <p>
                    {{ user.title }}
                </p>

            </div>
            <br>
            <br>
            {#<div class="col-md-6">#}
                {#<p><strong>Imidentifier</strong></p>#}
                {#<p>#}
                    {#{{ user.imIdentifier }}#}
                {#</p>#}

            {#</div>#}
            {#<div class="col-md-6">#}
                {#<p><strong>Locale</strong></p>#}
                {#<p>#}
                    {#{{ user.locale }}#}
                {#</p>#}

            {#</div>#}
            {#<div class="col-md-6">#}
                {#<p><strong>Createdat</strong></p>#}
                {#<p>#}
                    {#{% if user.createdAt %}{{ user.createdAt|date('Y-m-d H:i:s') }}{% endif %}#}
                {#</p>#}

            {#</div>#}
            {#<div class="col-md-6">#}
                {#<p><strong>Updatedat</strong></p>#}
                {#<p>#}
                    {#{% if user.updatedAt %}{{ user.updatedAt|date('Y-m-d H:i:s') }}{% endif %}#}
                {#</p>#}
            {#</div></div>#}
        <hr/>
        <div class="form-group">
            <a class="btn btn-default" href="{{ path('user_index') }}">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                Back to list
            </a>
        </div>

    </div>
{% endblock %}

