<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta charset="utf-8">
        <title>Authentification</title>
        <meta name="description" content="User login page">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="{{ asset('vue/v-frontend/compiled/main.css') }}"/>
        <link rel="stylesheet" href="{{ asset('vue/v-frontend/compiled/login.css') }}"/>
        <!--[if lte IE 8]>
        <script src="{{ asset('assets/js/html5shiv.min.js')}}"></script>
        <script src="{{ asset('assets/js/respond.min.js')}}"></script>
        <![endif]-->
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <style>
            .g-recaptcha {
                transform:scale(0.92);
                transform-origin:0 0;
            }
        </style>
    </head>
    <body>
    <div class="bg-container"></div>
        <div class="container main-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="login-wrapper">
                        <div class="login-logo"><a href="{{ PRESENTATION }}"><img src="{{ asset('/vue/v-frontend/compiled/static/mazars-logo.png') }}"/></a>
                        </div>
                        <div class="login-info">Veuillez insérer votre identifiant<br/> et votre mot de passe</div>
                        <form action="{{ path("fos_user_security_check") }}" method="post" class="login-form" >
                        <form action="{{ path("fos_user_security_check") }}" method="post" class="login-form">
                            {% if csrf_token %}
                                <input id="_username" type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                            {% endif %}
                            {% if error %}
                                <div class="alert alert-danger personalized-alert-danger">Erreur ! Nom d'utilisateur ou mot de passe incorrect.</div>
                            {% endif %}
                            {% for flashVar in app.session.flashbag.get('recapError') %}
                                <div class="alert alert-danger personalized-alert-danger">{{ flashVar }}</div>
                            {% endfor %}
                            <div class="input-bloc">
                                <input type="text" class="form-control light-personalized-input" id="_username" name="_username" placeholder="{% if (app.request.getLocale() == 'fr') %} Email utilisateur {% elseif (app.request.getLocale() == 'en')  %} User Email {% endif %}">
                                <span class="mazar-icon-utilisateur"></span>
                            </div>
                            <div class="input-bloc">
                                <input type="password" id="password" name="_password" id="_password" name="_password" class="form-control light-personalized-input" placeholder="Mot de passe">
                                <span class="mazar-icon-acces"></span>
                            </div>
                            {% if app.session.get('byPassRecaptcha') != "true" %}
                                <div class="g-recaptcha" data-sitekey="{{ CAPTACHA_PUBLIC_KEY }}"></div>
                            {% endif %}
                            <br>
                            <button type="submit" id="_submit" name="_submit" class=" btn btn-lg btn-primary btn-block login-btn">
                                Connexion
                            </button>
                            <div class="form-links float-right">
                                <a href="{{ path ('fos_user_resetting_request') }}" class="reset-pass-link">Mot de passe oublié</a>
                            </div>
                            <div class="clearfix"></div>
                            <div class="remember-me-bloc">
                                <input id="stay-connected" type="checkbox" />
                                <label for="stay-connected">Rester connecté</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--[if !IE]> -->
        <script src="{{ asset('assets/bower_components/jquery/dist/jquery.min.js') }}"></script>
        <!-- <![endif]-->

        <!--[if IE]>
        <script src="assets/js/jquery-1.11.3.min.js"></script>
        <![endif]-->
        <script type="text/javascript">
            if ('ontouchstart' in document.documentElement)
                document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
        </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- inline scripts related to this page -->
        <script type="text/javascript">
            jQuery(function ($) {
                $(document).on('click', '.toolbar a[data-target]', function (e) {
                    e.preventDefault();
                    var target = $(this).data('target');
                    $('.widget-box.visible').removeClass('visible');//hide others
                    $(target).addClass('visible');//show target
                });
            });


            //you don't need this, just used for changing background
            jQuery(function ($) {



                $('#btn-login-dark').on('click', function (e) {
                    $('body').attr('class', 'login-layout');
                    $('#id-text2').attr('class', 'white');
                    $('#id-company-text').attr('class', 'blue');
                    e.preventDefault();
                });


                $('#btn-login-light').on('click', function (e) {
                    $('body').attr('class', 'login-layout light-login');
                    $('#id-text2').attr('class', 'grey');
                    $('#id-company-text').attr('class', 'blue');

                    e.preventDefault();
                });

                $('#btn-login-blur').on('click', function (e) {
                    $('body').attr('class', 'login-layout blur-login');
                    $('#id-text2').attr('class', 'white');
                    $('#id-company-text').attr('class', 'light-blue');
                    e.preventDefault();
                });

            });
        </script>
        <!-- Start of Eazy by MAZARS Zendesk Widget script -->
        <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=8a004ace-95f5-4e62-a4d3-3913da76ca57"> </script>
        <!-- End of Eazy by MAZARS Zendesk Widget script -->
    </body>
</html>
