

                                                    {% trans_default_domain 'FOSUserBundle' %}
                                                    <!DOCTYPE html>
                                                    <html lang="en">
                                                    <head>
                                                        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
                                                        <meta charset="utf-8">
                                                        <title>Authentification</title>
                                                        <meta name="description" content="User login page">
                                                        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
                                                        <link rel="stylesheet" href="{{ asset('vue/v-frontend/compiled/main.css') }}"/>
                                                        <link rel="stylesheet" href="{{ asset('vue/v-frontend/compiled/login.css') }}"/>
                                                        <!--[if lte IE 8]>
                                                        <script src="{{ asset('assets/js/html5shiv.min.js')}}"></script>
                                                        <script src="{{ asset('assets/js/respond.min.js')}}"></script>
                                                        <![endif]-->
                                                    </head>
                                                    <body>
                                                    <div class="bg-container"></div>
                                                    <div class="container main-content">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="login-wrapper">
                                                                    <div class="login-logo"><img src="{{ asset('/vue/v-frontend/compiled/static/mazars-logo.png') }}"/>
                                                                    </div>
                                                                    <div class="login-info">
                                                                        <p>
                                                                            Un e-mail a été envoyé. Il contient un lien sur lequel il vous faudra cliquer pour réinitialiser votre mot de passe.  <br>
                                                                            Remarque : Vous ne pouvez demander un nouveau mot de passe que toutes les 5 minutes.  <br>
                                                                    </div>
                                                                    <div class="form-links float-right">
                                                                        <a href="{{ path ('fos_user_security_login') }}" class="reset-pass-link">Connexion</a>
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                    {#</form>#}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--[if !IE]> -->
                                                    <script src="{{ asset('assets/bower_components/jquery/dist/jquery.min.js') }}"></script>
                                                    <!-- <![endif]-->

                                                    <!--[if IE]>
                                                    <script src="assets/js/jquery-1.11.3.min.js"></script>
                                                    <![endif]-->
                                                    <script type="text/javascript">
                                                        if ('ontouchstart' in document.documentElement)
                                                            document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
                                                    </script>

                                                    <!-- inline scripts related to this page -->
                                                    <script type="text/javascript">
                                                        jQuery(function ($) {
                                                            $(document).on('click', '.toolbar a[data-target]', function (e) {
                                                                e.preventDefault();
                                                                var target = $(this).data('target');
                                                                $('.widget-box.visible').removeClass('visible');//hide others
                                                                $(target).addClass('visible');//show target
                                                            });
                                                        });


                                                        //you don't need this, just used for changing background
                                                        jQuery(function ($) {
                                                            $('#btn-login-dark').on('click', function (e) {
                                                                $('body').attr('class', 'login-layout');
                                                                $('#id-text2').attr('class', 'white');
                                                                $('#id-company-text').attr('class', 'blue');

                                                                e.preventDefault();
                                                            });
                                                            $('#btn-login-light').on('click', function (e) {
                                                                $('body').attr('class', 'login-layout light-login');
                                                                $('#id-text2').attr('class', 'grey');
                                                                $('#id-company-text').attr('class', 'blue');

                                                                e.preventDefault();
                                                            });
                                                            $('#btn-login-blur').on('click', function (e) {
                                                                $('body').attr('class', 'login-layout blur-login');
                                                                $('#id-text2').attr('class', 'white');
                                                                $('#id-company-text').attr('class', 'light-blue');

                                                                e.preventDefault();
                                                            });

                                                        });
                                                    </script>
                                                    </body>
                                                    </html>


