{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - office index
{% endblock %}

{% block main %}
    <style>
        .modal.bd-example-modal-lg.fade.in, .modal.bd-example-modal-lg.fade {
            background: none;
        }    
    </style>

</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2><a href="{{ path('office') }}">Audit</a></h2>
            </div>
        </div>       

        <!-- FILTERING -->
        {# <div class="col-md-12">
             <div  id="filters" class="collapse">
 
                 <form class="well" action="{{ path('notification') }}" method="get" >
                     <div class="row">
                         <div class="col-md-6">{{ form_row(filterForm.id) }}</div>
                         <div class="col-md-6">{{ form_row(filterForm.seen) }}</div>
                         <div class="col-md-6">{{ form_row(filterForm.notifiableEntity) }}</div>
                         <div class="col-md-6">
                             {{ form_rest(filterForm) }}
                         </div>
                         <div class="col-md-12">
                             <div class="form-group">
                                 <button type="submit" class="btn btn-warning" name="filter_action" value="filter"> <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filter</button>
                                 <button type="submit" class="btn btn-default" name="filter_action" value="reset"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Reset</button>
                             </div>
                         </div>
                     </div>
                 </form>
             </div>
         </div>#}
        <!-- END FILTERING -->


        <div class="col-md-3 pull-left">

            <!-- PAGE SIZE -->
            <div class="pagination form-inline ">
                {# <select class = "form-control"  onchange="window.location = this.value" >
                     <option value='{{ path('office', app.request.query.all|merge({'pcg_show': '10'})) }}' {% if app.request.get('pcg_show') == 10 %} selected {% endif %}>10</option>
                     <option value='{{ path('office', app.request.query.all|merge({'pcg_show': '20'})) }}' {% if app.request.get('pcg_show') == 20 %} selected {% endif %}>20</option>
                     <option value='{{ path('office', app.request.query.all|merge({'pcg_show': '50'})) }}' {% if app.request.get('pcg_show') == 50 %} selected {% endif %}>50</option>
                     <option value='{{ path('office', app.request.query.all|merge({'pcg_show': '100'})) }}' {% if app.request.get('pcg_show') == 100 %} selected {% endif %}>100</option>
                     <option value='{{ path('office', app.request.query.all|merge({'pcg_show': '500'})) }}' {% if app.request.get('pcg_show') == 500 %} selected {% endif %}>500</option>
                 </select>#}
            </div>
            <!-- END PAGE SIZE -->

        </div>

        <div class="col-md-6">


        </div>

        <div class="col-md-3">
            <a class="btn dropdown-toggle pull-right h3" data-toggle="collapse" data-target="#filters">
                Filter
                <span class="caret"></span>
            </a>
        </div>
        <div class="col-md-12">
            {#     {%- if form_errors(filterForm) %}
                 <div class="alert alert-block alert-error fade in form-errors">
                     {{ form_errors(filterForm) }}
                 </div>
                 {% endif %}#}
        </div>

    </div> <!-- /#top -->


    <div class="row">
        <div class="col-md-12">
            {#   {% for type, flashMessages in app.session.flashbag.all() %} 
                   {% for flashMessage in flashMessages %}
                       <div class="alert alert-{{ type }}">
                           {{ flashMessage|raw }}
                       </div>
                   {% endfor %} 
               {% endfor %}#} 
        </div>
    </div>
    <div class="row">
        <div class="table-responsive col-md-12">
            <form method="POST" id="bulk_form" action="{{ path('notification_bulk_action') }} ">
                <table class="table table-striped table-hover table-bordered" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th width="20px"><input type="checkbox" class="check-all" onclick="toggleAll(this)" style="margin-top: -24px;margin-left: -7px; margin-bottom: 6px;"></th>
                                {% import "PetkoparaCrudGeneratorBundle::macros/th_sortable.html.twig" as macros %}
                            <th>{{macros.th_sortable('Id',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'notification')}}</th>
                            <th>{{macros.th_sortable('User',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'notification')}}</th>
                            <th>{{macros.th_sortable('Date',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'notification')}}</th>
                            <th>{{macros.th_sortable('Entity',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'notification')}}</th>
                            <th>{{macros.th_sortable('entity Id',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'notification')}}</th>
                            <th>{{macros.th_sortable('Action Type',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'notification')}}</th>
                            <th width = "155px">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key,x in audits %}
                            <tr>
                                <td></td>
                                <td>{{audits[key]['id']}}</td>
                                <td>{{audits[key]['username']}}</td>
                                <td>{{ (audits[key]['timestamp'].date|date('d/m/Y'))   }}</td>
                                <td>{{audits[key]['className']}}</td>
                                <td>{{audits[key]['entity'].id}}</td>
                                <td>{{audits[key]['revType']}}</td>
                                <td class="actions">
                                    {% if audits[key]['revType'] == "UPD" %}
                                        <a title='Show' class="btn btn-danger btn-sm" href="{{ path('simple_things_entity_audit_compare', { 'rev': audits[key]['id'], 'className': audits[key]['className'], 'id': audits[key]['entity'].id })}}">
                                            <span class="glyphicon glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span>
                                        </a>
                                    {% endif %}
                                    <a title='Show' class="btn btn-info btn-sm" href="{{ path('simple_things_entity_audit_viewentity_detail', { 'rev': audits[key]['id'], 'className': audits[key]['className'], 'id': audits[key]['entity'].id })}}">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    </a>     
                                </td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </form>
        </div>
    </div> <!-- /#list -->
    <div class="row">
        <div class="col-md-4 pull-left">
            <div class="pagination form-inline ">
                <select class = "form-control" name="bulk_action" >
                    <option value="delete">DELETE</option>
                </select>
                <input type="submit" id='bulkSubmitBtn' onclick="return confirm('Are you sure?')" form="bulk_form" class="form-control btn btn-danger btn-sm" disabled>
            </div>
        </div>
        <div class='col-md-3 pagination text-center'>
            {#            <p> {% if audits  %}{{audits.length}}  {% endif%}</p>#}
        </div>
        <div class="col-md-5 text-right">
            {#         {{ pagerHtml|raw }} #}
        </div>
    </div> <!-- /#bottom -->
</div> <!-- /#bottom -->

<div id="NewOfficeNotification" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
        {#   <div class="modal-content">
               {{ form_start(notificationForm, {'id': 'new_form_notification','action': path('post_notification_office'), 'method': 'POST'}) }}
               <div class="space_div without_border"></div>
               <div class="modal-body" id="new">
                   <div class="form-group">
                       {{ form_label(notificationForm.type) }}
                       {{ form_errors(notificationForm.type) }}
                       {{ form_widget(notificationForm.type) }}
                   </div>
                   <div class="form-group" id="new_form_notification_office">
                       {{ form_label(notificationForm.office,"Bureau") }}
                       {{ form_errors(notificationForm.office) }}
                       {{ form_widget(notificationForm.office) }}
                   </div>
                   <div class="form-group" id="new_form_notification_user">
                       {{ form_label(notificationForm.user, "Utilisateur") }}
                       {{ form_errors(notificationForm.user) }}
                       {{ form_widget(notificationForm.user) }}
                   </div>
                   <div class="form-group" id="new_form_notification_owner">
                       {{ form_label(notificationForm.company,"Société") }}
                       {{ form_errors(notificationForm.company) }}
                       {{ form_widget(notificationForm.company) }}
                   </div>
                   <div class="form-group" id="new_form_notification_role">
                       {{ form_label(notificationForm.role,"Role") }}
                       {{ form_errors(notificationForm.role) }}
                       {{ form_widget(notificationForm.role) }}
                   </div>
                   <div class="form-group" id="new_form_notification_service">
                       {{ form_label(notificationForm.role,"Service") }}
                       {{ form_errors(notificationForm.service) }}
                       {{ form_widget(notificationForm.service) }}
                   </div>
                   {{ form_widget(notificationForm) }}
                   <div class="space_div btns_actions"></div>
                   <div class="modal-footer form-actions center ">
                       <button type="submit" class="btn btn-sm btn-success action">
                           Enregistrer
                       </button>
                       <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal" >
                           Annuler
                       </button>
                   </div>
               </div>
               {{ form_end(notificationForm, {'render_rest': false}) }}
           </div>#}
    </div>
</div>
{% endblock %}