<div class="col-md-6">
    <select class="form-control" v-model="selectedfilter" v-on:change="filterNotification(selectedfilter)">
        <option value=""> Tous  </option>
        <option value="Actualité" > Actualité  </option>
        <option value="Nouveauté" > Nouveauté  </option>
        <option value="Entreprise" > Entreprise  </option>
    </select>
</div>
<div class="col-md-6">   
    <button type="submit" class="pull-right btn btn-danger" v-lang.mark_seen  @click="markAllSeen()"> </button>
</div>
<hr>
<div class="notif col-md-12 col-xs-12" v-for="notifiableNotification in filteredData" >
    <div class="notif-icon col-md-1">
        <img src="{{asset('assets/images/icons/cog.svg')}}" class="icon-not-sel">
    </div>
    <div class="notif-name col-md-11 col-xs-11">
        <span v-if="notifiableNotification.seen == false"  class="pull-left"><b>{[{ notifiableNotification.notification.subject }]}</b></span>
        <span v-else class="pull-left">{[{ notifiableNotification.notification.subject }]}</span>
        <button type="submit" class="pull-right btn btn-danger" @click="markNotificationSeen(notifiableNotification.id)">X </button>
   
        <span v-if="notifiableNotification.seen == false" class="notification-dot "></span>
        <div v-bind:class="{ 'notification-date-seen' : !notifiableNotification.seen  }">{[{ notifiableNotification.notification.date.date|formatDate}]}</div>
        <div class="notif-text col-md-11 col-md-offset-0 col-xs-12">
            {[{ notifiableNotification.notification.message }]}
        </div>
    </div>    
</div>
<div class="col-md-12">   
    <button class="btn-primary notif-show-more" v-if="filteredData.length > 0 " @click="loadMoreNotification()" v-lang.load_more>Charger plus</button>
    <span v-else class=" notif-show-more" >Pas de notification </span>
</div>