{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} - notifiableNotification
{% endblock %}

{% block main %}
  <div class="container">
<div id="top" class="row">
    <div class="page-header">
        <h2>View notifiableNotification <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p><strong>Id</strong></p>
        <p>
            {{ notifiableNotification.id }}
        </p>
    </div>
    <div class="col-md-6">
        <p><strong>subject</strong></p>
        <p>
            {{ notifiableNotification.notification.subject }}
        </p>
    </div>

    <div class="col-md-6">
        <p><strong>message</strong></p>
        <p>
            {{ notifiableNotification.notification.message}}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>link</strong></p>
        <p>
            {{ notifiableNotification.notification.link }}
        </p>
    </div>
<hr/>
</div>
<div class="form-group">
    <a class="btn btn-default" href="{{ path('notifications') }}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Back to list
    </a>
    <a class="btn btn-primary" href="{{ path('notification_edit', { 'id':  notifiableNotification.id }) }}">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        Edit
    </a>
 
    <form action="{{ path('notification_delete', { 'id': notifiableNotification.id }) }}" method="post" style="display: inline-block">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Delete
        </button>
    </form>
</div>


{% endblock %}

