{#<aside id="office" class="sidebar fixed" style="width: 260px; ">
    <div class="nav-side-menu">
        <div class="menu-links menu-list">
            Mes contacts
            <ul id="menu-content" class="menu-content out">
                <li> 
                    <a href="#" id="TabRemuneration">
                        <i>
                            <img class="icon-not-sel"
                                 src="{{ asset('assets/images/icons/account-group-1-sel.svg') }}"/>
                            <img class="icon-sel"
                                 src="{{ asset('assets/images/icons/caccount-group-1-sel.svg') }}"/>
                        </i><span>Contacts</span>
                    </a>
                </li>
            
            </ul>
        </div>
    </div>
</aside>
#}