{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} -  Edit office
{% endblock %}

{% block main %}
    <div class="container">
        <div id="top" class="row">
            <div class="page-header">
                <h2>Edit office <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></h2>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    {% for type, flashMessages in app.session.flashbag.all() %}
                        {% for flashMessage in flashMessages %}
                            <div class="alert alert-{{ type }}">
                                {{ flashMessage|raw }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            {{ form_start(edit_form) }}
            <div class="form-group">
                {{ form_label(edit_form.name, 'Raison Social') }}
                {{ form_errors(edit_form.name) }}
                {{ form_widget(edit_form.name) }}
            </div>
            <div class="form-group">
                {{ form_label(edit_form.thumbnail, 'Logo') }}
                {{ form_errors(edit_form.thumbnail) }}
                {{ form_widget(edit_form.thumbnail) }}
            </div>
            <div class="form-group">
                {{ form_label(edit_form.businessIdentifier, 'SIREN') }}
                {{ form_errors(edit_form.businessIdentifier) }}
                {{ form_widget(edit_form.businessIdentifier) }}
            </div>
            <div class="form-group">
                {{ form_label(edit_form.adress, 'Adresse') }}
                {{ form_errors(edit_form.adress) }}
                {{ form_widget(edit_form.adress) }}
            </div>
            <div class="form-group" style="margin-top: 153px;">
                {{ form_row(edit_form.urlLink,{'label': 'OFFICE-UrlLInk'}) }}
                {{ form_errors(edit_form.urlLink) }}
                {{ form_widget(edit_form.urlLink) }}
            </div>
            <div class="form-group" style="margin-top: 153px;">
                {{ form_row(edit_form.enable,{'label': 'Actif'}) }}
                {{ form_errors(edit_form.enable) }}
                <div class="col-sm-12">
                    {{ form_widget(edit_form.enable) }}
                </div>
            </div>
            <p>
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Update
                </button>
            </p>
            {{ form_row(edit_form._token) }}
            {{ form_end(edit_form, {'render_rest': false}) }}
            <hr/>
            <div class="form-group">
                <a class="btn btn-default" href="{{ path('office') }}">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    Back to list
                </a>
                <a class="btn btn-info" href="{{ path('office_new') }}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    New
                </a>
                <form action="{{ path('office_delete', { 'id': office.id }) }}" method="post"
                      style="display: inline-block">
                    <input type="hidden" name="_method" value="DELETE"/>
                    {{ form_widget(delete_form) }}
                    <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}