{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - office index
{% endblock %}

{% block main %}
    <style>
        .modal.bd-example-modal-lg.fade.in, .modal.bd-example-modal-lg.fade {
            background: none;
        }    
    </style>

</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2><a href="{{ path('office') }}">Office</a></h2>
            </div>
        </div>       

        <!-- FILTERING -->
        <div class="col-md-12">
            <div  id="filters" class="collapse">

                <form class="well" action="{{ path('office') }}" method="get" >
                    <div class="row">

                        <div class="col-md-6">{{ form_row(filterForm.name,{'label': 'Raison social'}) }}</div>

                        <div class="col-md-6">{{ form_row(filterForm.businessIdentifier,{'label': 'SIREN'}) }}</div>

                        <div class="col-md-6">{{ form_row(filterForm.adress,{'label': 'Adresse'}) }}</div>

                        <div class="col-md-6">{{ form_row(filterForm.enable,{'label': 'Actif'}) }}</div>
                        <div class="col-md-6">
                            {{ form_end(filterForm, {'render_rest': false}) }}
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-warning" name="filter_action" value="filter"style="background: #b70d18;"> <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filter</button>
                                <button type="submit" class="btn btn-default" name="filter_action" value="reset"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Reset</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END FILTERING -->
        <div class="col-md-3 pull-left">

            <!-- PAGE SIZE -->
            <div class="pagination form-inline ">
                <select class = "form-control"  onchange="window.location = this.value" >
                    <option value='{{ path('office', app.request.query.all|merge({'pcg_show': '10'})) }}' {% if app.request.get('pcg_show') == 10 %} selected {% endif %}>10</option>
                    <option value='{{ path('office', app.request.query.all|merge({'pcg_show': '20'})) }}' {% if app.request.get('pcg_show') == 20 %} selected {% endif %}>20</option>
                    <option value='{{ path('office', app.request.query.all|merge({'pcg_show': '50'})) }}' {% if app.request.get('pcg_show') == 50 %} selected {% endif %}>50</option>
                    <option value='{{ path('office', app.request.query.all|merge({'pcg_show': '100'})) }}' {% if app.request.get('pcg_show') == 100 %} selected {% endif %}>100</option>
                    <option value='{{ path('office', app.request.query.all|merge({'pcg_show': '500'})) }}' {% if app.request.get('pcg_show') == 500 %} selected {% endif %}>500</option>
                </select>
            </div>
            <!-- END PAGE SIZE -->

        </div>

        <div class="col-md-6">


        </div>

        <div class="col-md-3">

            <a class="btn btn-primary h3 pull-right" href="{{ path('office_new') }}" style="margin-bottom:10px">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
            </a>
            <a class="btn dropdown-toggle pull-right h3" data-toggle="collapse" data-target="#filters" style="background: #b70d18;color:#fff;">
                Filter
                <span class="caret"></span>
            </a>
        </div>
        <div class="col-md-12">
            {%- if form_errors(filterForm) %}
            <div class="alert alert-block alert-error fade in form-errors">
                {{ form_errors(filterForm) }}
            </div>
            {% endif %}
            </div>

        </div> <!-- /#top -->


        <div class="row">
            <div class="col-md-12">
                {% for type, flashMessages in app.session.flashbag.all() %} 
                    {% for flashMessage in flashMessages %}
                        <div class="alert alert-{{ type }}">
                            {{ flashMessage|raw }}
                        </div>
                    {% endfor %} 
                {% endfor %} 
            </div>
        </div>


        <div class="row">

            <div class="table-responsive col-md-12">
                <form method="POST" id="bulk_form" action="{{ path('office_bulk_action') }} ">
                    <table class="table table-striped table-hover table-bordered" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th width="20px"><input type="checkbox" class="check-all" onclick="toggleAll(this)" ></th>

                                {% import "PetkoparaCrudGeneratorBundle::macros/th_sortable.html.twig" as macros %}
                                {#                            <th>{{macros.th_sortable('id',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'office')}}</th>
                                #}                            <th>{{macros.th_sortable('name',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'office')}}</th>
                                <th>{{macros.th_sortable('businessIdentifier',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'office')}}</th>
                                <th>{{macros.th_sortable('adress',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'office')}}</th>
                                <th>{{macros.th_sortable('urlLink',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'office')}}</th>
                                <th>{{macros.th_sortable('enable',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'office')}}</th>
{#                                <th>{{macros.th_sortable('createdAt',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'office')}}</th>#}
{#                                <th>{{macros.th_sortable('updatedAt',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'office')}}</th>#}
                                <th style=" width: 200px; ">{{macros.th_sortable('Image',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'office')}}</th>


                                <th width = "155px">List</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for office in offices %}
                                <tr>
                                    <td><input type="checkbox" name="ids[]" onclick='bulkSubmitBtnManage();' class="check-all" value="{{office.id}}" /></td>
                                    <td>{{ office.name }}</td>
                                    <td>{{ office.businessIdentifier }}</td>                
                                    <td>{{ office.adress }}</td>
                                    <td>{{ office.urlLink }}</td>
                                    <td>{%- if office.enable %}Yes{% else %}No{% endif %}</td>
{#                                    <td>{%- if office.createdAt %}{{ office.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>#}
{#                                    <td>{%- if office.updatedAt %}{{ office.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                                    <td>{% if office.thumbnail %}   <img src={{ asset('/uploads/'~office.thumbnail.link) }} class="img-responsive">  {% endif %}</td>
                                 {#   <td class="actions">
                                        <a title='Show' class="btn btn-info btn-sm" href="{{ path('office_show', { 'id': office.id }) }}">
                                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                        </a>
                                        <a  title='Edit' class="btn btn-warning btn-sm" href="{{ path('office_edit', { 'id': office.id }) }}">
                                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                        </a>
                                        <button type="button" onclick="document.getElementById('notification_office').value
                                                ={{ office.id }}" class="btn btn-success btn-sm" data-toggle="modal" data-target='#NewNotification'>
                                            <span class="glyphicon glyphicon glyphicon-bell" aria-hidden="true" ></span>
                                        </button>
                                        <a  onclick="return confirm('Are you sure!');" title="Delete" class="btn btn-danger btn-sm" href="{{ path('office_by_id_delete', { 'id': office.id}) }}">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </a>
                                    </td>#}
                                          <td class="actions" style=" width: 200px; ">
                                            <a  onclick="return confirm('Are you sure!');" title="Delete" class="btn btn-danger btn-sm" href="{{ path('office_by_id_delete', { 'id': office.id}) }}">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </a>
                                            <a title='Show' class="btn btn-info btn-sm" href="{{ path('office_show', { 'id': office.id }) }}">
                                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                            </a>
                                            <a  title='Edit' class="btn btn-primary btn-sm" href="{{ path('office_edit', { 'id': office.id }) }}">
                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                            </a>
                                            <button type="button" onclick="document.getElementById('notification_office').value
                                                ={{ office.id }}" class="btn btn-success btn-sm" data-toggle="modal" data-target='#NewNotification'>
                                            <span class="glyphicon glyphicon glyphicon-bell" aria-hidden="true" ></span>
                                            </button>
                                            {#<a title='Show' class="btn btn-danger btn-sm" href="{{ path('simple_things_entity_audit_compare', { 'rev': service.id, 'className': 'AppBundle\\Entity\\Service', 'id': service.id })}}">
                                          <span class="glyphicon glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span>#}
                                            </a>    
                                        </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div> <!-- /#list -->




        <div class="row">
            <div class="col-md-4 pull-left">
                <div class="pagination form-inline ">
                    <select class = "form-control" name="bulk_action" >
                        <option value="delete">DELETE</option>
                    </select>
                    <input type="submit" id='bulkSubmitBtn' onclick="return confirm('Are you sure?')" form="bulk_form" class="form-control btn btn-danger btn-sm" disabled>
                </div>
            </div>

            <div class='col-md-3 pagination text-center'>
                <p>{{totalOfRecordsString}}</p>
            </div>

            <div class="col-md-5 text-right">
                {{ pagerHtml|raw }} 
            </div>
        </div> <!-- /#bottom -->
    </div> <!-- /#bottom -->

    <div id="NewNotification" class="modal fade bd-example-modal-lg">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                {{ form_start(notificationForm, {'action': path('post_notification_office'), 'method': 'POST'}) }}
                <div class="space_div without_border"></div>
                <div class="modal-body" id="new">
                    <input type="hidden" name="">
                    {{ form_widget(notificationForm) }}
                    <div class="space_div btns_actions"></div>
                    <div class="modal-footer form-actions center ">
                        <button type="submit" class="btn btn-sm btn-success action">
                            Enregistrer
                        </button>
                        <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal" >
                            Annuler
                        </button>
                    </div>
                </div>
                {{ form_end(notificationForm, {'render_rest': false}) }}
            </div>
        </div>
    </div>
    {% endblock %}

