{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - New office
{% endblock %}

{% block main %}
    <div class="container">
        <div id="top" class="row">
            <div class="page-header">
                <h2>New office <span class="glyphicon glyphicon-file" aria-hidden="true"></span> </h2>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    {% for type, flashMessages in app.session.flashbag.all() %} 
                        {% for flashMessage in flashMessages %}
                            <div class="alert alert-{{ type }}">
                                {{ flashMessage|raw }}
                            </div>
                        {% endfor %} 
                    {% endfor %} 
                </div>
            </div>
            {{ form_start(form) }}
           <div class="c">
            
            <div class="form-group">
                {{ form_label(form.name, 'Raison Social') }}
                {{ form_errors(form.name) }}
                
                    {{ form_widget(form.name) }}
                </div>
           
            <div class="form-group">
                {{ form_label(form.thumbnail, 'Logo') }}
                {{ form_errors(form.thumbnail) }}
            
                    {{ form_widget(form.thumbnail) }}
                </div>
            
            <div class="form-group">
                {{ form_label(form.businessIdentifier, 'SIREN') }}
                {{ form_errors(form.businessIdentifier) }}
                
                    {{ form_widget(form.businessIdentifier) }}
              
            </div>
            <div class="form-group" >
                {{ form_label(form.adress, 'Adresse') }}
                {{ form_errors(form.adress) }}
                
                    {{ form_widget(form.adress) }}
              
            </div>
            <div class="form-group" >
                {{ form_label(form.urlLink, 'OFFICE-UrlLink') }}
                {{ form_errors(form.urlLink) }}
                
                    {{ form_widget(form.urlLink) }}
               
            </div>
            <div class="form-group" >
                {{ form_row(form.enable,{'label': 'Actif'}) }}
                {{ form_errors(form.enable) }}
              
                    {{ form_widget(form.enable) }}
             
            </div>
                
              </div>
                <button type="submit" name="submit" value="save" class="btn btn-primary"> 
                    Save <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                </button>
                <button type="submit" name="submit" value="saveAndAdd" class="btn btn-info"> 
                    Save and Add <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            {{ form_row(form._token) }} 
            <hr/>
            <div class="form-group">
                <a class="btn btn-default" href="{{ path('office') }}">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    Back to list
                </a>
            </div>
        </div>
    </div>
{% endblock %}

