{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} - office
{% endblock %}

{% block main %}
  <div class="container">
<div id="top" class="row">
    <div class="page-header">
        <h2>View office <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </h2>
    </div>
</div>

<div class="row">
    {#<div class="col-md-6">
        <p><strong>Id</strong></p>
        <p>
            {{ office.id }}
        </p>

    </div>#}
    <div class="col-md-6">
        <p><strong>Raison Social</strong></p>
        <p>
            {{ office.name }}
        </p>

    </div>
        <div class="col-md-6">
        <p><strong>Logo</strong></p>
        <p>
      
           {% if office.thumbnail %}   <img src={{ asset('/uploads/'~office.thumbnail.link) }} class="img-responsive">  {% endif %} 
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>SIREN</strong></p>
        <p>
            {{ office.businessIdentifier }}
        </p>

    </div>
   
    <div class="col-md-6">
        <p><strong>Adresse</strong></p>
        <p>
            {{ office.adress }}
        </p>
    </div>
        <div class="col-md-6">
        <p><strong>OFFICE-UriLink</strong></p>
        <p>
            {{ office.urlLink }}
        </p>
    </div>
    <div class="col-md-6">
        <p><strong>Actif</strong></p>
        <p>
            {% if office.enable %}Yes{% else %}No{% endif %}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Créé le </strong></p>
        <p>
            {% if office.createdAt %}{{ office.createdAt|date('Y-m-d H:i:s') }}{% endif %}
        </p>

    </div>
        <div class="col-md-6">
        <p><strong>Créé par </strong></p>
        <p>
            {% if office.createdBy %}{{ office.createdBy|date('Y-m-d H:i:s') }}{% endif %}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Mise à jour le</strong></p>
        <p>
            {% if office.updatedAt %}{{ office.updatedAt|date('Y-m-d H:i:s') }}{% endif %}
        </p>

    </div>
<div class="col-md-6">
        <p><strong>Mise à jour par </strong></p>
        <p>
            {% if office.updatedBy %}{{ office.updatedBy|date('Y-m-d H:i:s') }}{% endif %}
        </p>

    </div></div>
</div>

<hr/>
</div>

<div class="form-group">
    <a class="btn btn-default" href="{{ path('office') }}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Back to list
    </a>
    <a class="btn btn-primary" href="{{ path('office_edit', { 'id':  office.id }) }}">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        Edit
    </a>
    <a class="btn btn-info" href="{{ path('office_new') }}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        New
    </a>
    <form action="{{ path('office_delete', { 'id': office.id }) }}" method="post" style="display: inline-block">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Delete
        </button>
    </form>
</div>


{% endblock %}

