
<style>
    /* fix Mazars logo in center */
    .navbar-brand {
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
    }

    .navbar-brand {
        padding: 0px;
    }

    .navbar-brand > img {
        height: 100%;
        width: auto;
        padding: 7px 14px;
    }
    /*end fix Mazars logo in center*/
    .header-user-img {
      height: 37px;
      border-radius: 50% !important;
      width: 37px;
      margin-top: -16px;
      margin-right: 15px;
    }
    .rounded {
      border-radius: 0.25rem !important;
    }
    .header-right-icons li {
      display: inline;
    }
</style>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header pull-left">

            {# logo section#}
            <a class="navbar-brand" href="https://www.mazars.fr" target="_blank">
                <img src="{{ asset('vue/v-frontend/compiled/static/mazars-logo.png') }}">
            </a>
            {# end logo section#}

        </div>

        <ul class="nav navbar-nav navbar-right navbar-right-no-collapse">
          <li>
            <a href="{{Logout}}">
              <img src="https://cdn4.iconfinder.com/data/icons/gray-user-management/512/log_off-512.png"  class="rounded header-user-img">

            </a>
          </li>
        </ul>
    </div>
</nav>
