{% extends 'baseFront.html.twig' %}
{% block sidebar %}
    {% include '::common/menu/frontend/menu-user-edit.html.twig' %}
{% endblock %}
{% block main %}
    <div id="page-content-wrapper">
        <div class="container-fluid user-edit-container" id="main-container">
            <div class="row" id="c1" v-cloak>
                <div class="col-md-12" id="app">
                    <div id="h2" class="page-header">
                        <h2> Informations</h2>
                    </div>
                    <div class="fullname-edit-bloc row">
                        <div class="user-edit-name col-sm-9">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="user-edit-name-title" v-lang.firstname></label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" v-model="user.firstName" class="form-control" id="formFirstName">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="user-edit-name-title" v-lang.lastname></label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" v-model="user.lastName" class="form-control" id="formLastName">
                                </div>
                            </div>
                        </div>
                        <div class="user-edit-img col-sm-3">
                            <img tabindex="2" class="tool img-responsive img-circle" :src="user.thumbnail" v-on:dblclick="showModalEditImageUser()"/>




                            {#<img tabindex="2" id="tooltip"  id="col-md-2"#}
                                 {#v-if="user.thumbnail"#}
                                 {#class="tool img-responsive img-circle "#}
                                 {#:src="user.thumbnail ? '/uploads/' + user.thumbnail : 'vue/v-frontend/compiled/static/compte-user.svg'"#}
                                 {#onError="this.onerror=null;this.src='/vue/v-frontend/compiled/static/compte-user.svg';"#}
                                 {#v-on:dblclick="showModalEditImageUser()"/>#}
                            {#<img#}
                                 {#v-else="!user.thumbnail"#}
                                 {#tabindex="2" id="tooltip" id="col-md-2"#}
                                 {#class="tool img-responsive img-circle "#}
                                 {#src="/vue/v-frontend/compiled/static/compte-user.svg"#}
                                 {#v-on:dblclick="showModalEditImageUser()"#}
                                 {#/>#}
                        </div>
                    </div>
                    <div class="language-edit-bloc">
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="language-edit-bloc-title" id="lb" v-lang.language_format></label>
                            </div>
                            <div class="col-sm-9">
                                <div class="user-edit-select">
                                    <span class="select-bg"></span>
                                    <span class="mazar-icon-puce"></span>
                                    <select v-model="user.locale" class="form-control" id="formLocale" v-cloak>
                                        <option value="en">Anglais</option>
                                        <option value="fr">Francais</option>
                                        <option value="de">Allemand</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="h2" class="page-header custom-page-header">
                        <h2></h2>
                    </div>
                    <div class="phone-edit-bloc">
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="phone-edit-bloc-title" id="lb" v-lang.title> </label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" v-model="user.title" id="formTitle" class="form-control" v-cloak>
                            </div>
                        </div>
                    </div>
                    <div id="h2" class="page-header custom-page-header"></div>
                    <div class="company-edit-bloc">
                        <div class="row">
                            <div class="col-sm-3">
                                <span class="company-edit-bloc-title" v-lang.notifications_account> </span>
                            </div>
                            <div class="col-sm-9">
                                <div class="user-edit-select">
                                    <span class="select-bg"></span>
                                    <span class="mazar-icon-puce"></span>
                                    <select id="formCompanyNotification" class="form-control" v-model="companyNotification" v-on:change="loadCompanyNotification(user.companyId)">
                                        <option v-for="option in user.userCompany" v-bind:value="option.company.id">
                                            {[{ option.company.name }]}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="email-edit-bloc">
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="email-edit-bloc-title">Email</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="switch">
                                    <input type="checkbox" id="formCompanyNotifySms" v-model="user.companyNotifySms">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
{#                    <div class="sms-edit-bloc">
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="sms-edit-bloc-title">SMS</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="switch" id="sms-check">
                                    <input type="checkbox" id="fromCompanyNotifyEmail"
                                           v-model="user.companyNotifyEmail">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>#}
                    <div class="user-edit-btn-bloc">
                        <a class="btn" href="{{ path('frontend_homepage') }}"><span v-lang.cancel></span></a>
                        <button type="submit" id="formSubmit" class="btn btn-primary" @click="postUser(user.id)">
                            <span v-lang.validate></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include '::frontend/modal/editImageUser.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Start of eazybymazars Zendesk Widget script -->
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=d7750bdf-2af3-4555-b316-ae1675c38994"> </script>
    <!-- End of eazybymazars Zendesk Widget script -->
{% endblock %}