{% extends 'baseFront.html.twig' %}

{% block title %}
    {{ parent() }} - company
{% endblock %}

{% block main %}
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="page-header">
                    <h2 id="head" class="head col-md-12" v-lang.users_list></h2>
                </div>
                <table class="table table-responsive-lg table-striped personalized-table" id="tab" v-cloak>
                    <thead>
                    <tr>
                        <th v-lang.user></th>
                        <th v-lang.type></th>
                        <th v-lang.user_company></th>
                        <th v-lang.user_ipadress></th>
                        <th v-lang.user_lastconnection></th>
                    </tr>
                    </thead>
                    <tbody>
                    {#<code>{[{users}]}</code>#}
                    <tr v-for="userr in users">
                        <td class="users">
                            {[{userr.firstName}]}
                            <br>
                            {[{ userr.lastName}]}<br>

                        </td>
                        <td>
                            <div class="ls">
                                <ul v-for="r in userr.role">
                                    <li v-if="r === 'ROLE_OWNER'">Propriétaire</li>
                                    <li v-if="r === 'ROLE_USER'"> Utilisateur Client</li>
                                    <li v-if="r === 'ROLE_CONTACT'"> Collaborateur Mazars</li>
                                </ul>
                            </div>
                        </td>
                        <td> {[{userr.company}]}</td>
                        <td v-if="userr.lastLoginIp">{[{userr.lastLoginIp}]} ({[{userr.lastLoginCountryName}]} - {[{userr.lastLoginRegionName}]})</td>
                        <td v-if="!userr.lastLoginIp"></td>
                        <td v-if="userr.lastLoginDate == null"></td>
                        <td v-if="userr.lastLoginDate !== null">
                            {[{userr.lastLoginDate.date,userr.locale|formatDate}]}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}