{# frontend/user/index.html.twig #}
{% extends 'baseFront.html.twig' %}
{% block sidebar %}
    {% include '::common/menu/frontend/menu-user-edit.html.twig' %}
{% endblock %}
{% block main %}
    <div class="container-fluid user-edit-container" id="main-container">
        <div class="row" id="c1" v-cloak>
            <div class="col-md-12" id="app">
                <div id="h2" class="page-header">
                    <h2 v-lang.security > </h2>
                </div>
                <div class="fullname-edit-bloc row">
                    <div class="user-edit-name col-sm-9">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="user-edit-name-title" v-lang.email>Email</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" v-model="user.email" class="form-control" disabled id="form">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fullname-edit-bloc row">
                    <div class="user-edit-name col-sm-9">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="user-edit-name-title" v-lang.password></label>
                            </div>
                            <div class="col-sm-8">
                                <button type="button" class="btn btn-primary" @click="resetPassword()" id="form"
                                        v-lang.reset></button>
                            </div>
                        </div>
                    </div>
                </div>


                {#<div id="h2" class="page-header custom-page-header">#}
                {#<h2></h2>#}
                {#</div>#}

                <div class="fullname-edit-bloc row">
                    <div class="user-edit-name col-sm-9">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="user-edit-name-title" v-lang.mobile></label>
                            </div>
                            <div class="col-sm-8">
                                <vue-tel-input class="form-control flag-container" ref="phone"
                                               v-on:input="onInput"></vue-tel-input>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="email-edit-bloc">
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="email-edit-bloc-title" v-lang.factor_authentication></label>
                        </div>
                        <div class="col-sm-9">
                            <label class="switch">
                                <input type="checkbox" id="two-factor-check"
                                       v-model="user.twoFactorAuthentication"
                                       v-on:change="phoneValidation(user.twoFactorAuthentication)"
                                       :disabled="(user.mobile==null)&&(user.mobile==undefined)">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="user-edit-btn-bloc">
                    <a class="btn" href="{{ path('frontend_homepage') }}"><span v-lang.cancel></span></a>
                    <button type="submit" class="btn btn-primary" @click="postUser(user.id)"><span
                                v-lang.validate></span></button>
                </div>
            </div>
        </div>
    </div>

    {% include 'frontend/modal/codeModal.html.twig' %}


{% endblock %}
