<aside id="wrapper" class="sidebar fixed" id="wrapper" style="width: 260px; left: 0px;">
    <div class="nav-side-menu" id="nav-side-menu">
        <div class="menu-links menu-list">
            <ul id="menu-content" class="menu-content out">
                <li>
                    <a href="{{path('user_index')}}" id="user">
                        <span >{{ 'users'|trans }}</span>
                    </a>      
                </li>
                <li>
                    <a href="{{path('user_new')}}" id="user">
                        <span >{{ 'New User'|trans }}</span>
                    </a>
                </li>
                <li>
                    <a href="{{path('company')}}" id="company">
                        <span>{{ 'Companies'|trans }}</span>
                    </a>
                </li>
                <li>
                    <a href="{{path('office')}}" id="office">
                        <span >{{ 'Mazars Offices'|trans }}</span>
                    </a>
                </li>
                <li>
                    <a href="{{path('notification')}}" id="office">
                        <span>{{ 'Notifications'|trans }}</span>
                    </a>
                </li>
                <li>
                    <hr width="75%" color="gray">
                </li>
                <label class="libellé">{{ 'Services Setting'|trans }} :</label>
                <li>
                    <a href="{{path('service')}}" id="service">
                        <span >{{ 'Services'|trans }}</span>
                    </a>
                </li>
                <li>
                    <a href="{{path('template')}}" id="template">
                        <span>{{ 'Templates'|trans }}</span>
                    </a>
                </li>
                <li>
                    <a href="{{path('templateservice')}}" id="templateservice">
                        <span >{{ 'Template Settings'|trans }}</span>
                    </a>
                </li>
                <li>
                    <a href="{{path('servicerole')}}" id="servicerole">
                        <span >{{ 'Services Roles'|trans }}</span>
                    </a>
                </li>
                <li>
                    <hr width="75%" color="gray">
                </li>
                <label class="libellé">{{ 'Administration'|trans }} :</label>
                <li>
                    <a href="{{path('companytype')}}" id="companytype">
                        <span> {{ 'Company Type'|trans }} </span>
                    </a>
                </li>
                <li>
                    <a href="{{path('audit')}}" id="companytype">
                        <span > {{ 'Audit'|trans }}</span>
                    </a>
                </li>
                <li>
                    <a href="{{path('companyservice')}}" id="companyservice">
                        <span > {{ 'Company service'|trans }}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>
