{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} -  Edit company
{% endblock %}

{% block main %}
  <div class="container">

<div id="top" class="row">
    <div class="page-header">
        <h2>Edit company <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></h2>
    </div>
</div>


<div class="row">
    <div class="row">
    <div class="col-md-12">
        {% for type, flashMessages in app.session.flashbag.all() %} 
        {% for flashMessage in flashMessages %}
        <div class="alert alert-{{ type }}">
            {{ flashMessage|raw }}
        </div>
         {% endfor %} 
         {% endfor %} 
    </div>
</div>
    

    {{ form_start(edit_form) }}
    <div>
     <div class="form-group">
        {# <div>
                {{ form_label(edit_form.template, 'Configuration par défaut') }}
                {{ form_errors(edit_form.template) }}</div>
                <div class="col-sm-12">
                    {{ form_widget(edit_form.template) }}
                </div>#}
                {{ form_label(edit_form.name, 'Nom') }}
                {{ form_errors(edit_form.name) }}
                
                    {{ form_widget(edit_form.name) }}
                </div>
                <div class="form-group">
                {{ form_label(edit_form.template, 'Modèle') }}
                {{ form_errors(edit_form.template) }}
                    {{ form_widget(edit_form.template) }}
                </div>
               <div class="form-group">
                {{ form_label(edit_form.office, 'Bureaux Mazars') }}
                {{ form_errors(edit_form.office) }}
                    {{ form_widget(edit_form.office) }}
                </div>
                <div class="form-group">
                {{ form_label(edit_form.thumbnail, 'Logo') }}
                {{ form_errors(edit_form.thumbnail) }}
                
                    {{ form_widget(edit_form.thumbnail) }}
                </div>
                
                    <div class="form-group">
                {{ form_label(edit_form.businessIdentifier,'SIREN') }}
                {{ form_errors(edit_form.businessIdentifier) }}
              
                
                    {{ form_widget(edit_form.businessIdentifier) }}
                </div>
                 <div class="form-group">
                {{ form_label(edit_form.businessIdentifierExtended,'SIRET') }}
                {{ form_errors(edit_form.businessIdentifierExtended) }}
                    {{ form_widget(edit_form.businessIdentifierExtended) }}
                </div>
                <div class="form-group">
                {{ form_label(edit_form.businessClassification,'Code APE') }}
                {{ form_errors(edit_form.businessClassification) }}
                    {{ form_widget(edit_form.businessClassification) }}
                </div>
                 <div class="form-group">
                {{ form_label(edit_form.businessRegisterOffice,'RM') }}
                {{ form_errors(edit_form.businessRegisterOffice) }}
                    {{ form_widget(edit_form.businessRegisterOffice) }}
                </div>
                 <div class="form-group">
                {{ form_label(edit_form.legalRegisterOffice,'RCS') }}
                {{ form_errors(edit_form.legalRegisterOffice) }}
                    {{ form_widget(edit_form.legalRegisterOffice) }}
                </div>
               <div class="form-group">
                {{ form_label(edit_form.vatIdentifier,'Numero de TVA') }}
                {{ form_errors(edit_form.vatIdentifier) }}
                
                    {{ form_widget(edit_form.vatIdentifier) }}
                </div>
                <div class="form-group">
                {{ form_label(edit_form.shareCapital,'Capital Social') }}
                {{ form_errors(edit_form.shareCapital) }}
                    {{ form_widget(edit_form.shareCapital) }}
                </div>
                
                <div class="form-group" >
               {{ form_row(edit_form.locked,{'label': 'Accès bloqué'}) }}
               {{ form_errors(edit_form.locked) }}
               
                
                    {{ form_widget(edit_form.locked) }}
                </div>
                
                <div class="form-group">
                {{ form_label(edit_form.adress,'Adresse') }}
                {{ form_errors(edit_form.adress) }}
                
                    {{ form_widget(edit_form.adress) }}
                </div>
                <div class="form-group">
                {{ form_label(edit_form.city,'Ville') }}
                {{ form_errors(edit_form.city) }}
                    {{ form_widget(edit_form.city) }}
                </div>
                <div class="form-group">
                {{ form_label(edit_form.postCode,'Code postal') }}
                {{ form_errors(edit_form.postCode) }}
                    {{ form_widget(edit_form.postCode) }}
                </div>
               
                 <div class="form-group">
                {{ form_label(edit_form.phone,'Téléphone') }}
                {{ form_errors(edit_form.phone) }}
                    {{ form_widget(edit_form.phone) }}
                </div>
                 <div class="form-group">
                {{ form_label(edit_form.fax,'Fax') }}
                {{ form_errors(edit_form.fax) }}
                    {{ form_widget(edit_form.fax) }}
                </div>
                </div>
                 <div class="form-group">
                {{ form_label(edit_form.website,'Site web') }}
                {{ form_errors(edit_form.website) }}
                    {{ form_widget(edit_form.website) }}
                </div>
                 <div class="form-group">
                {{ form_label(edit_form.email,'Courriel') }}
                {{ form_errors(edit_form.email) }}
                    {{ form_widget(edit_form.email) }}
                </div>
                 <div class="form-group">
                {{ form_label(edit_form.type,'Type') }}
                {{ form_errors(edit_form.type) }}
                    {{ form_widget(edit_form.type) }}
                </div>
                </div>
                </div>
    
    <p>
    
        <button type="submit" class="btn btn-primary"    style="margin-top: 23px;">
            <span class="glyphicon glyphicon-ok" aria-hidden="true" ></span> Update
        </button>
        
    </p>
    {{ form_row(edit_form._token) }} 
    {{ form_end(edit_form, {'render_rest': false}) }}

    <hr/>

    
<div class="form-group">
    <a class="btn btn-default" href="{{ path('company') }}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Back to list
    </a>
    <a class="btn btn-info" href="{{ path('company_new') }}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        New
    </a>
    <form action="{{ path('company_delete', { 'id': company.id }) }}" method="post" style="display: inline-block">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Delete
        </button>
    </form>
</div>

</div>
</div>


{% endblock %}

