{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} - company index
{% endblock %}
{% block main %}
    <style>
        .modal.bd-example-modal-lg.fade.in, .modal.bd-example-modal-lg.fade {
            background: none;
        }
    </style>
    <div id='company-backend'>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h2><a href="{{ path('company') }}">Company</a></h2>
                </div>
            </div>
            <!-- FILTERING -->
            <div class="col-md-12">
                <div id="filters" class="collapse">
                    <form class="well" action="{{ path('company') }}" method="get">
                        <div class="row">
                            <div class="col-md-6">{{ form_row(filterForm.name,{'label': 'Raison social'}) }}</div>
                            <div class="col-md-6">{{ form_row(filterForm.template,{'label': ' Configuration'}) }}</div>
                            <div class="col-md-6">{{ form_row(filterForm.office,{'label': 'Bureau Mazars'}) }}</div>
                            <div class="col-md-6">{{ form_row(filterForm.businessIdentifier,{'label': 'SIREN'}) }}</div>
                            <div class="col-md-6">{{ form_row(filterForm.businessIdentifierExtended,{'label': 'SIRET'}) }}</div>
                            <div class="col-md-6">{{ form_row(filterForm.businessClassification,{'label': 'Code APE'}) }}</div>
                            <div class="col-md-6">{{ form_row(filterForm.businessRegisterOffice,{'label': 'RM'}) }}</div>
                            <div class="col-md-6">{{ form_row(filterForm.legalRegisterOffice,{'label': 'RCS'}) }}</div>
                            <div class="col-md-6">{{ form_row(filterForm.vatIdentifier,{'label': 'Numero de TVA'}) }}</div>
                            <div class="col-md-6">{{ form_row(filterForm.city,{'label': 'Ville'}) }}</div>
                            <div class="col-md-6">{{ form_row(filterForm.postCode,{'label': 'Code postal'}) }}</div>
                            <div class="col-md-6">{{ form_row(filterForm.type,{'label': 'Type'}) }}</div>
                            <div class="col-md-6">{{ form_end(filterForm, {'render_rest': false}) }} </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-warning" name="filter_action" value="filter">
                                        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filter
                                    </button>
                                    <button type="submit" class="btn btn-default" name="filter_action" value="reset">
                                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Reset
                                    </button>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
            <!-- END FILTERING -->
            <div class="col-md-3 pull-left">
                <!-- PAGE SIZE -->
                <div class="pagination form-inline ">
                    <select class="form-control" onchange="window.location = this.value">
                        <option value='{{ path('company', app.request.query.all|merge({'pcg_show': '10'})) }}' {% if app.request.get('pcg_show') == 10 %} selected {% endif %}>
                            10
                        </option>
                        <option value='{{ path('company', app.request.query.all|merge({'pcg_show': '20'})) }}' {% if app.request.get('pcg_show') == 20 %} selected {% endif %}>
                            20
                        </option>
                        <option value='{{ path('company', app.request.query.all|merge({'pcg_show': '50'})) }}' {% if app.request.get('pcg_show') == 50 %} selected {% endif %}>
                            50
                        </option>
                        <option value='{{ path('company', app.request.query.all|merge({'pcg_show': '100'})) }}' {% if app.request.get('pcg_show') == 100 %} selected {% endif %}>
                            100
                        </option>
                        <option value='{{ path('company', app.request.query.all|merge({'pcg_show': '500'})) }}' {% if app.request.get('pcg_show') == 500 %} selected {% endif %}>
                            500
                        </option>
                    </select>
                </div>
                <!-- END PAGE SIZE -->
            </div>
            <div class="col-md-5">
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-primary h3 pull-right" data-toggle="modal"
                        data-target='#exportCompany'>
                    <span class="glyphicon glyphicon-export" aria-hidden="true"></span> Export
                </button>
                <a class="btn btn-primary h3 pull-right" href="{{ path('company_new') }}" style="margin-right: 10px;">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    New
                </a>
                <a class="btn dropdown-toggle pull-right h3" data-toggle="collapse" data-target="#filters"
                   style="background: #b70d18;color:#fff;margin-right: 10px;">
                    Filter <span class="caret"></span>
                </a>
            </div>
            <div class="col-md-12">
                {%- if form_errors(filterForm) %}
                    <div class="alert alert-block alert-error fade in form-errors">
                        {{ form_errors(filterForm) }}
                    </div>
                {% endif %}
            </div>
        </div> <!-- /#top -->
        <div class="row">
            <div class="col-md-12">
                {% for type, flashMessages in app.session.flashbag.all() %}
                    {% for flashMessage in flashMessages %}
                        <div class="danger alert-{{ type }}">
                            {{ flashMessage|raw }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="table-responsive col-md-12">
                <form method="POST" id="bulk_form" action="{{ path('company_bulk_action') }} ">
                    <table class="table table-striped table-hover table-bordered" cellspacing="0" cellpadding="0">
                        <thead>
                        <tr>
                            <th width="20px"><input type="checkbox" class="check-all" onclick="toggleAll(this)"></th>
                            {% import "PetkoparaCrudGeneratorBundle::macros/th_sortable.html.twig" as macros %}
                            <th>{{ macros.th_sortable('name',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'company') }}</th>
                            <th>{{ macros.th_sortable('name',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'company') }}</th>
                            <th>{{ macros.th_sortable('name',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'company') }}</th>
                            <th>{{ macros.th_sortable('businessIdentifier',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'company') }}</th>
                            <th>{{ macros.th_sortable('businessClassification',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'company') }}</th>
                            <th>{{ macros.th_sortable('Ville',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'company') }}</th>
                            <th>{{ macros.th_sortable('name',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'company') }}</th>
                            <th>{{ macros.th_sortable('phone',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'company') }}</th>
                            <th>{{ macros.th_sortable('fax',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'company') }}</th>
                            <th>{{ macros.th_sortable('email',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'company') }}</th>
                            <th>{{ macros.th_sortable('createdAt',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'company') }}</th>
                            <th>{{ macros.th_sortable('updatedAt',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'company') }}</th>
                            <th>List</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for company in companies %}
                            <tr>
                                <td><input id="check-all" type="checkbox" name="ids[]" onclick='bulkSubmitBtnManage();'
                                           class="check-all" value="{{ company.id }}"/></td>
                                <td>{{ company.name }}</td>
                                <td>{% if company.template!=null %} {{ company.template.name }}{% else %}empty{% endif %}</td>
                                <td>{% if company.office!=null %}{{ company.office.name }} {% else %}empty{% endif %}</td>
                                <td>{{ company.businessIdentifier }}</td>
                                <td>{{ company.businessClassification }}</td>
                                <td>{{ company.city }}</td>
                                <td>{% if company.type!=null %} {{ company.type.name }}{% else %}empty{% endif %}</td>
                                <td>{%- if company.createdAt %}{{ company.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>{%- if company.updatedAt %}{{ company.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td class="actions">
                                    <a onclick="return confirm('Are you sure!');" title="Delete"
                                       class="btn btn-danger btn-sm"
                                       href="{{ path('company_by_id_delete', { 'id': company.id}) }}">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </a>
                                    <a title='Show' class="btn btn-info btn-sm"
                                       href="{{ path('company_show', { 'id': company.id }) }}">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    </a>
                                    <a title='Edit' class="btn btn-primary btn-sm"
                                       href="{{ path('company_edit', { 'id': company.id }) }}">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </a>
                                    <a title='Show' class="btn btn-danger btn-sm"
                                       href="{{ path('simple_things_entity_audit_compare', { 'rev': company.id, 'className': 'AppBundle\\Entity\\Company', 'id': company.id }) }}">
                                        <span class="glyphicon glyphicon glyphicon-resize-horizontal"
                                              aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 pull-left">
                <div class="pagination form-inline ">
                    <select class="form-control" name="bulk_action">
                        <option value="delete">DELETE</option>
                    </select>
                    <input type="submit" id='bulkSubmitBtn' onclick="return confirm('Are you sure?')" form="bulk_form"
                           class="form-control btn btn-danger btn-sm" disabled>
                </div>
            </div>
            <div class='col-md-3 pagination text-center'>
                <p>{{ totalOfRecordsString }}</p>
            </div>
            <div class="col-md-5 text-right">
                {{ pagerHtml|raw }}
            </div>
        </div>
    </div>
    <div id="exportCompany" class="modal fade bd-example-modal-lg">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="space_div without_border"></div>
                <div class="modal-body" id="new">
                    <form name="export_form" method="post" action="{{ path('export_company') }}">
                        <div id="notification">
                            <div class="form-group">
                                <label for="email" class="required">Email</label>
                                <input type="text" id="notification_link" name="export[email]" required="required"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="space_div btns_actions"></div>
                        <div class="modal-footer form-actions center ">
                            <button type="submit" class="btn btn-sm btn-success action">
                                Enregistrer
                            </button>
                            <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal">
                                Annuler
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<link href="https://cdn.bootcss.com/x-editable/1.5.0/inputs-ext/wysihtml5/bootstrap-wysihtml5-0.0.2/bootstrap-wysihtml5-0.0.2.css" rel="stylesheet"/>
{% endblock %}



{% block vueApp %}
    <script src="{{ asset('vue/v-frontend/compiled/js/company.js') }}"></script>
{% endblock %}

