{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - New company
{% endblock %}

{% block main %}
    <div class="container">
        <div id="top" class="row">
            <div class="page-header">
                <h2>New company <span class="glyphicon glyphicon-file" aria-hidden="true"></span> </h2>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    {% for type, flashMessages in app.session.flashbag.all() %} 
                        {% for flashMessage in flashMessages %}
                            <div class="alert alert-{{ type }}">
                                {{ flashMessage|raw }}
                            </div>
                        {% endfor %} 
                    {% endfor %} 
                </div>
            </div>
            {{ form_start(form) }}
            <div class="form-group" >
                {{ form_label(form.name, 'Nom') }}
                {{ form_errors(form.name) }}
                {#<div class="col-sm-12">#}
                    {{ form_widget(form.name) }}
                {#</div>#}
            </div>
            <div class="form-group" >
                {{ form_label(form.template, 'Modèle') }}
                {{ form_errors(form.template) }}
                    {{ form_widget(form.template) }}
                </div>
                <div class="form-group" >
                {{ form_label(form.office, 'Bureaux Mazars') }}
                {{ form_errors(form.office) }}
                
                    {{ form_widget(form.office) }}
                </div>
            <div class="form-group">
                {{ form_label(form.thumbnail, 'Logo') }}
                {{ form_errors(form.thumbnail) }}
       
                {{ form_widget(form.thumbnail) }}
            </div>
            <div class="form-group" >
                {{ form_label(form.businessIdentifier,'SIREN') }}
                {{ form_errors(form.businessIdentifier) }}
            
                {{ form_widget(form.businessIdentifier) }}
            </div>
            <div class="form-group">
                {{ form_label(form.businessIdentifierExtended,'SIRET') }}
                {{ form_errors(form.businessIdentifierExtended) }}
            
                {{ form_widget(form.businessIdentifierExtended) }}
            </div>
            <div class="form-group">
                {{ form_label(form.businessClassification,'Code APE') }}
                {{ form_errors(form.businessClassification) }}
                {{ form_widget(form.businessClassification) }}
            </div>
            <div class="form-group">
                {{ form_label(form.businessRegisterOffice,'RM') }}
                {{ form_errors(form.businessRegisterOffice) }}
                {{ form_widget(form.businessRegisterOffice) }}
            </div>
            <div class="form-group">
                {{ form_label(form.legalRegisterOffice,'RCS') }}
                {{ form_errors(form.legalRegisterOffice) }}
 
                {{ form_widget(form.legalRegisterOffice) }}
            </div>
           
            <div class="form-group">
                {{ form_label(form.vatIdentifier,'Numero de TVA') }}
                {{ form_errors(form.vatIdentifier) }}
            
                {{ form_widget(form.vatIdentifier) }}
            </div>
            <div class="form-group">
                {{ form_label(form.shareCapital,'Capital Social') }}
                {{ form_errors(form.shareCapital) }}
                {{ form_widget(form.shareCapital) }}
            </div>
            <div class="form-group" >
                {{ form_row(form.locked,{'label': 'Accès bloqué'}) }}

                {{ form_errors(form.locked) }}       
                {{ form_widget(form.locked) }}
            </div>
            <div class="form-group">
                {{ form_label(form.adress,'Adresse') }}
                {{ form_errors(form.adress) }}
                {{ form_widget(form.adress) }}
            </div>
            <div class="form-group">
                {{ form_label(form.city,'Ville') }}
                {{ form_errors(form.city) }}
           
                {{ form_widget(form.city) }}
            </div>
            <div class="form-group">
                {{ form_label(form.postCode,'Code postal') }}
                {{ form_errors(form.postCode) }}
           
           
                {{ form_widget(form.postCode) }}
            </div>

            <div class="form-group">
                {{ form_label(form.phone,'Téléphone') }}
                {{ form_errors(form.phone) }}
       
                {{ form_widget(form.phone) }}
            </div>
            <div class="form-group">
                {{ form_label(form.fax,'Fax') }}
                {{ form_errors(form.fax) }}
          
                {{ form_widget(form.fax) }}
            </div>
        
        <div class="form-group">
            {{ form_label(form.website,'Site web') }}
            {{ form_errors(form.website) }}
            {{ form_widget(form.website) }}
        </div>
        <div class="form-group">
            {{ form_label(form.email,'Courriel') }}
            {{ form_errors(form.email) }}
       
            {{ form_widget(form.email) }}
        </div>
        <div class="form-group">
            {{ form_label(form.type,'Type') }}
            {{ form_errors(form.type) }}
      
            {{ form_widget(form.type) }}
        </div></div>
       {# <div class="form-group">
            {{ form_label(form.imageFile,'imageFile') }}
            {{ form_errors(form.imageFile) }}
        </div>
        <div class="col-sm-12" style="margin-top: -34px;">
            {{ form_widget(form.imageFile) }}
        </div>#}
    </div>
<div style="margin-top: 24px;">
    <p>
        <button type="submit" name="submit" value="save" class="btn btn-primary"> 
            Save <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
        </button>
        <button type="submit" name="submit" value="saveAndAdd" class="btn btn-info"> 
            Save and Add <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </p>
</div>
{{ form_row(form._token) }} 
<hr/>
<div class="form-group">
    <a class="btn btn-default" href="{{ path('company') }}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Back to list
    </a>
</div>
{% endblock %}