{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - company
{% endblock %}

{% block main %}
    <div class="container">
        <div id="top" class="row">
            <div class="page-header">
                <h2>View company <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p><strong>Raison sociale</strong></p>
                <p>
                    {{ company.name }}
                </p>
            </div>
            <div class="col-md-6">
              {#  <p><strong>imageName</strong></p>
                <p>
                    {{ dump(company) }}    
                    <a href="{{ vich_uploader_asset(company, 'imageFile') }}" />Voir mon devis</a>
                </p>#}
            </div>
            <div class="col-md-6">
                <p><strong>Configuration</strong></p>
                <p>
                    {{ company.template.name }}
                </p>
            </div>
            <div class="col-md-6">
                <p><strong>Bureau Mazars</strong></p>
                <p>
                    {% if company.office!=null%}
                        {{ company.office.name}} {%else%}empty{%endif%}
                    </p>
                </div>
                <div class="col-md-6">
                    <p><strong>Logo</strong></p>
                    <p>{% if company.thumbnail!=null%}
                        {{ company.thumbnail.id }} {%else%}empty{%endif%}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>SIREN</strong></p>
                            <p>
                                {{ company.businessIdentifier }}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p><strong> SIRET</strong></p>
                            <p>
                                {{ company.businessIdentifierExtended }}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Code APE</strong></p>
                            <p>
                                {{ company.businessClassification }}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>RM</strong></p>
                            <p>
                                {{ company.businessRegisterOffice }}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>RCS</strong></p>
                            <p>
                                {{ company.legalRegisterOffice }}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Numéro de TVA</strong></p>
                            <p>
                                {{ company.vatIdentifier}}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Capital Social</strong></p>
                            <p>
                                {{ company.shareCapital }}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Accès bloqué</strong></p>
                            <p>   {% if company.locked==true %}yes{% else %}No{% endif %}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Adresse</strong></p>
                            <p>
                                {{ company.adress }}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Ville</strong></p>
                            <p>
                                {{ company.city }}  
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Code Postal</strong></p>
                            {{ company.postCode }}
                            <p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Téléphone</strong></p>
                            {{ company.phone }}
                            <p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Fax</strong></p>
                            <p>
                                {{ company.fax }}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Site web</strong></p>
                            <p>
                                {{ company.website }}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Courriel</strong></p>
                            <p>
                                {{company.email}}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Type</strong></p>
                            <p>{% if company.type!=null%}{{company.type.name}}
                         {%else%}empty{%endif%}
                                
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Créé le</strong></p>
                            <p>
                                {% if company.createdAt %}{{ company.createdAt|date('Y-m-d H:i:s') }}{% endif %}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Créé par</strong></p>
                            <p>
                                {{ company.createdBy }}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Mise à jour le </strong></p>
                            <p>
                                {% if company.updatedAt %}{{ company.updatedAt|date('Y-m-d H:i:s') }}{% endif %}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Mise à jour par </strong></p>
                            <p>
                                {{ company.updatedBy }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-right: 159px;">
                    <a class="btn btn-default" href="{{ path('company') }}">
                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                        Back to list
                    </a>
                    <a class="btn btn-primary" href="{{ path('company_edit', { 'id':  company.id }) }}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        Edit
                    </a>
                    <a class="btn btn-info" href="{{ path('company_new') }}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        New
                    </a>
                    <form action="{{ path('company_delete', { 'id': company.id }) }}" method="post" style="display: inline-block">
                        <input type="hidden" name="_method" value="DELETE" />
                        {{ form_widget(delete_form) }}
                        <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            Delete
                        </button>
                    </form>
                </div>
                {% endblock %}