<div class="col-6 col-sm-6">
    <div class="filter-container">
        <div id="filter-bloc" class="filter-header" @click="showFilter()" style="    ">
            <span class="filter-header-text" v-lang.filter> </span>({[{nbFilter}]}/3)
            <i class="fa fa-angle-down" aria-hidden="true"></i>
        </div>
        <div id="filter-bloc-body" class="filter-body " v-bind:class="{ 'd-none' : !menuFilter  }">
                <span for="all-filters" v-lang.filter_by style=" margin-left: 10px; "></span>
            <div class="check-all personalized-check">
                <input type="checkbox" id="all-filters" v-model="filterAll">
                <label for="all-filters" v-lang.all_selected></label>
            </div>
            <div class="check-info personalized-check">
                <input type="checkbox" id="info-filter" v-model="filterCompany">
                <label for="info-filter" v-lang.companies ></label>
            </div>
            <div class="check-event personalized-check">
                <input type="checkbox" id="event-filter" v-model="filterActuality">
                <label for="event-filter" v-lang.topicality ></label>
            </div>
            <div class="clearfix"></div>
            <div class="check-maintenance personalized-check">
                <input type="checkbox" id="maintenance-filter" v-model="filterNovelty">
                <label for="maintenance-filter" v-lang.news ></label>
            </div>
            <div class="notification-filter-btn-bloc">
                <button class="btn" @click="filterNotificationCancel()" style=" border-radius: 3px;" v-lang.cancel></button>
                <button class="btn btn-primary" @click="filterNotification()" style=" border-radius: 3px;" v-lang.validate></button>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-sm-6">
    <button type="submit" class="notification-btn pull-right btn btn-primary" v-lang.mark_seen  @click="markAllSeen()" style=" width: 100%; height: 30px; "> </button>
</div>
<div class="notification-content-bloc col-md-12">
    <div class="notification-bloc" v-for="notifiableNotification in filteredData" >
        <div class="notification-icon-bloc">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
        </div>
        <div class="notification-body">
            <div class="notification-body-header">
                <div class="notification-name">
                    <span v-if="notifiableNotification.seen == false">
                        <b>{[{ notifiableNotification.subject }]}</b>
                    </span>
                    <span v-else>{[{ notifiableNotification.subject }]}</span>
                </div>
                <div class="notification-date">
                    <span v-if="notifiableNotification.seen == false" class="notification-dot"></span>
                    <div v-bind:class="{ 'notification-date-seen' : !notifiableNotification.seen  }">{[{ notifiableNotification.date.date|formatDate}]}</div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="notification-body-content">
                {[{ notifiableNotification.message }]}
            </div>
            <div class="notification-name">
                <label for="info-filter"><a v-bind:href="notifiableNotification.link" target="_blank">
                    <span v-lang.show_more></span>
                    </a></label>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="load-more-btn">
    <i v-if="filteredData.length > 0" class="fa fa-refresh" aria-hidden="true"></i>
    <button class="btn-primary btn btn-primary" v-if="filteredData.length > 0 " @click="loadMoreNotification()" v-lang.load_more>
        Charger plus
    </button>
    <span v-else class="notif-show-more" v.lang.no_notifications> </span>
</div>
