{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Notification
{% endblock %}

{% block main %}
    <div class="container">
        <div id="top" class="row">
            <div class="page-header">
                <h2>View Notification <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">                
                <p><strong>Subject</strong></p>
                <p>
                    {{ notifiableNotification.notification.subject }}
                </p>
            </div>
            <div class="col-md-6">
                <p><strong>Message</strong></p>
                <p>
                    {{ notifiableNotification.notification.message}}
                </p>
            </div>
            <div class="col-md-6">
                <p><strong>Link</strong></p>
                <p>
                    {{ notifiableNotification.notification.link }}
                </p>
            </div>
            <div class="col-md-6">
                <p><strong>Date</strong></p>
                <p>
                    {{ notifiableNotification.notification.date|date('d/m/Y m:i') }}
                </p>
            </div>
            <div class="col-md-6">
                <p><strong>Seen</strong></p>
                <p>
                    {% if notifiableNotification.seen == false %} Non  {% elseif notifiableNotification.seen == true %} Oui {% endif %}
                </p>
            </div>
            <div class="col-md-6">
                <p><strong>Entity class</strong></p>
                <p>
                    {{ notifiableNotification.notifiableEntity.class }}
                </p>
            </div>
            <div class="col-md-6">
                <p><strong>Entity identifier</strong></p>
                <p>
                    {{ notifiableNotification.notifiableEntity.identifier }}
                </p>
            </div>
        </div>
    </div>
    <div class="form-group" style="margin-right: 159px;">
        <a class="btn btn-default" href="{{ path('notification') }}">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            Back to list
        </a>
        <form action="{{ path('notification_delete', { 'id': notifiableNotification.id }) }}" method="post" style="display: inline-block">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                Delete
            </button>
        </form>
    </div>
{% endblock %}