{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - office index
{% endblock %}


{#{% endblock simplethings_entityaudit_content %}#}
{#
{% extends 'base.html.twig' %}
#}


{% block main %}
    <style>
        .modal.bd-example-modal-lg.fade.in, .modal.bd-example-modal-lg.fade {
            background: none;
        }    
    </style>

</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2><a href="{{ path('office') }}">Audit</a></h2>
            </div>
        </div>       

        <!-- FILTERING -->
        <div class="col-md-12">
            <div  id="filters" class="collapse">

                {#  <form class="well" action="{{ path('notification') }}" method="get" >
                      <div class="row">
                          <div class="col-md-6">{{ form_row(filterForm.id) }}</div>
                          <div class="col-md-6">{{ form_row(filterForm.seen) }}</div>
                          <div class="col-md-6">{{ form_row(filterForm.notifiableEntity) }}</div>
                          <div class="col-md-6">
                              {{ form_rest(filterForm) }}
                          </div>
                          <div class="col-md-12">
                              <div class="form-group">
                                  <button type="submit" class="btn btn-warning" name="filter_action" value="filter"> <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filter</button>
                                  <button type="submit" class="btn btn-default" name="filter_action" value="reset"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Reset</button>
                              </div>
                          </div>
                      </div>
                  </form>#}
            </div>
        </div>
        <!-- END FILTERING -->


        <div class="col-md-3 pull-left">

            <!-- PAGE SIZE -->
            {#     <div class="pagination form-inline ">
                     <select class = "form-control"  onchange="window.location = this.value" >
                         <option value='{{ path('office', app.request.query.all|merge({'pcg_show': '10'})) }}' {% if app.request.get('pcg_show') == 10 %} selected {% endif %}>10</option>
                         <option value='{{ path('office', app.request.query.all|merge({'pcg_show': '20'})) }}' {% if app.request.get('pcg_show') == 20 %} selected {% endif %}>20</option>
                         <option value='{{ path('office', app.request.query.all|merge({'pcg_show': '50'})) }}' {% if app.request.get('pcg_show') == 50 %} selected {% endif %}>50</option>
                         <option value='{{ path('office', app.request.query.all|merge({'pcg_show': '100'})) }}' {% if app.request.get('pcg_show') == 100 %} selected {% endif %}>100</option>
                         <option value='{{ path('office', app.request.query.all|merge({'pcg_show': '500'})) }}' {% if app.request.get('pcg_show') == 500 %} selected {% endif %}>500</option>
                     </select>
                 </div>#}
            <!-- END PAGE SIZE -->

        </div>

        <div class="col-md-6">


        </div>

        <div class="col-md-3">

            <button tye="button" class="btn btn-primary h3 pull-right"  data-toggle="modal" data-target='#NewOfficeNotification' style="margin-bottom:10px">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
            </button>

            <a class="btn dropdown-toggle pull-right h3" data-toggle="collapse" data-target="#filters">
                Filter
                <span class="caret"></span>
            </a>
        </div>







        <div class="col-md-12">
            {#     {%- if form_errors(filterForm) %}
                 <div class="alert alert-block alert-error fade in form-errors">
                     {{ form_errors(filterForm) }}
                 </div>
                 {% endif %}#}
        </div>

    </div> <!-- /#top -->


    <div class="row">
        <div class="col-md-12">
            {% for type, flashMessages in app.session.flashbag.all() %} 
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-{{ type }}">
                        {{ flashMessage|raw }}
                    </div>
                {% endfor %} 
            {% endfor %} 
        </div>
    </div>


    <div class="row">

        <div class="table-responsive col-md-12">
            <p><a href="{{ path('simple_things_entity_audit_home') }}">Retour</a></p>

            <form method="POST" id="bulk_form" action="{{ path('notification_bulk_action') }} ">
                <table class="table table-striped table-hover table-bordered" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th width="20px"><input type="checkbox" class="check-all" onclick="toggleAll(this)"></th>
                                {% import "PetkoparaCrudGeneratorBundle::macros/th_sortable.html.twig" as macros %}
                            <th>{{macros.th_sortable('Class Name',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'notification')}}</th>
                            <th>{{macros.th_sortable('Identifiers',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'notification')}}</th>
                            <th>{{macros.th_sortable('Revision Type',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'notification')}}</th>
                            <th width = "155px">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for changedEntity in changedEntities %}
                            <tr>
                                <td></td>
                                <td>{{ changedEntity.className }}</td>
                                <td>{{ changedEntity.id | join(', ') }}</td>
                                <td>{{ changedEntity.revisionType }}</td>
                                <td class="actions">
                                    <a title='Show' class="btn btn-info btn-sm" href="{{ path('simple_things_entity_audit_viewentity_detail', { 'rev': revision.rev, 'className': changedEntity.className, 'id': changedEntity.id | join(',') }) }}">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div> <!-- /#list -->




    <div class="row">
        <div class="col-md-4 pull-left">
            <div class="pagination form-inline ">
                <select class = "form-control" name="bulk_action" >
                    <option value="delete">DELETE</option>
                </select>
                <input type="submit" id='bulkSubmitBtn' onclick="return confirm('Are you sure?')" form="bulk_form" class="form-control btn btn-danger btn-sm" disabled>
            </div>
        </div>

        <div class='col-md-3 pagination text-center'>
            {#                <p>{{totalOfRecordsString}}</p>#}
        </div>

        <div class="col-md-5 text-right">
            {#         {{ pagerHtml|raw }} #}
        </div>
    </div> <!-- /#bottom -->
</div> <!-- /#bottom -->

{% endblock %}

