{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} - office index
{% endblock %}

{% block main %}
    <style>
        .modal.bd-example-modal-lg.fade.in, .modal.bd-example-modal-lg.fade {
            background: none;
        }    
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h2><a href="{{ path('office') }}">Audit</a></h2>
                </div>
            </div>       
            <!-- FILTERING -->
            <div class="col-md-12">
                <div  id="filters" class="collapse">
                </div>
            </div>
            <!-- END FILTERING -->
            <div class="col-md-3 pull-left">
                <!-- PAGE SIZE -->
                <!-- END PAGE SIZE -->
            </div>
            <div class="col-md-6">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-12">
            </div>
        </div> <!-- /#top -->
        <div class="row">
            <div class="col-md-12">
                {% for type, flashMessages in app.session.flashbag.all() %} 
                    {% for flashMessage in flashMessages %}
                        <div class="alert alert-{{ type }}">
                            {{ flashMessage|raw }}
                        </div>
                    {% endfor %} 
                {% endfor %} 
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pull-left">
                <div class="pagination form-inline ">
                    {% macro showValue(value) %}
                        {% if value.timestamp is defined %}
                            {{ value|date('m/d/Y') }}
                        {% elseif value is iterable %}
                            <ul>
                                {% for element in value %}
                                    <li>{{ element }}</li>
                                    {% endfor %}
                            </ul>
                        {% else %}
                            {{ value }}
                        {% endif %}
                    {% endmacro %}
                    <h1>Detail of {{ className }} with identifiers of {{ id }} at revisions {{ rev }}</h1>
                </div>
            </div>
            <div class='col-md-3 pagination text-center'>
                {#                <p>{{totalOfRecordsString}}</p>#}
            </div>
            <div class="col-md-5 text-right">
                {#         {{ pagerHtml|raw }} #}
            </div>
        </div> <!-- /#bottom -->
        <div class="row">
            <div class="table-responsive col-md-12">
                {% import _self as helper %}
                <table class="table table-striped table-hover table-bordered" cellspacing="0" cellpadding="0">
                    <thead><tr>
                            <th>Field</th>
                            <th>Value</th>
                        </tr></thead>
                    <tbody>
                        {% for field, value in data %}
                            {% if field != "password" %}
                            <tr>

                                <td>{{ field }}</td>
                                {% if value.timestamp is defined %}
                                    <td>{{ value|date('m/d/Y') }}</td>
                                {% elseif value is iterable %}
                                    <td>
                                        <ul>
                                            {% for element in value %}
                                                <li>{{ element }}</li>
                                                {% endfor %}
                                        </ul>
                                    </td>
                                {% else %}
                                    <td>{{ value }}</td>
                                {% endif %}
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div> <!-- /#list -->
    </div> <!-- /#bottom -->
{% endblock %}