<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <title>Authentification</title>
    <meta name="description" content="User login page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="{{ asset('vue/v-frontend/compiled/main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('vue/v-frontend/compiled/login.css') }}"/>
    <!--[if lte IE 8]>
    <script src="{{ asset('assets/js/html5shiv.min.js')}}"></script>
    <script src="{{ asset('assets/js/respond.min.js')}}"></script>
    <![endif]-->
</head>
<body>
<div class="bg-container"></div>
<div class="container main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="login-wrapper">
                <div class="login-logo"><img src="{{ asset('/vue/v-frontend/compiled/static/mazars-logo.png') }}"/>
                    </div>
                <div class="login-info">Merci de saisir le code de vérification que nous vous avons envoyé par texto {%  if app.user  %} {{ app.user.mobile }}{% endif %} . Si vous n'avez pas reçu de code, vous pouvez essayer à nouveau en vous re-authentifiant.<br/> </div>
                <form class="form" action="" method="post">
                    {% for flashMessage in app.session.flashbag.get("two_factor") %}
                        <div class="alert alert-danger personalized-alert-danger error">{{ flashMessage|trans }}</div>
                    {% endfor %}

                    <p class="widget"><input id="_auth_code" type="text" autocomplete="off" name="_auth_code" class="form-control light-personalized-input" /></p>
                    {% if useTrustedOption %}<p class="widget"><label for="_trusted"><input id="_trusted" type="checkbox" name="_trusted" /> {{ "scheb_two_factor.trusted"|trans }}</label></p>{% endif %}
                    <p class="submit"><input type="submit" class=" btn btn-lg btn-primary btn-block login-btn" value="{{ "scheb_two_factor.login"|trans }}" /></p>

                    {# The logout link gives the user a way out if they can't complete the second step #}
                    <p class="cancel"><a href="{{ path('fos_user_security_logout') }}" class=" btn btn-lg btn-primary btn-block login-btn">{{ "scheb_two_factor.cancel"|trans }}</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
