<aside id="sidebar-wrapper">
    <div class="sidebar-nav">
        <div class="menu-links menu-list"  {#v-intro="' Vous retrouverez dans cette zone: <br>- Les informations lies à votre société. <br>- La liste des utilisateurs avec les droits d’accès à votre société '" v-intro-step = " 4 "#}>
            <ul id="menu-content" class="menu-content out">
                <li id="TabRemuneration">
                    <a href="{{ path('frontend_homepage') }}" id="homepage">
                        <span class="mazar-icon-accueil"></span>
                        <label id="m" v-lang.home></label>
                    </a>
                </li>
                <li id="TabRemuneration">
                    <a href="{{ path('frontend_company_setting') }}" id="company_setting">
                        <span class="mazar-icon-parametre"></span>
                        <label id="m" v-lang.company_settings></label>
                    </a>

                </li>
                <li id="TabRemuneration">
                    <a href="{{ path('frontend_userlist') }}" id="user_list">
                        <span class="mazar-icon-utilisateur"></span>
                        <label id="m" v-lang.users_list></label>
                    </a>
                </li>
            </ul>
            <hr class="menu-seprator">
            <ul id="menu-content" class="menu-content out sub-menu">
                <li id="TabRemuneration">
                    <a href="{{ HELPCENTER_REQUESTHELP_LINK }}" target="_blank">
                        <span class="mazar-icon-acces"></span>
                        <label id="m" v-lang.request_access></label>
                    </a>
                </li>
                <li>
                    <a href="{{ HELPCENTER_REQUESTHELP_LINK }}" target="_blank">
                        <span class="mazar-icon-nouvelle_entreprise"></span>
                        <label v-lang.add_company></label>
                    </a>
                </li>
            </ul>
        </div>
        <div v-if="!$data">
            <div class="myloader">
                <div class="loader">
                    <div class="loader__line"></div>
                    <div class="loader__line"></div>
                    <div class="loader__line"></div>
                    <div class="loader__line"></div>
                </div>
            </div>
        </div>
                        <div class="contact-container"  {#v-intro="'Les coordonnées de vos contacts MAZARS associés à votre Entreprise sont éagelement disponible dans cette zone.'" v-intro-step = " 5 "#}>
            <div class="contact-tiltle">
                <span class="mazar-icon-contacts"></span>
                <span class="contact-tiltle-text" v-lang.contacts></span>
            </div>
            <div class="contact-body-container">
                <div class="contact-body" v-for="option in CompanyContacts" v-cloak  id="contact-user-text" >
                    <div class="contact-user" >
                        <span class="mazar-icon-utilisateur"></span>
                        <div class="contact-user-text"><span>{[{ option.lastName }]} {[{ option.firstName }]}</span><span>{[{ option.title }]}</span></div>
                    </div>
                    <div class="contact-email">
                        <span class="mazar-icon-email">@</span>
                        <span class="contact-email-text"><a v-bind:href="'mailto:'+ option.email">{[{ option.email }]}</a></span>
                    </div>
                    <div class="contact-phone">
                        <span class="mazar-icon-tel"></span>
                        {#<span class="contact-phone-text">{[{ option.mobile }]}</span>#}
                        <span class="contact-phone-text">{[{ option.phone }]}</span>
                    </div>
                    <div class="contact-skype">
                        <i class="fa fa-skype" aria-hidden="true"></i>
                        <span class="contact-skype-text">{[{ option.imIdentifier }]} </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
