<aside id="sidebar-wrapper">
    <div class="sidebar-nav">
        <div class="menu-links menu-list">
            <ul id="menu-content" class="menu-content out">
                <li id="TabRemuneration">
                    <a href="{{ path('frontend_user') }}" id="">
                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                        <label id="m" v-lang.info_settings></label>
                    </a>
                </li>
                <li id="TabRemuneration">
                    <a href="{{path('user_security')}}">
                        <i class="fa fa-key" aria-hidden="true"></i>
                        <label id="m" v-lang.security></label>
                    </a>
                </li>
            </ul>
        </div>
        <div v-if="!$data">
            <div class="myloader">
                <div class="loader">
                    <div class="loader__line"></div>
                    <div class="loader__line"></div>
                    <div class="loader__line"></div>
                    <div class="loader__line"></div>
                </div>
            </div>
        </div>
    </div>
</aside>
